{% extends "base-vcweb-form.html" %}

{% block title %}Virtual Commons Web Login{% endblock %}

{% block head %}
{{ block.super }}

<script type='text/javascript'>
$(function() {
    $(':input').addClass('required');
    $('#loginForm').validate();
    $('#id_email').focus();
});
</script>
{% endblock head %}

{% block page %}

<form id='loginForm' action='' method='post'>
    <h3>Returning User</h3>
    <p>
    Don&#39;t have an account or a first-time user?  Please <a href='{% url core:register %}'>register first</a>.
    </p>

    {% include "includes/form-as-div.html" %}
    <div><button type='submit' class='submit'>Login</button></div>
</form>

{% endblock page %}

