<div class='payoff-absolute'>
<h3>Payoff table</h3>
<table>
	<thead>
	<tr><th>Average Pollution Level</th><th>Pay-off</th></tr>
	</thead>
	<tbody>
	<tr class='harvest-5'><td>181-200</td><td>5</td></tr>
	<tr class='harvest-4'><td>161-180</td><td>4</td></tr>
	<tr class='harvest-3'><td>141-160</td><td>3</td></tr>
	<tr class='harvest-2'><td>121-140</td><td>2</td></tr>
	<tr class='harvest-1'><td>101-110</td><td>1</td></tr>
	<tr class='harvest-0'><td>0-100</td><td>0</td></tr>
	</tbody>
</table>
</div>

<div class='payoff-ranking'>
<h3>Payoff table</h3>
<table>
	<thead>
	<tr><th>Group Ranking</th><th>Pay-off</th></tr>
	</thead>
	<tbody>
	<tr class='harvest-5'><td>1</td><td>5</td></tr>
	<tr class='harvest-4'><td>2</td><td>4</td></tr>
	<tr class='harvest-3'><td>3</td><td>3</td></tr>
	<tr class='harvest-2'><td>4</td><td>2</td></tr>
	<tr class='harvest-1'><td>5</td><td>1</td></tr>
	<tr class='harvest-0'><td>>5</td><td>0</td></tr>
	</tbody>
</table>
</div>
