body {
    background-color: #F7F7F7;
}
h2.welcome-header {
    font-weight: normal;
    font-size: 1.3em;
}
.welcome-message {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    border: none;
    border-bottom: 1px solid #e1e6e9 !important;
}
.leaderboard-group-name {
    font-family:"Lucida Grande", "Open Sans";
    font-size: 1em;
}
h4.challenge-name {
    font-size: 1.3em;
}
.challenge-tabs {
    font-family: "Lucida Grande", sans-serif;
    font-size: 1em;
}
.challenge-tabs > .nav-tabs > .active > a, .challenge-tabs > .nav-tabs > .active > a:hover {
    border-top: 3px solid #DFB03D;
    border-bottom: none;
}
.challenge-tabs > .nav-tabs > li > a {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: none;
    color: #A9A9A9;
}
.challenge-row {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
}
.challenges {
    background-color: #FFFFFF;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.expired.challenge {
    color: red;
}
button.upcoming.challenge, button.expired.challenge, button.available.challenge, button.completed.challenge {
    text-transform: uppercase;
    color: #FFF !important;
    -webkit-font-smoothing: antialiased;
    background-repeat: repeat-x;
}
button.upcoming.challenge {
    background-color: hsl(0, 0%, 54%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f4f4", endColorstr="#898989");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#f4f4f4), to(#898989));
    background-image: -moz-linear-gradient(top, #f4f4f4, #898989);
    background-image: -ms-linear-gradient(top, #f4f4f4, #898989);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #898989));
    background-image: -webkit-linear-gradient(top, #f4f4f4, #898989);
    background-image: -o-linear-gradient(top, #f4f4f4, #898989);
    background-image: linear-gradient(#f4f4f4, #898989);
    border-color: #898989 #898989 hsl(0, 0%, 43.5%);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
}
button.expired.challenge {
    background-color: hsl(0, 100%, 79%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbcbc", endColorstr="#ff9393");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffbcbc), to(#ff9393));
    background-image: -moz-linear-gradient(top, #ffbcbc, #ff9393);
    background-image: -ms-linear-gradient(top, #ffbcbc, #ff9393);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbcbc), color-stop(100%, #ff9393));
    background-image: -webkit-linear-gradient(top, #ffbcbc, #ff9393);
    background-image: -o-linear-gradient(top, #ffbcbc, #ff9393);
    background-image: linear-gradient(#ffbcbc, #ff9393);
    border-color: #ff9393 #ff9393 hsl(0, 100%, 77%);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
}
button.available.challenge,button.completed.challenge {
    background-color: hsl(96, 81%, 42%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66dd17", endColorstr="#59c114");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#66dd17), to(#59c114));
    background-image: -moz-linear-gradient(top, #66dd17, #59c114);
    background-image: -ms-linear-gradient(top, #66dd17, #59c114);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66dd17), color-stop(100%, #59c114));
    background-image: -webkit-linear-gradient(top, #66dd17, #59c114);
    background-image: -o-linear-gradient(top, #66dd17, #59c114);
    background-image: linear-gradient(#66dd17, #59c114);
    border-color: #59c114 #59c114 hsl(96, 81%, 40.5%);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
}
h1.header {
    font-family:"Open Sans";
    font-size:1.8em;
    font-weight: normal;
    line-height:133%;
    color:rgb(201,205,209);
    text-align:left;
    padding: 10px 0px 5px 0px;
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
    text-shadow:0px 1px 1px rgb(255,255,255);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #ffffffff,Positive = true)";zoom:1;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #ffffffff,Positive = true);
}
div.lighterprints-scoreboard {
    color: #A9A9A9;
}
table.lighterprints-scoreboard {
    margin-top: -37px;
}
.lighterprints-scoreboard-large {
    font-size: 3em;
    font-family: 'TrumpGothicWestW01-Medi', sans-serif;
    color: #42555e;
}
.lighterprints-scoreboard-xlarge {
    font-size: 4.6em;
    font-family: 'TrumpGothicWestW01-Medi', sans-serif;
    color: #42555e;
}
div.lighterprints-scoreboard h1 {
    font-size: 5em;
    color: #666666;
    font-family: 'TrumpGothicWestW01-Bold', sans-serif;
}
div.lighterprints-scoreboard h2 {
    font-size: 4em;
    color: #666666;
    font-family: 'TrumpGothicWestW01-Bold', sans-serif;
}
div.lighterprints-scoreboard h5 {
    padding-bottom: 15px;
}
h3.popover-title {
    font-weight: bolder;
}
.chart {
    margin-top: -25px;
}
.dashboard-content {
    margin-top: -3px;
}
.lighterprints-dark-gray {
    color: #42555e;
}
.lighterprints-gray {
    color: #D0D0D0;
}
.comment:hover, .commented {
    color: #13a5e6;
    text-decoration: none;
}
.like:hover, .liked {
    color: #FF0066;
    text-decoration: none;
}
.lighterprints-red {
    color: #FF0066;
}
.lighterprints-blue {
    color: #13a5e6;
}
.lighterprints-green {
    color: #95CB29;
}
.badge-lighterprints-green {
    background-color: #95CB29;
    color: #FFFFFF;
}
.btn-lighterprints-blue {
  background-color: #13a6e7 !important;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#39bef3), to(#0a82b2));
  background-image: -moz-linear-gradient(top, #39bef3, #0a82b2);
  background-image: -ms-linear-gradient(top, #39bef3, #0a82b2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #39bef3), color-stop(100%, #0a82b2));
  background-image: -webkit-linear-gradient(top, #39bef3, #0a82b2);
  background-image: -o-linear-gradient(top, #39bef3, #0a82b2);
  background-image: linear-gradient(#39bef3, #0a82b2);
  border-color: #0a82b2 #0a82b2 hsl(197, 89%, 31.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}
.lighterprints-scoreboard-uppercase {
    letter-spacing:1pt;
    line-height:187%;
    color:rgb(65,85,93);
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
    text-shadow:0px 1px 1px rgb(255,255,255);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #ffffffff,Positive = true)";zoom:1;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #ffffffff,Positive = true);
    font-size: 1.2em;
    font-weight: normal;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.sidebar {
    min-height: 100%;
    background-color: #FFFFFF;
}
.lighterprints-sidebar {
    padding: 10px 20px 10px 20px;
}
.lighterprints-leaderboard {
    font-weight: normal;
    color: #41555d;
}
.group-level {
    margin-top: -15px;
    vertical-align: top;
}
h3.underline {
    font-weight: normal;
}
td.group-activity-icon {
    padding-right: 2px;
}
.group-activity {
    font-family: "Lucida Grande", sans-serif;
    font-size: .9em;

}
td.group-activity {
    padding-left: 2px;
}
a {
    color:#0088cc;
    text-decoration:none;
    -webkit-transition: color 180ms ease-in;
    -moz-transition: color 180ms ease-in;
    transition: color 180ms ease-in;
}
