body {
    background-color: #F7F7F7;
}
/* navbar css from fervor 
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    -webkit-box-shadow: inset 0 1px 0px #87d7f7, inset 0 -1px 0px #0089bb;
    -moz-box-shadow: inset 0 1px 0px #87d7f7, inset 0 -1px 0px #0089bb;
    box-shadow: inset 0 1px 0px #87d7f7, inset 0 -1px 0px #0089bb;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding-left: 0;
    padding-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-width: 0 0 0px;
}
.navbar-inner {
    min-height: 64px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #009fe1;
    background-image: -moz-linear-gradient(top, #29afee, #009fe1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#29afee), to(#009fe1));
    background-image: -webkit-linear-gradient(top, #29afee, #009fe1);
    background-image: -o-linear-gradient(top, #29afee, #009fe1);
    background-image: linear-gradient(to bottom, #29afee, #009fe1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29afee', endColorstr='#009fe1', GradientType=0);
    border-bottom: 1px solid #0089bb;
    border-top: 1px solid #87d7f7;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    border-width: 0 0 0px;
}
.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    border: 0;
}
.navbar .nav > li > a {
    float: none;
    padding: 20px 27px 20px 25px;
    color: #ffffff;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-right: 1px solid rgb(5, 150, 204);
    box-shadow: 1px 0 0 rgb(24, 193, 255);
}
.navbar .brand {
    float: left;
    display: block;
    padding: 17px 25px 0px !important;
    margin-left: -20px;
    font-size: 22px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 1px #0196cd;
    border: 0 !important;
    box-shadow: none !important;
}
.nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 22px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    font-weight: bold;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: transparent;
    color: #bee3f3;
    text-decoration: none;
    cursor: pointer;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: #b9ed2e;
    text-decoration: none;
    background-color: #42555e;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-top: 1px solid #42555e;
    border-bottom: 1px solid #42555e;
    text-shadow: 0 0 5px rgba(149, 203, 41, 0.25);
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border-bottom: 1px solid #42555e;
    border-bottom-color: transparent;
    cursor: pointer;
    border-top: 1px solid #42555e;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #42555e;
    color: #ffffff;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.nav-tabs [class^="icon-"],.nav-pills [class^="icon-"],.nav-tabs [class*=" icon-"],.nav-pills [class*=" icon-"],.nav-tabs [class^="icon-"].icon-large,.nav-pills [class^="icon-"].icon-large,.nav-tabs [class*=" icon-"].icon-large,.nav-pills [class*=" icon-"].icon-large{line-height:1em;font-size:1.3em}li [class^="icon-"],.nav li [class^="icon-"],li [class*=" icon-"],.nav li [class*=" icon-"]{display:inline-block;width:1.25em;text-align:center}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 16px 10px;
    margin: 25px 0 0;
    list-style: none;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.dropdown-menu > li > a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
    font-size: 12px;
    font-family: 'Lucida Grande';
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    text-decoration: none;
    color: #13a6e7;
}
.icon-cog {
    background-position: -432px 0;
    font-size: 1.5em;
    color: #bee3f3;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #bee3f3;
    border-bottom-color: #bee3f3;
}
.dropdown .caret {
    margin-top: 8px;
    margin-left: 10px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 7px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
}
*/
.challenge-tabs > .nav-tabs > .active > a, .challenge-tabs > .nav-tabs > .active > a:hover {
    border-top: 3px solid #DFB03D;
    border-bottom: none;
}
.challenge-tabs > .nav-tabs > li > a {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: none;
    color: #A9A9A9;
}
.challenge-row {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #ddd;
}
.challenges {
    margin-top: -20px;
    background-color: #FFFFFF;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
..expired-challenge {
    color: red;
}
a.upcoming-challenge, a.expired-challenge, a.perform-challenge, a.completed-challenge {
    text-transform: uppercase;
    color: #FFF !important;
    -webkit-font-smoothing: antialiased;
    background-repeat: repeat-x;
}
a.upcoming-challenge {
    background-color: hsl(0, 0%, 54%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f4f4", endColorstr="#898989");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#f4f4f4), to(#898989));
    background-image: -moz-linear-gradient(top, #f4f4f4, #898989);
    background-image: -ms-linear-gradient(top, #f4f4f4, #898989);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #898989));
    background-image: -webkit-linear-gradient(top, #f4f4f4, #898989);
    background-image: -o-linear-gradient(top, #f4f4f4, #898989);
    background-image: linear-gradient(#f4f4f4, #898989);
    border-color: #898989 #898989 hsl(0, 0%, 43.5%);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
}
a.expired-challenge {
    background-color: hsl(0, 100%, 79%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbcbc", endColorstr="#ff9393");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffbcbc), to(#ff9393));
    background-image: -moz-linear-gradient(top, #ffbcbc, #ff9393);
    background-image: -ms-linear-gradient(top, #ffbcbc, #ff9393);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbcbc), color-stop(100%, #ff9393));
    background-image: -webkit-linear-gradient(top, #ffbcbc, #ff9393);
    background-image: -o-linear-gradient(top, #ffbcbc, #ff9393);
    background-image: linear-gradient(#ffbcbc, #ff9393);
    border-color: #ff9393 #ff9393 hsl(0, 100%, 77%);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
}
a.perform-challenge,a.completed-challenge {
    background-color: hsl(96, 81%, 42%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66dd17", endColorstr="#59c114");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#66dd17), to(#59c114));
    background-image: -moz-linear-gradient(top, #66dd17, #59c114);
    background-image: -ms-linear-gradient(top, #66dd17, #59c114);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66dd17), color-stop(100%, #59c114));
    background-image: -webkit-linear-gradient(top, #66dd17, #59c114);
    background-image: -o-linear-gradient(top, #66dd17, #59c114);
    background-image: linear-gradient(#66dd17, #59c114);
    border-color: #59c114 #59c114 hsl(96, 81%, 40.5%);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
}
h1.header {
    font-family:"Open Sans";
    font-size:1.8em;
    font-weight: normal;
    line-height:133%;
    color:rgb(201,205,209);
    text-align:left;
    padding: 10px 0px 5px 0px;
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
    text-shadow:0px 1px 1px rgb(255,255,255);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #ffffffff,Positive = true)";zoom:1;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #ffffffff,Positive = true);
}
div.lighterprints-scoreboard {
    color: #A9A9A9;
}
.lighterprints-scoreboard-large {
    font-size: 3em;
    font-family: 'TrumpGothicWestW01-Bold', sans-serif;
    color: #666666;
}
.lighterprints-scoreboard-xlarge {
    font-size: 4.6em;
    font-family: 'TrumpGothicWestW01-Bold', sans-serif;
    color: #666666;
}
div.lighterprints-scoreboard h1 {
    font-size: 5em;
    color: #666666;
    font-family: 'TrumpGothicWestW01-Bold', sans-serif;
}
div.lighterprints-scoreboard h2 {
    font-size: 4em;
    color: #666666;
    font-family: 'TrumpGothicWestW01-Bold', sans-serif;
}
div.lighterprints-scoreboard h5 {
    padding-bottom: 15px;
}
h3.popover-title {
    font-weight: bolder;
}
.chart {
    margin-top: -25px;
}
.dashboard-content {
    margin-top: -3px;
}
.lighterprints-gray {
    color: #D0D0D0;
}
.comment:hover, .commented {
    color: #13a5e6;
    text-decoration: none;
}
.like:hover, .liked {
    color: #FF0066;
    text-decoration: none;
}
.lighterprints-red {
    color: #FF0066;
}
.lighterprints-blue {
    color: #13a5e6;
}
.lighterprints-green {
    color: #95CB29;
}
.badge-lighterprints-green {
    background-color: #95CB29;
    color: #FFFFFF;
}
.btn-lighterprints-blue {
  background-color: hsl(197, 89%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#39bef3", endColorstr="#0a82b2");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#39bef3), to(#0a82b2));
  background-image: -moz-linear-gradient(top, #39bef3, #0a82b2);
  background-image: -ms-linear-gradient(top, #39bef3, #0a82b2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #39bef3), color-stop(100%, #0a82b2));
  background-image: -webkit-linear-gradient(top, #39bef3, #0a82b2);
  background-image: -o-linear-gradient(top, #39bef3, #0a82b2);
  background-image: linear-gradient(#39bef3, #0a82b2);
  border-color: #0a82b2 #0a82b2 hsl(197, 89%, 31.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}
.lighterprints-scoreboard-uppercase {
    letter-spacing:1pt;
    line-height:187%;
    color:rgb(65,85,93);
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
    text-shadow:0px 1px 1px rgb(255,255,255);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #ffffffff,Positive = true)";zoom:1;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #ffffffff,Positive = true);
    font-size: 1.2em;
    font-weight: normal;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.sidebar {
    min-height: 100%;
    background-color: #FFFFFF;
}
.lighterprints-sidebar {
    padding: 10px 20px 10px 20px;
}
.lighterprints-leaderboard {
    font-weight: normal;
    color: #41555d;
}
.group-level {
    margin-top: -15px;
    vertical-align: top;
}
h3.underline {
    font-weight: normal;
}
td.group-activity-icon {
    padding-right: 2px;
}
td.group-activity {
    padding-left: 2px;
}
a {
    color:#0088cc;
    text-decoration:none;
    -webkit-transition: color 180ms ease-in;
    -moz-transition: color 180ms ease-in;
    transition: color 180ms ease-in;
}
