Django==1.7.5
Fabric==1.10.1
Markdown==2.6
Pillow==2.7.0
PyYAML==3.11
certifi==14.05.14
coverage==3.7.1
django-autocomplete-light==2.0.9
django-bootstrap3==5.1.1
django-contact-form==1.0
django-extensions==1.5.0
django-kronos==0.6
django-localflavor==1.1
django-model-utils==2.2
django-mptt==0.6.1
django-redis==3.8.3
django-social-auth==0.7.28
ecdsa==0.13
enum34==1.0.4
httplib2==0.9
oauth2==1.5.211
paramiko==1.15.2
psycopg2==2.6
pycrypto==2.6.1
python-coveralls==2.5.0
python-openid==2.2.5
raven==5.2.0
requests==2.5.3
sockjs-tornado==1.0.1
tornado==4.1
tornado-redis==2.4.18
redis==2.10.3
unicodecsv==0.9.4
wsgiref==0.1.2
xlrd==0.9.3
xlwt==0.7.5
dealer==2.0.4
uwsgi==2.0.9
# virtualcommons forked django-cas
git+http://git@github.com/virtualcommons/django-cas.git#egg=cas

