Django==1.10.7
Fabric==1.13.2
Markdown==2.6.8
PyYAML==3.12
coverage==4.3.4
django-autocomplete-light==2.3.1
django-bootstrap3==8.2.2
django-contact-form==1.3
django-extensions==1.7.8
django-kronos==1.0
django-localflavor==1.4.1
django-model-utils==3.0.0
django-mptt==0.8.7
django-redis==4.8.0
djangorestframework==3.6.2
ecdsa==0.13
enum34==1.1.6
httplib2==0.10.3
oauth2
psycopg2==2.7.1
python-coveralls==2.9.1
raven==6.0.0
requests==2.13.0
sockjs-tornado==1.0.3
tornado==4.5.1
tornado-redis==2.4.18
redis==2.10.5
unicodecsv==0.14.1
wsgiref==0.1.2
xlrd==1.0.0
xlwt==1.2.0
dealer==2.0.5
uwsgi==2.0.15
# virtualcommons forked django-cas
git+https://git@github.com/virtualcommons/django-cas.git#egg=cas
