{% extends "participant/base.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel='stylesheet' href='{% static "css/broker/style.css" %}'/>
{% endblock %}
{% block page %}
    <div class="container">
        <div data-bind='template: { name: templateName() }'>
        </div>
    </div>
{% endblock page %}


{% block javascript %}
    {{ block.super }}
    <script src='{% static "js/bootstrap-tour.js" %}'></script>
    <!-- ko templates -->
    <script type='text/html' id='WAITING_ROOM'>
        <h3>Waiting for other participants</h3>

        <div>
            Please wait. The experiment will continue shortly once all the participants are ready.
            <p>
            <span class='badge' data-bind='css: { "badge-important": readyParticipants() < (participantCount() / 2), "badge-success": readyParticipants() > (participantCount() / 2)}, text: readyParticipants'></span>
                of <span class='badge badge-success' data-bind='text: participantCount'></span> participants
                are ready.
            </p>
        </div>
        </div>
        <div class='progress progress-success progress-striped active'>
            <div class='bar' data-bind='style: { width: readyParticipantsPercentage() + "%" }'></div>
        </div>
    </script>
    <script type='text/html' id='WELCOME'>
        <h3>Welcome</h3>

        <p class='lead'>
            The experiment will begin shortly after everyone has been assigned a station and has had time to log in.
        </p>

        <div class='well'>
            <div class='alert alert-info'>
                <i class='text-success icon-info-sign'></i> Please <strong>wait quietly and do not close this window,
                open any other applications, or communicate with any of
                the other participants</strong>.
            </div>
            <div class='alert alert-info'>
                <i class='text-success icon-info-sign'></i>
                Please also make sure to turn off, silence, and disable vibration alerts on your cell phones and any
                mobile devices before the experiment begins.
            </div>
            <div>
                Thank you for your cooperation.
            </div>
            <div class="progress progress-striped">
                <div class="bar" style="width: 20%;"></div>
            </div>
        </div>
    </script>

    <script type='text/html' id='GENERAL_INSTRUCTIONS'>
        <div id='instructions1'>
            <h4>Harvesting and Profit</h4>

            <p>
                This experiment is intended to recreate management decision about natural resources.
                You have been assigned randomly to a group of four people.
                You represent a manager of a natural resource.
            </p>
            <h4>
                In this game you can earn money.
            </h4>

            <p>
                Your earnings depend on how well you will do in the game. Let me tell you how the game works.
            </p>

            <br>
            <h4>The game setup</h4>
            <img class="image image-1" src="{{ STATIC_URL }}images/broker/SES.jpg" '>
            <p>
                Imagine you have an ecological resource at your disposal.
                This resource is also shared with another player.
                In the image you see, players on the left-hand side share the first resource and
                players on the right hand-side share another resource.
                In other words, there are two groups of <strong data-bind='text:participantsPerSubGroup'></strong>
                people within the larger group of <strong data-bind='text:participantsPerGroup'></strong> people.
            </p>

            <h4>Resources influence each other</h4>

            <p>
                The resources you see in the picture, they influence each other. Which means that
                the decision you take also influences the resources of the other group.
            </p>

            <ul class='pager'>
                <li class='next'>
                    <a href='javascript: void();' data-bind='click: activateInstructionsPageTwo'>OK, I understand</a>
                </li>
            </ul>
        </div>
    </script>


    <script type='text/html' id='GENERAL_INSTRUCTIONS2'>
        <div id='instructions2'>
            <h4>How to play</h4>

            <p>
                At each round you have <strong data-bind='text: maxHarvestDecision'></strong> hours available to work on
                this resource,
                and you can invest your time in two different types of activities:
                You can spend time harvesting the resource or spend time in conserving the resource.
                </br>
                Notice that if you prefer, you can invest all your time in only one of the activities.
                You will play several rounds.
                As I said before you can earn money in this game.
                At the end of each round the amount of time you spent in harvesting will be transformed into earnings.
                So the amount of money you get depends primarily on the amount of time you invest into harvesting.

                For each hour you harvest you will receive <strong
                    data-bind='text: formatCurrency(dollarsPerToken())'></strong>
                This is your standard earning.

            <p>
                <strong data-bind='text: formatCurrency(maxEarnings())'></strong>
            </p>
            </p>
            <h4>Your standard earning can increase</h4>

            <p>
                This standard revenue can change in two ways:
                If players of subgroup A, taken together, reach <span class='badge badge-important'
                                                                      data-bind='text: localThreshold'></span> hours of
                conservation,
                then each hour they spend harvesting will be paid <span class='badge badge-important'
                                                                        data-bind='text: localBonus'></span>% more than
                the standard revenue.
                The same applies for subgroup B.
                If all players in the game, taken together, reach <span class='badge badge-important'
                                                                        data-bind='text: globalThreshold'></span> hours
                of conservation,
                then returns will again increase by <span class='badge badge-important'
                                                          data-bind='text: globalBonus'></span>%.
            </p>

            <h4>Decisions are private</h4>

            <p>
                Keep in mind that decisions are private, and everyone decides for themselves how much time they want to
                invest in each activity.
            </p>
            <ul class='pager'>
                <li class='previous'>
                    <a href='javascript: void();' data-bind='click: activateInstructionsPageOne'>Back</a>
                </li>
                <li class='next'>
                    <a href='javascript: void();' data-bind='click: activatePracticeRoundInstructions'>OK, Continue to
                        practice rounds</a>
                </li>
            </ul>
        </div>
    </script>


    <script type='text/html' id='PRACTICE_ROUND_INSTRUCTIONS'>
        <h3>
            Practicing
        </h3>

        <p>
            Let’s do some practicing so you can get familiar with the interface.
        </p>

        <h3>No Payment</h3>
        This practice will NOT count for your real earnings. <br>
        It is just an opportunity for you to get familiar with the game.


        </p>
        <ul class='pager'>
            <li class='previous'>
                <a href='javascript:void();' data-bind='click: activateInstructionsPageTwo'>Back</a>
            </li>
            <li class='next'>
                <a href='javascript: void();' data-bind='click: participantReady.bind($data, "Finished instructions")'>I have fully read and understand these instructions</a>
            </li>
        </ul>
    </script>
    <script type='text/html' id='PRACTICE'>

    </script>
    <script type='text/html' id='REGULAR'>
    <div data-bind='if: showChatRooms'>
        <h3>Chat</h3>

        <div data-bind='ifnot: chatEnabled'>
            <div class='alert alert-info'>
                <i class='icon-warning-sign'></i> Chat is currently disabled.
            </div>
        </div>
        <div data-bind='if: chatEnabled'>
            <div class='row'>
                <div class='span3'>
                    <form id="within-group-chat-form" class='form-inline'>
                        <div class='input-prepend input-append'>
                            <span class='add-on'><i class='text-info icon-comment'></i></span>
                            <input name='participant_group_id' type='hidden' data-bind='value: participantGroupId'>
                            <input id='withinGroupChatMessage' name='message' type="text" placeholder="Message your group">
                            <button class='btn btn-primary' data-bind='click: submitWithinGroupChatMessage'>Send</button>
                        </div>
                    </form>
                    <div class='chat-window'>
                        <div class='chat-messages' data-bind='foreach: withinGroupChatMessages'>
                            <i class='icon-user muted'></i> 
                            <strong>Participant <span data-bind='text: participant_number'></strong><b class='pull-right muted' data-bind='text: date_created'></b>
                            <p>
                                <small><i class='icon-double-angle-right'></i></small>
                                <span data-bind='text: message'></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class='span1'>
                </div>
                <div class='span3'>
                    <form id="between-group-chat-form" class='form-inline'>
                        <div class='input-prepend input-append'>
                            <span class='add-on'><i class='text-info icon-comment'></i></span>
                            <input id='participant_group_id' type='hidden' data-bind='value: participantGroupId'>
                            <input id='betweenGroupChatMessage' type="text" placeholder="Message the other group">
                            <button class='btn btn-primary' data-bind='click: submitBetweenGroupChatMessage'>Send</button>
                        </div>
                    </form>
                    <div class='chat-window'>
                        <div class='chat-messages' data-bind='foreach: betweenGroupChatMessages'>
                            <i class='icon-user muted'></i> <strong>Participant <span
                                data-bind='text: participant_number'></strong><b class='pull-right muted'
                                                                                 data-bind='text: date_created'></b>

                            <p>
                                <small><i class='icon-double-angle-right'></i></small>
                                <span data-bind='text: message'></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-bind='if: chatEnabled'>
        <form id='chatPreferencesForm' class='form-horizontal'>
            <input type='hidden' name='participant_group_id' data-bind='value:participantGroupId'>
            <label class='checkbox'>
                <input type='checkbox' name='chat_within_group'>
                <strong>Talk within group FREE</strong>
            </label>
            <label class='checkbox'>
                <input type='checkbox' name='chat_between_group'>
                <strong>Talk with other group (costs 2h)</strong>
            </label>
            <button class='btn btn-primary' data-bind='click: submitChatPreferences'>Submit Chat Preferences</button>
        </form>
    </div>

    <div class='row'>
        <div class='span4'>
            <h3>My Current Earnings</h3>
            <div>
                <span id="totalEarning" data-bind='text: totalEarning'></span>
            </div>
            <div data-bind='if: isTimerRunning'>
                <div class='alert alert-error'>
                    <b><i class='icon-time'></i> Time left:</b>
                    <span data-bind='text: secondsLeft'></span>
                </div>
            </div>
        </div>
    </div>

    <div data-bind='if: practiceRound'>
        <div class='alert alert-error alert-block'>
            <h4>PRACTICE ROUND</h4>
            This is a practice round. The decisions you make in this round will <b>NOT</b> contribute to your
            earnings.
                <span data-bind="if: isFirstPracticeRound">
                <button class='btn btn-primary' data-bind='click: setupFirstPracticeRoundTour'>Tour</button>
                    <a href="#" data-bind="">Show me 1st Instructions again</a>
                </span>

        </div>
        <div>
            Insert system image here
        </div>

        <div data-bind="ifnot: isTimeOut" id='resourceDisplay'>
            <div class='alert alert-info'>You have <strong class='badge badge-success'
                                                           data-bind='text:maxHarvestDecision'></strong> hours
                left to use
                today.
            </div>

        </div>
        <div data-bind="if: isTimeOut">
            <div style='padding: 8px; margin: auto; border: solid 1px; background: url("{{ STATIC_URL }}images/broker/SES.jpg") no-repeat center; height: 282px; width:425px;'>
                &nbsp;
            </div>
            <div class='alert alert-error'>You have no time left today. Please wait until the next round begins.
            </div>
        </div>
        <div data-bind='if: hasSubmit'>
            <div class='alert alert-error'>
                You have invested <span class='badge badge-important' data-bind='text: harvestDecision'></span>
                hours in
                harvesting today.
                You have invested <span class='badge badge-important'
                                        data-bind='text: conservationDecision'></span>
                hours in conservation today.
            </div>
        </div>

        <!-- The table for decision and showing payments from last round -->
        <div class='span6'>
            <form id='vcweb-form' action='' method='post' class='form-inline'>
                {% csrf_token %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th colspan="3">Round Decisions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="td-1">Harvesting</td>
                        <td>
                            <div>
                                <div class='control-group'>
                                    <div class='controls input-append'>
                                        <input id='participantGroupId' type='hidden' name='participant_group_id'
                                               value="{{ participant_group_relationship.pk }}"/>
                                        <input id='harvestDecisionId' type="number" size="1" maxlength="1"
                                               name='integer_decision'
                                               class='required input-mini' min="0"
                                               data-bind="value: harvestDecision, attr: { max: maxHarvestDecision }"/>
                                        <span class='add-on'>hrs</span>

                                        <button id='submitDecision' data-bind='click: submitDecision'
                                                type='submit' class='btn'>
                                            Harvest
                                        </button>
                                    </div>
                                </div>

                            </div>
                    </tr>
                    <tr>
                        <td class="td-1">Conservation</td>
                        <td>
                            <div>

                                <div class='input-append'>
                                    <input id='conservationDecision' type="number" size="1" maxlength="1"
                                           name='conservation_decision' class='input-mini disabled' disabled min="0"
                                           data-bind="value: conservationDecision"/>
                                    <span class='add-on'>hrs</span>
                                </div>


                            </div>
                    </tr>
                </table>
            </form>
            <p></p>
            <table class="table">
                <thead>
                <tr>
                    <th colspan="3">Your decisions last round</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="td-1">Harvesting</td>
                    <td><strong class='text-success'><span data-bind='text:lastRoundHarvestDecision'></span> <i
                            class='icon-leaf'></i></strong></td>
                    <td class="td-1"></td>
                </tr>
                <tr>
                    <td class="td-1">Conservation</td>
                    <td span="2"><strong class='text-success'><span id="lastRoundMyGroupConservation"
                                                                    data-bind='text:lastRoundMyGroupConservation'></span>
                        <i class='icon-leaf'></i></strong>
                    </td>
                </tr>
                <tr>
                    <td class="td-1">Global Conservation</td>
                    <td span="2"><strong class='text-success'><span
                            data-bind='text:lastRoundGlobalConservation'></span> <i
                            class='icon-leaf'></i></strong>
                    </td>
                </tr>
            </table>
            <p>
            <table class="table">
                <thead>
                <tr>
                    <th colspan="3">Payments from last round</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="td-1">from your harvesting</td>
                    <td><span id="lastRoundHarvestPayOff" data-bind="text: lastRoundHarvestPayOff"></span></td>
                    <td class="td-1"></td>
                </tr>
                <tr>
                    <td class="td-1">from within group bonus</td>
                    <td span="2"><span id="lastRoundGroupLocalBonus"
                                       data-bind="text: lastRoundGroupLocalBonus"></span>
                    </td>
                </tr>
                <tr>
                    <td class="td-1">from between group bonus</td>
                    <td span="2"><span id="lastRoundGroupGlobalBonus"
                                       data-bind="text: lastRoundGroupGlobalBonus"></span>
                    </td>
                </tr>
            </table>


        </div>


    </script>
    <script type="text/javascript">
    var tour;
    $(function () {
        function ExperimentModel(experimentModelJson) {
            var self = this;
            var model = ko.mapping.fromJS(experimentModelJson);
            model.readyParticipantsPercentage = ko.computed(function () {
                return (model.readyParticipants() / model.participantCount()) * 100;
            });
            model.activateWaitingRoomPage = function () {
                console.debug("activating waiting room page");
                model.templateName('WAITING_ROOM');
            }
            model.submitWithinGroupChatMessage = function() {
                console.debug("submitting within group chat message");
                var formData = $('#within-group-chat-form').serialize();
                var message = $('#withinGroupChatMessage').val();
                if (message) {
                    getWebSocket().send(createMessageEvent(message));
                    $('#withinGroupChatMessage').val('').focus();
                }
            }
            model.submitBetweenGroupChatMessage = function() {
                console.debug("submitting between group chat message");
            }

            model.submitChatPreferences = function (data, evt) {
                $('#chatPreferencesForm').find(':checkbox:not(:checked)').prop('checked', false);
                var formData = $('#chatPreferencesForm').serialize();
                console.debug("form data: ");
                console.debug(formData);
                $.post('submit-chat-preferences', formData, function(response) {
                    console.debug("chat preferences response");
                    console.debug(response);
                    $('#chatPreferencesForm').hide();
                });
            };
            model.isTimeOut = ko.observable(0)
            model.hasSubmit = ko.observable(0)
            model.secondsLeft = ko.observable(0);
            model.currentInterval = ko.observable();
            model.setCurrentInterval = function (intervalId) {
                model.clearCurrentInterval();
                model.currentInterval(intervalId);
            }
            model.clearCurrentInterval = function () {
                console.debug("clearing current interval: " + model.currentInterval());
                if (model.currentInterval()) {
                    clearInterval(model.currentInterval());
                    model.currentInterval(undefined);
                }
            }
            model.tick = function () {
                model.secondsLeft(model.secondsLeft() - 1);
            }
            model.isTimerRunning = ko.computed(function () {
                return model.secondsLeft() > 0;
            });
            model.setupFirstPracticeRoundTour = function () {
                // set up first bootstrap tour
                var tourFirst = new Tour();
                tourFirst.addStep({
                    element: "#harvestDecisionId",
                    title: "Here's where you insert your harvesting decision",
                    content: "For this practice round, go ahead and put 6 hours into harvesting. Each round you will have a maximum of 6  minute to make a harvest decision.", /* content of the popover */
                    placement: "top"
                });
                tourFirst.addStep({
                    element: "#conservationDecision",
                    title: "Your conservation decision",
                    content: "Note that the rest of your available hours will be put into conservation.",
                    placement: "bottom"
                });
                tourFirst.addStep({
                    element: "#submitDecision",
                    title: "Submit your decision",
                    content: "Now click here to submit your harvest choice. Your choice will be submitted automatically when time is up. A countdown will alert you when there are 10 seconds remaining to make a harvest. The default harvest is zero.", /* content of the popover */
                    placement: "right"
                });
                tourFirst.start(true);
                tour = tourFirst;
                console.debug("set up tour");
                console.debug(tour);
            };
            model.setupSecondPracticeRoundTour = function () {
                var tourSecond = new Tour();
                tourSecond.addStep({
                    element: "#lastRoundHarvestPayOff",
                    title: "Your round earnings",
                    content: "Here you will see how much you earned in each round. You receive 0.6 from harvesting. Because everyone contributed 4 hours to conservation, resulting in 8 hours for group A and 8 hours for group B.",
                    placement: "right"
                });
                tourSecond.addStep({
                    element: "#lastRoundGroupLocalBonus",
                    title: "Bonus",
                    content: "So the standard revenue of $0.10/hour has been increased by 50% you receive an extra $0.30 and your total is $0.90.  If the sum within your group was less than 5 hours you would not receive benefits. ",
                    placement: "right"
                });
                tourSecond.addStep({
                    element: "#lastRoundMyGroupConservation",
                    title: "Bonus",
                    content: "If the sum of conservation time of all players were more than 22 hours you would get a further increase of 50% in the revenues.",
                    placement: "right"
                });
                tourSecond.addStep({
                    element: "#totalEarning",
                    title: "Total Earning",
                    content: "Here you can your total earning throughout the game",
                    placement: "right"
                });

                tourSecond.addStep({
                    element: "#totalEarning",
                    title: "Communication",
                    content: "At some point during the game you will have the option of communicating to other players. Communication to the other player within your group is FREE. Communication with the other group costs 2 hours.",
                });
                tourSecond.addStep({
                    element: "#totalEarning",
                    title: "",
                    content: "For this practice, go ahead and choose 'Communication within Group' and 'Communication with other Group'",

                });
                tourSecond.addStep({
                    element: "#totalEarning",
                    title: "Chat rooms",
                    content: "Communication will happen through these chat windows. Communications is time bound. Each message you send will be targeted a single player. Go ahead and send a message. It will not be seen by others for this practice.",
                    onHide: function (tourSecond) {
                        // post a dummy message to the chat... "Here's an example of a reply message"
                    }

                });
                tourSecond.addStep({
                    element: "#totalEarning",
                    title: "Chat rooms",
                    content: "Remember that all your choices are independent and none will see what your decisions are.",
                });
                tourSecond.start();
            };
            model.update = function () {
                $.get('view-model', { participant_group_id: model.participantGroupId(), },
                      function (response) {
                          console.debug("updating with response: ");
                          console.debug(response);
                          ko.mapping.fromJS(response, model);
                          if (model.isFirstPracticeRound()) {
                              model.setupFirstPracticeRoundTour();
                          }
                          else if (model.isSecondPracticeRound()) {
                              model.setupSecondPracticeRoundTour();
                          }
                      });
            };
            // activate instructions click bindings
            model.activateInstructionsPageOne = function () {
                model.templateName('GENERAL_INSTRUCTIONS');
            };
            model.activateInstructionsPageTwo = function () {
                model.templateName('GENERAL_INSTRUCTIONS2');
            };
            model.activateInstructionsPageThree = function () {
                model.templateName('GENERAL_INSTRUCTIONS3');
            };
            model.activatePracticeRoundInstructions = function () {
                model.templateName("PRACTICE_ROUND_INSTRUCTIONS");
            }
            model.activateTreatmentInstructions = function () {
                model.templateName("TREATMENT_INSTRUCTIONS");
            }
            model.dysplayFirstInstructionsAgain = function () {
                tourFirst.start(true);
            }
            model.dysplaySecondInstructionsAgain = function () {
                tourSecond.start(true);
            }
            //for displaying the different network structures
            model.networkStructure = ko.observable("{{STATIC_URL}}images/broker/SES.jpg");
            model.networkStructureImageWidth = ko.observable("600px");
            model.networkStructureImageHeight = ko.observable("80px");
            model.checkReadyParticipants = function() {
                $.get('/experiment/check-ready-participants', { participant_group_id: model.participantGroupId() }, function (response) {
                    model.readyParticipants(response.number_of_ready_participants);
                });
            }
            model.participantReady = function(message) {
                $.post('/experiment/participant-ready', { participant_group_id: model.participantGroupId() }, function (response) {
                    getWebSocket().send(createReadyEvent(message));
                    model.readyParticipants(response.number_of_ready_participants);
                    model.activateWaitingRoomPage();
                });
            }
            model.conservationDecision = ko.computed(function () {
                return model.maxHarvestDecision() - model.harvestDecision();
            });
            //             model.numberOfTreesPerRow = ko.observable(10);
            //             model.isResourceEmpty = ko.computed(function() {
            //                 return model.resourceLevel() == 0;
            //             });
            //             model.resourcesToDisplay = ko.computed(function() {
            //                 if (model.resourceLevel() > 0) {
            //                     return Math.min(model.resourceLevel(), 20);
            //                 }
            //                 return 0;
            //             });

            //          
            model.startChatTimer = function () {
                model.enableChat();
                model.secondsLeft(60);
                model.setCurrentInterval(
                    setInterval(function () {
                    model.tick();
                    if (!model.isTimerRunning()) {
                        model.disableChat();
                        model.clearCurrentInterval();
                    }
                },
                1000));
            };
            model.startHarvestDecisionTimer = function () {
                model.secondsLeft(10);
                model.setCurrentInterval(setInterval(function () {
                    model.tick();
                    if (!model.isTimerRunning()) {
                        model.submitDecision();
                        model.clearCurrentInterval();
                    }
                },
                1000));
            };
            model.startChatOptionTimer = function () {
                model.enableChatOption();
                model.secondsLeft(10);
                model.setCurrentInterval(
                    setInterval(function () {
                    model.tick();
                    if (!model.isTimerRunning()) {
                        model.disableChatOption();
                        model.clearCurrentInterval();
                    }
                },
                1000));
            };
            model.submitDecision = function (data, evt) {
                var formData = $('#vcweb-form').serialize();
                $.post('submit-decision', formData, function (response) {
                    console.log(response);
                    if (response.success) {
                        console.debug("updating view model");
                        ko.mapping.fromJSON(response.experimentModelJson, model);
                        getWebSocket().send()
                    }
                    // model.secondsLeft(0);
                    // model.hasSubmit(true);
                    // model.clearCurrentInterval();
                });
            };
            return model;
        }

        function initialize(experimentModelJson) {
            var experimentModel = new ExperimentModel(experimentModelJson);
            ko.applyBindings(experimentModel);
            console.debug("CURRENT TEMPLATE: " + experimentModel.templateName());
            var s = connect();
            s.onmessage = function (response) {
                console.debug(response);
                var data = $.parseJSON(response.data);
                console.debug(data);
                switch (data.event_type) {
                    case 'chat':
                        experimentModel.withinGroupChatMessages.unshift(data);
                        break;
                    case 'update':
                        console.debug("updating view model");
                        experimentModel.update();
                        break;
                    case 'participant_ready':
                        experimentModel.checkReadyParticipants();
                        break;
                    default:
                        console.debug("unhandled json message:" + json);
                        break;
                }
            };
        }

        var experimentModelJson = $.parseJSON("{{ experimentModelJson|escapejs }}");
        initialize(experimentModelJson);

    });
    </script>
    {% endblock %}
