{% extends "experimenter/base.html" %}

{% block title %} {{experiment.namespace}} Configuration {% endblock %}

{% block page %}

<fieldset>
    <legend>{{experiment}} (id: {{ experiment.pk }})</legend>
        <li>Status: <span id='experiment-status'>{{ experiment.status }}</span></li>
    </ul>

    <form id="configureform">
    <div class='info'>
Features:<br>
<input id='' type="checkbox" checked/> consent<br>
<input id='' type="checkbox" checked/> quiz<br>
<input id='' type="checkbox" checked/> quiz results<br>
<input id='' type="checkbox" checked/> survey<br>
<input id='' type="checkbox" checked/> debriefing<br>
        <div>
            <button type='submit'>Save</button>
        </div>
        </div>

    <div class='info'>
Treatment Configuration:<br>
[display list of existing treatments with option to delete]<br>
(+)Add treatment<br>
	<input id='' type="checkbox" checked/> information<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id='' type="checkbox" />own-group<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id='' type="checkbox" />other-groups<br>
	<input id='' type="checkbox" checked/> communication<br>
	<input id='' type="checkbox" checked/> enable emails<br>
	instructions<br>
	<input id='' type="textarea" /><br>
        <button type='submit'>Save</button>
        </div>	

    <div class='info'>
Resource Configuration:<br>
	Pollution <input id='' type="text"  value="@" size="1" disabled/><br>
	Growth Rate <input id='' type="text" value="(0-9)" size="3" disabled/><br>
	Growth Formula [displays formula]<br>
	Resource<br>
	<input id='' type="textarea" /><br>
        <button type='submit'>Save</button>
        </div>	

    <div class='info'>
Experimental Protocol:<br>
Number of Groups <input id='' type="text" value="(0-9)" size="3" disabled/><br>
Number of Treatments <input id='' type="text"  value="[from treatment config]" disabled/><br>
Harvest per hour Limit <input id='' type="text" value="(0-9)" size="3" disabled/><br>
        <button type='submit'>Save</button>
        </div>


    </form>
    </div>

    <div class='info'>
        <a href='allocate-groups'>allocate groups</a> | 
        <a href='#'>view data</a> |
        <a href='#'>download data</a>
    </div>


    {% if experiment.groups.count > 0 %}
    {% for group in experiment.groups.all %}
    <h3> {{ group }} </h3>
    <div class='participants'>
        <table>
            <thead>
                <th>Participant</th><th>Round</th><th>Parameter</th><th>Value</th>
            </thead>
            <tbody>
                {% for participant in group.participant_set.all %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class='data'>
        Group round data:
        <ul>
            {% for data_value in group.current_round_data_values.all %}
            <li> {{ data_value }} </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    {% else %}
    <div class='info'>Groups have not been allocated yet.</div>
    {% endif %}
</fieldset>
</p>


{% endblock page %}
