body {
    padding-top: 50px;
}
a.external {
    background: url(../images/external.png) center right no-repeat;
    padding-right: 13px;
}
h1, h2, h3 {
    color: #549900;
}
h2, h3 {
    border-bottom:1px solid #333;
}
/*
h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.0em; }
h5 { font-size: 0.9em; }
*/
label.error {
    background: url('../images/unchecked.gif') no-repeat left center #FBE3E4;
    font-size: .8em;
    margin:0.3em;
    padding:0.3em;
    padding-left: 1.1em;
    margin-left: 0.3em;
}
.chat {
    height: 20em;
    overflow: auto;
    margin-bottom: 10px;
}
#chatText {
    width: 90%;
}
.chat-message {
    margin-bottom: 5px;
}
/* footer css from guarantee */
#footer {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    background: url(guarantee/images/img02.gif) repeat-x left top;
}
#footer p {
    margin: 0;
    padding: 15px 0px 0px 0px;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    font-size: .8em;
    color: #7B1605;
}
#footer a {
    color: #36241B;
    text-decoration: underline;
}
.scrollable-messages {
    height: 20em;
    overflow: auto;
    margin-bottom: 10px;
}
#experiment-messages {
    height: 230px;
    overflow: auto;
}
