body {
    font-family: 'Open Sans', sans-serif; 
    -webkit-font-smoothing: antialiased;
    padding-top: 50px;
    height: 100%;
}
a.external {
    background: url(../images/external.png) center right no-repeat;
    padding-right: 13px;
}
h1,h2,h3,h4,h5 {
    color: #42555e;
    font-weight: bold;
}
.devserver {
    margin-top: 20px;
}
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
.dashboard-header {
    font-size: 2em;
}
.bold {
    font-weight: bolder;
}
.alert-white {
    background: #FFFFFF;
    border: 1px solid #e1e6e9;
    color: #5F6E77;
}
label.error {
    background: #FBE3E4;
    font-size: .9em;
    margin: 0.4em;
    padding: 0.4em;
}
.form-group.required > label:first-of-type:after {
    content: "*";
    color: rgb(194, 52, 52);
}
input#id_contact_number {
    display: none;
}
.chat-sidebar {
    overflow: auto;
    height: 90%;
}
.chat {
    height: 20em;
    overflow: auto;
    margin-bottom: 10px;
}
.chat-message {
    margin-bottom: 5px;
}
#footer {
    margin-top: 10px;
    height: 60px;
    background-color: #42545E;
    color: #FFF;
    font-size: .8em;
}
#footer a {
    color: #e1e6e9;
}
.nav-footer {
    padding-top: 20px;
    margin-left: -40px;
}
.footer-logo {
    padding-top: 15px;
    padding-left: 5px;
    margin-left: 3px;
    letter-spacing: 1pt;
    color: #e1e6e9;
}
.nav-footer li {
    display:inline;
    list-style-type: none;
    padding-right: 20px;
}
li.pull-right {
    padding-right: 0px !important;
}
.scrollable-messages {
    height: 20em;
    overflow: auto;
    margin-bottom: 10px;
}
#experiment-messages {
    height: 305px;
    width: auto;
    padding: 5px 0px 5px 0px;
    margin: 5px 0px 5px 0px;
    overflow: auto;
}
.experimenter-round-status {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}
.left-divider {
    padding-left: 20px;
    border-left: 1px solid #e1e6e9;
    height: 125px;
}
.underline {
    border-bottom: 1px solid #e1e6e9;
}
.fill {
    min-height: 100%;
    position: relative;
}
.filler::after {
    background-color: inherit;
    bottom: 0;
    content: "";
    right: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1; 
}
.text-gold {
    color: #DFB03D;
}
col.success {
    background-color: #dff0d8;
}
col.warning {
    background-color: #fcf8e3;
}
col.error {
    background-color: #f2dede;
}
.input-prepend.input-block-level {
    display: table;
    width: 100%;
}
.input-prepend.input-block-level .add-on {
    display: table-cell;
}
.input-prepend.input-block-level > input {
    box-sizing: border-box;
    height: 30px;
    display: table-cell;
    width: 100%;
    border-left-style: none;
}
.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
}
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
.flex-video iframe,
.flex-video object,
.flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
    .flex-video { padding-top: 0; }
}
/*
@font-face {
    font-family: Entypo;
    src: url('../fonts/entypo.eot'), url('../fonts/entypo.woff'), url('../fonts/entypo.ttf'), url('../fonts/entypo.svg');
}
*/
#invite-form {
    margin-top: 25px;
    padding: 25px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}


.session-table tr td {
    padding: 5px 10px;
}

/* Data tables Styling*/
#participant-table .sorting,
#participant-table thead .sorting_asc,
#participant-table thead .sorting_desc,
#participant-table thead .sorting_asc_disabled,
#participant-table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

.callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.callout h3 {
    margin-top: 0;
    margin-bottom: 5px;
}
.callout p:last-child {
    margin-bottom: 0;
}

/* Variations */
.callout-danger {
    background-color: #fdf7f7;
    border-color: #eed3d7;
}
.callout-danger h3 {
    color: #b94a48;
}
.callout-warning {
    background-color: #faf8f0;
    border-color: #faebcc;
}
.callout-warning h3 {
    color: #c09853;
}
.callout-info {
    background-color: #f4f8fa;
    border-color: #bce8f1;
}
.callout-info h3 {
    color: #3a87ad;
}

.cas-login {
    margin-top: 60px;
}

#login_submit a.submit {
	background: transparent url(../images/ASU/signin_bttn.png) 0 0 no-repeat;
	border: none;
    display: block;
    height: 33px;
	color: #903;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: 34px;
	line-height: 34px;
	padding: 0 15px;
	width: 83px;
}

#login_submit a.submit:hover {
	color: #fff;
	background-position: 0 -35px;
    text-decoration: none;
}
.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.badge-error {
    background-color: #b94a48;
}
.badge-error:hover {
    background-color: #953b39;
}
.badge-success {
    background-color: #468847;
}
.badge-success:hover {
    background-color: #356635;
}
.badge-info {
    background-color: #3a87ad;
}
.badge-info:hover {
    background-color: #2d6987;
}
.badge-important {
    background-color: #b94a48;
}
.datatable-pager {
    margin: -40px 0;
}


#tree ul {
	list-style-type: none;
}

#tree {
	padding-left: 0;
}

#tree > ul {
	padding-left: 20px;
}

.tree-item {
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
}

.pointer-icon {
	cursor: pointer;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
.error-row {
    color: red;
}
.new-cloned-experiment-config {
    background-color: lightyellow;
    border-color: rgb(231, 231, 148);
}
/* Subject Pool Calendar Event colors */
.event-color-1 {
  background-color: #1f77b4 !important;
}

.event-color-2 {
  background-color: #aec7e8 !important;
}

.event-color-3 {
  background-color: #ff7f0e !important;
}

.event-color-4 {
  background-color: #ffbb78 !important;
}

.event-color-5 {
  background-color: #2ca02c !important;
}

.event-color-6 {
  background-color: #98df8a !important;
}

.event-color-7 {
  background-color: #d62728 !important;
}

.event-color-8 {
  background-color: #ff9896 !important;
}

.event-color-9 {
  background-color: #9467bd !important;
}

.event-color-10 {
  background-color: #c5b0d5 !important;
}

.event-color-11 {
  background-color: #8c564b !important;
}

.event-color-12 {
  background-color: #c49c94 !important;
}

.event-color-13 {
  background-color: #e377c2 !important;
}

.event-color-14 {
  background-color: #f7b6d2 !important;
}

.event-color-15 {
  background-color: #7f7f7f !important;
}

.event-color-16 {
  background-color: #c7c7c7 !important;
}

.event-color-17 {
  background-color: #bcbd22 !important;
}

.event-color-18 {
  background-color: #dbdb8d !important;
}

.event-color-19 {
  background-color: #17becf !important;
}

.event-color-20 {
  background-color: #9edae5 !important;
}
