body {
    font-family: 'Open Sans', sans-serif; 
    padding-top: 50px;
    height: 100%;
}
a.external {
    background: url(../images/external.png) center right no-repeat;
    padding-right: 13px;
}
h1,h2,h3,h4,h5 {
    color: #333;
}
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.0em; }
h5 { font-size: 0.9em; }
.dashboard-header {
    font-size: 2em;
}
.bold {
    font-weight: bolder;
}
.alert-white {
    background: #FFFFFF;
    border: 1px solid #CCC;
    color: gray;
}
label.error {
    background: #FBE3E4;
    font-size: .9em;
    margin: 0.4em;
    padding: 0.4em;
}
.chat {
    height: 20em;
    overflow: auto;
    margin-bottom: 10px;
}
#chatText {
    width: 65%;
}
.chat-message {
    margin-bottom: 5px;
}
#footer {
    margin-top: 10px;
    height: 60px;
    background-color: #42545E;
    color: #FFF;
    font-size: .8em;
}
#footer a {
    color: #CCC;
}
.nav-footer {
    padding-top: 20px;
    margin: auto;
}
.footer-logo {
    padding-top: 15px;
    padding-left: 5px;
    margin-left: 3px;
    letter-spacing: 1pt;
    color: #CCC;
}
.nav-footer li {
    display:inline;
    list-style-type: none;
    padding-right: 20px;
}
li.pull-right {
    padding-right: 0px !important;
}
.scrollable-messages {
    height: 20em;
    overflow: auto;
    margin-bottom: 10px;
}
#experiment-messages {
    height: 230px;
    overflow: auto;
}
.left-divider {
    padding-left: 20px;
    border-left: 1px solid #CCC;
    height: 125px;
}
.underline {
    border-bottom: 1px solid #CCC;
}
.fill {
    min-height: 100%;
    position: relative;
}
.filler::after {
    background-color: inherit;
    bottom: 0;
    content: "";
    right: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1; 
}
@font-face {
    font-family: Entypo;
    src: url('../fonts/entypo.eot'), url('../fonts/entypo.woff'), url('../fonts/entypo.ttf'), url('../fonts/entypo.svg');
}
