<div data-role='page' id='full-activity-list'>
    {% include "lighterprints/mobile/header.html" %}
    <div data-role='content'>
        {% for level, activities in activity_by_level.iteritems %}
        <div data-role='collapsible' data-theme='b'>
            <h3>Level {{level}} Activities</h3>
            <div class='ui-grid-d'>
                {% for activity, grid_letter in activities %}
                <div class='ui-block-{{grid_letter}}'><button data-theme='e'>{{ activity }}</button></div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
