{% extends "mobile/divpage.html" %}
{% block header %}
<div data-role='header'>
    <h1>All Activities</h1>
</div>
{% endblock header %}

{% block page_id %}full-activity-list{% endblock page_id %}
{% block content %}
<div data-role='content'>
    {% for level, activities in activity_by_level.iteritems %}
    <div data-role='collapsible' data-theme='b'>
        <h3>Level {{level}} Activities</h3>
        <div class='ui-grid-d'>
            {% for activity, grid_letter in activities %}
            <div class='ui-block-{{grid_letter}}'><button data-theme='e'>{{ activity }}</button></div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
