{% extends "mobile/base.html" %}
{% block head %}
{{ block.super }}
<script type='text/javascript'>
</script>
{% endblock head %}

{% block title %}
Lighter Footprints
{% endblock %}

{% block content %}
<div data-role='page' id='home-screen'>
    {% include "lighterprints/mobile/header.html" %}
    <div data-role='content' data-theme='e'>
        <h3>Available activities</h3>
        <div class='ui-grid-{{grid_letter}}'>
            {% for activity, grid_letter in available_activities %}
            <div class='ui-block-{{grid_letter}}'><button data-theme='b'>{{activity}}</button></div>
            {% endfor %}
        </div>

    </div>
</div>
{% include "lighterprints/mobile/full-activity-list.html" %}
{% endblock content %}
