{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Lighter Footprints</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/lighterprints/mobile/themeroller.css' %}" />
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.mobile/1.3.0/jquery.mobile.structure-1.3.0.min.css" />
        <link rel="stylesheet" href="{% static 'css/lighterprints/font-awesome/jqm-icon-pack-3.0.0-fa.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/lighterprints/icons.css' %}" />
        <link rel="stylesheet" href="{% static 'css/lighterprints/mobile/style.css' %}"/>
        {% with jquery_version="1.8.3" %}
        <script src='//ajax.googleapis.com/ajax/libs/jquery/{{jquery_version}}/jquery.min.js'></script>
        {% endwith %}
        <script src="//ajax.aspnetcdn.com/ajax/jquery.mobile/1.3.0/jquery.mobile-1.3.0.min.js">
        </script>
        <!-- KnockoutJS for MVVM-->
        <script src='{% static "js/ko/knockout.min.js" %}'></script>
        <script src='{% static "js/ko/knockout.mapping.min.js" %}'></script>
        <!--Local JS-->
        <script src='{% static "js/lighterprints/mobile/controller.js" %}'>
        </script>
        <script>
            $(document).live('pageinit', function(event){
                var viewModelData = $.parseJSON("{{view_model_json|escapejs}}");
                var globalViewModel = new LighterFootprintsModel(viewModelData);
                ko.applyBindings(globalViewModel);
                
                $("#submitChatMessage").click(function(event){
                    event.preventDefault();
                    if ($('#chatText').val()) {
                        var formData = $('#chat-form').serialize();
                        $.post('/lighterprints/api/message', formData, function(response){
                            if (response.success) {
                                console.debug("successful post - updated view model: ");
                                ko.mapping.fromJS(response.viewModel, globalViewModel);
								$('#chatMessageList').listview('refresh');
                            }
                            else {
                                console.debug("unable to post message to server");
                                console.debug(response);
                            }
                        });
                        $('#chatText').val('');
                    }
                    else {
                        console.debug("No message found!");
                    }
                });
				
			$("#dashboardPage").on('pagebeforeshow', function(event){
        		console.debug('dashboardPage pageshow');
				$('#challengesList').listview('refresh');
				$('#teamList').listview('refresh');
				$('#teamActivityList').listview('refresh');
    		});

            });
        </script>
        <!-- knockout templates -->
        <script type='text/html' id='likeCommentTemplate'>
            <div data-bind='if: $root.participantGroupId() != participant_group_id()'>
                <span data-bind='ifnot: commented'><a class='comment comment-popover' href='javascript:void(0)' rel="popover" data-placement='left' data-title="Leave a comment" data-bind='popover: {  content: "#commentPopoverForm", id: pk()}'><span class='comment lighterprints-gray icon-comment'></span></a></span>
                <span data-bind='if: commented'><span class='commented icon-comment'></span></span>
                <span data-bind='ifnot: liked'><a href='#' data-bind='click: $root.like'><span class='like lighterprints-gray icon-heart'></span></a></span>
                <span data-bind='if: liked'><span class='liked icon-heart'></span></span>
            </div>
        </script>
        <!-- group activity templates, keyed by parameter name -->
        <script type='text/html' id='comment'>
            <li data-bind='if: $root.participantGroupId() != participant_group_id()'>
                <div class='group-activity-icon'>
                    <span class='icon-comment lighterprints-blue'></span>
                </div>
                <span class='group-activity'>Participant <strong data-bind='text: participant_number'></strong>
                    <small class='pull-right muted'>
                        <span data-bind='text: date_created'></span>
                    </small>
                    <div>
                        <span data-bind='if: target_parameter_name() === "activity_performed"'>commented on your completed challenge, <em data-bind='text: target_data_value'></em></span>
                        <span data-bind='if: target_parameter_name() === "chat_message" || target_parameter_name() === "comment"'>replied to your message, &quot;<em data-bind='text: target_data_value'></em>&quot;</span>
                        <div>
                            <small>
                                <span class='icon-quote-left'></span>
                            </small>
                            <span data-bind='text:value'></span>
                            <small>
                                <span class='icon-quote-right'></span>
                            </small>
                        </div>
                    </div>
                    <div data-bind='template: "likeCommentTemplate"'>
                    </div>
                </span>
            </li>
        </script>
        <script type='text/html' id='like'>
            <li data-bind='if: $root.participantGroupId() != participant_group_id()'>
                <span class='group-activity-icon'><span class='icon-heart lighterprints-red'></span></span>
                <span class='group-activity'>Participant <strong data-bind='text: participant_number'></strong>
                    <small class='pull-right muted'>
                        <span data-bind='text: date_created'></span>
                    </small>
                    <div>
                        liked your<span data-bind='if: target_parameter_name() === "activity_performed"'>completed challenge, <em data-bind='text: target_data_value'></em></span>
                        <span data-bind='if: target_parameter_name() === "chat_message" || target_parameter_name() === "comment"'>message, &quot;<em data-bind='text: target_data_value'></em>&quot;</span>
                    </div>
                </span>
            </li>
        </script>
        <script type='text/html' id='chat_message'>
            <li>
            <span class='icon-comment lighterprints-blue'></span>
            <strong>Participant <span data-bind='text: participant_number'></span></strong>
            <small>
                <span data-bind='text: date_created'></span>
            </small>
            <div>
                <small>
                    <span class='icon-quote-left'></span>
                </small>
                <span data-bind='text:value'></span>
                <small>
                    <span class='icon-quote-right'></span>
                </small>
            </div>
            <div data-bind="template: 'likeCommentTemplate'">
            </div>
            </span>
        </li>
        </script>
        <script type='text/html' id='activity_performed'>
            <li>
            <span class='icon-star text-gold'></span>
            <strong>Participant <span data-bind='text: participant_number'></span></strong>
            <small>
                <span data-bind='text: date_created'></span>
            </small>
            <span>earned <span class='lighterprints-green' data-bind='text:points'></span><span class='icon-leaf lighterprints-green'></span>for <span data-bind='text: $root.groupName'></span>by completing <em><span data-bind='text: display_name'></span></em>.</span>
            <div data-bind="template: 'likeCommentTemplate'">
            </div>
            </span>
        </li>
    </script>
    <script type='text/html' id='challenges-template'>
    	        <li data-icon="false">
    	        	    <div class='span2'>
        <img style='padding: 10px 0 0 20px;' data-bind='attr: {src: "/static/images/lighterprints/badges/" + name() + ".png" }'>
    </div>
    <div class='span4'>
        <h4 class='challenge-name' data-bind='css: status, text:display_name'></h4>
        <p>
        <span data-bind='css: status, text: summary'></span>
        </p>
        <form data-bind='attr: { id: "challengeForm" + pk() }' class='form-horizontal' method='post'>
            <input data-bind='value: pk' type='hidden' name='activity_id' />
            <input type='hidden' name='participant_group_id' value='1009' />
            <a data-bind='css: status, click: $root.perform' class='btn'>
            <span data-bind='if: availableNow'>Perform</span>
            <span data-bind='if: completed'>Completed <i class='icon-check'></i></span>
            <span data-bind='if: expired'>Expired <i class='icon-warning-sign'></i></span>
            <span data-bind='if: upcoming'>Not yet available <i class='icon-time'></i></span>
            <span data-bind='if: locked'>Locked <i class='icon-lock'></i></span>
            </a> 
            
        </form>
        </li>
    </script>
    <script type='text/html' id='no-group-activity-template'>
        Your group has not had any activity yet.  You can <a href='#dashboardPage'>perform challenges in your dashboard</a>
        or post messages in the <a href='#myTeamPage'>the group wall</a>
        .
    </script>
    </head>
    <body>
    	<!-- Start of #dashboardPage -->
        <div data-role="page" id="dashboardPage" class="ui-responsive-panel">
            <!-- defaultpanel  -->
            <div data-role="panel" id="defaultpanel" data-theme="b" data-position="left" data-display="overlay" data-dismissible="true" >
                <a href="#" data-theme="c" data-role="button" class="innerbutton"><h2><span class="icon-gauge"></span> Dashboard</h2></a>
                <a href="#challengesPage" data-theme="c" data-role="button" class="innerbutton"><h2><span class="icon-star"></span> Challenges</h2></a>
                <a href="#myTeamPage" data-theme="c" data-role="button" class="innerbutton"><h2><span class="icon-user"></span> My Team</h2></a>
                <a href="#helpPage" data-theme="c" data-role="button" class="innerbutton"><h2><span class="icon-question"></span> Help</h2></a>
            </div>
            <!-- /defaultpanel -->
            <div data-role="header" data-theme="a" class="navbar" data-position="fixed">
                <img width="30px" height="30px" src="https://vcweb.asu.edu/static/images/lighterprints/logo.png" alt="footprint logo">lighter<strong style="color:#b9ed2e;">footprints</strong>
                <a href="#defaultpanel" class="ui-btn-right" data-role="button" data-inline="true" data-iconpos="notext" data-theme="a" data-icon="align-justify"></a>
            </div>
            <div data-role="content">
                <h2><span class="icon-gauge"></span> Team Dashboard
                <div class="ui-bar">
                </div>
                <div class="ui-grid-a" data-inset="true">
                    <div class="ui-block-a">
                        <div class="ui-bar ui-bar-d" style="height:70px">
                            Today's Score
                            <br>
                            <span data-bind="text: averagePoints"></span>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-bar ui-bar-d" style="height:70px">
                            Current Level
                            <div data-bind='if: experimentCompleted'>
                                <img alt='Experiment Completed' class='group-level' width='120' height='70' src='https://vcweb.asu.edu/static/images/lighterprints/experiment-completed.png'>
                            </div>
                            <div data-bind='ifnot: experimentCompleted'>
                                <img alt='Group Level' class='group-level' width="104" height="65" data-bind="attr: { src: 'https://vcweb.asu.edu/static/images/lighterprints/rank' + groupLevel() + '.png' }">
                            </div>
                        </div>
                    </div>
                </div><!-- /grid-a -->
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <div class="ui-bar ui-bar-d" style="height:70px">
                            Today's Progress
                            <br>
                            Your group progress: <span data-bind="text: averagePoints"></span>
                            <span data-bind="text:pointsToNextLevel"></span>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-bar ui-bar-d" style="height:70px">
                            Time Remaining
                            <table>
                                <tr>
                                    <td>
                                        <span data-bind="text: hoursLeft"></span> h
                                    </td>
                                    <td>
                                        <span data-bind="text: minutesLeft"></span> m
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div></h2>
                <h2><span class="icon-star "></span> Challenges
                <div class="ui-bar-d">
                    <div data-role="navbar">
                        <ul id="challengesNavbarList">
                            <li>
                                <a href="#" class="ui-btn-active"><span class="icon-star text-gold "></span> Unlocked</a>
                            </li>
                            <li>
                                <a href="#dashboardLockedChallengePage"><span class="icon-lock"></span> Locked</a>
                            </li>
                        </ul>
                    </div>
                    <div class='tab-pane active' id='unlocked-challenges'>
                      	<ul id="challengesList" data-role="listview" data-inset="true" data-theme="d" data-bind="template: { name: 'challenges-template', foreach: unlockedChallenges() }">
                       	</ul>
                    </div>
                </div></h2>
                <h2><span class="icon-trophy text-gold "></span> Leaderboard
                <div class="ui-bar-d">
                    <ul id="teamList" data-role="listview" data-bind="foreach: groupData" data-inset="true" data-theme="b">
                        <li>
                            <strong>#<span data-bind="text:$index() + 1"></span></strong>
                            <span data-bind='css: { "bold lighterprints-blue": groupName() == $root.groupName()}'>
                            	<span data-bind="text: groupName"></span>
							</span>
                        </li>
                    </ul>
                </div></h2>
                <h2><span class="icon-user"></span> Team Activity
                <div class="ui-bar-d">
                    <div data-bind='ifnot: hasGroupActivity()'>
                        <div data-bind='template: { name: "no-group-activity-template" }'>
                        </div>
                    </div>
                    <div class='table group-activity'>
                        <ul id="teamActivityList" data-role="listview" data-inset="true" data-bind='template: { name: groupActivityTemplate, foreach: groupActivity.slice(0, 6) }'>
                        </ul>
                    </div>
                </div></h2>
            </div>
             <div data-role="footer" data-theme="c">
                <div class="ui-bar-b" style="font-size:15px;text-align:center;">
                    <div data-role="controlgroup" data-type="horizontal" data-theme="b">
                        <a href="#" data-theme="b"> Dashboard</a>
                        <a href="#challengesPage"> Challenges</a>
                        <a href="#myTeamPage"> My Team</a>
                        <a href="#helpPage"> Help</a>
                    </div>
                    2013 Arizona Board Of Regents
                </div>
                <div class="footerbar">
                    <img width="30px" height="30px" src="https://vcweb.asu.edu/static/images/lighterprints/logo.png" alt="footprint logo">
                    lighter<strong>footprints</strong>
                </div>
            </div>
        </div>
        <!-- /page dashboardPage--><!-- Start of #dashboardLockedChallengePage -->
        <!-- /page dashboardLockedChallengePage--><!-- Start of first page: #challengesPage -->
        <!-- /page lockedChallengePage--><!-- Start of page: #myTeamPage -->
        <div data-role="page" id="myTeamPage" class="ui-responsive-panel">
            <div data-role="panel" id="defaultpanel" data-theme="b" data-position="left" data-display="overlay" data-dismissible="true" >
                <a href="#dashboardPage" data-theme="c" data-role="button" class="innerbutton"><h2><span class="icon-gauge"></span> Dashboard</h2></a>
                <a href="#challengesPage" data-theme="c" data-role="button" class="innerbutton"><h2><span class="icon-star"></span> Challenges</h2></a>
                <a href="#" data-theme="c" data-role="button" class="innerbutton"><h2><span class="icon-user"></span> My Team</h2></a>
                <a href="#helpPage" data-theme="c" data-role="button" class="innerbutton"><h2><span class="icon-question"></span> Help</h2></a>
            </div>
            <div data-role="header" data-theme="a" class="navbar" data-position="fixed" >
                <img width="30px" height="30px" src="https://vcweb.asu.edu/static/images/lighterprints/logo.png" alt="footprint logo">lighter<strong style="color:#b9ed2e;">footprints</strong>
                <a href="#defaultpanel" class="ui-btn-right" data-role="button" data-inline="true" data-iconpos="notext" data-theme="a" data-icon="align-justify"></a>
            </div>
            <div data-role="content" id="myTeam">
                <h2><span class="icon-comment"></span> My Team</h2>
                <div class="ui-bar-d">
                    <div data-bind="ifnot: hasChatMessages() " data-inset="true">
                        No chat messages have been posted yet.
                    </div>
                    <div data-bind="if: hasChatMessages()">
                        <ul id="chatMessageList" data-role="listview" data-bind="foreach: chatMessages" data-inset="true" style="overflow-y: scroll;">
                            <li>
                                <div class="ui-grid-d">
                    				<div class="ui-block-a">
                       					<i class='icon-user icon-2x'></i>
                    				</div>
                    				<div class="ui-block-b">
                    					<span>Participant <span data-bind="text: participant_number"></span>: <span data-bind="text: value"></span>
                   					</div>
									<div class="ui-block-c"></div>
									<div class="ui-block-d"></div>
									<div class="ui-block-e">
										<span data-bind="text: date_created"></span><br> ago
                   					</div>
                				</div
                            </li>
                        </ul>
                    </div>
                    <form id="chat-form">
                        <div data-role="fieldcontain" class="innerblock">
                            <input type="hidden" name="participant_group_id" value='{{participant_group_relationship.id}}'><input type="text" id="chatText" name="message" placeholder="Send a message to your group">
                        </div><a href="#" data-role="button" id="submitChatMessage" type="submit">Send</a>
                    </form>
                </div>
            </div>
            <div data-role="footer" data-theme="c">
                <div class="ui-bar-b" style="font-size:15px;text-align:center;">
                    <div data-role="controlgroup" data-type="horizontal" data-theme="b">
                        <a href="#dashboardPage" data-theme="b"> Dashboard</a>
                        <a href="#challengesPage"> Challenges</a>
                        <a href="#"> My Team</a>
                        <a href="#helpPage"> Help</a>
                    </div>
                    2013 Arizona Board Of Regents
                </div>
                <div class="footerbar">
                    <img width="30px" height="30px" src="https://vcweb.asu.edu/static/images/lighterprints/logo.png" alt="footprint logo">
                    lighter<strong>footprints</strong>
                </div>
            </div>
        </div>
        <!-- /page myTeamPage--><!-- Start of page: #helpPage -->
		 <div data-role="page" id="helpPage" class="ui-responsive-panel">
            <div data-role="panel" id="defaultpanel" data-theme="b" data-position="left" data-display="overlay" data-dismissible="true" >
                <a href="#dashboardPage" data-theme="c" data-role="button" class="innerbutton"><h2><span class="icon-gauge"></span> Dashboard</h2></a>
                <a href="#challengesPage" data-theme="c" data-role="button" class="innerbutton"><h2><span class="icon-star"></span> Challenges</h2></a>
                <a href="#myTeamPage" data-theme="c" data-role="button" class="innerbutton"><h2><span class="icon-user"></span> My Team</h2></a>
                <a href="#" data-theme="c" data-role="button" class="innerbutton"><h2><span class="icon-question"></span> Help</h2></a>
            </div>
            <div data-role="header" data-theme="a" class="navbar" data-position="fixed" >
                <img width="30px" height="30px" src="https://vcweb.asu.edu/static/images/lighterprints/logo.png" alt="footprint logo">lighter<strong style="color:#b9ed2e;">footprints</strong>
                <a href="#defaultpanel" class="ui-btn-right" data-role="button" data-inline="true" data-iconpos="notext" data-theme="a" data-icon="align-justify"></a>
            </div>
            <div data-role="content">
                <h2><span class="icon-question"></span> Help</h2>
                <div class="ui-bar-d" data-inset="true">
                    <h2>Instructions</h2>
                    <p>
                        You have been randomly placed in a group of <strong>5 participants</strong>. 
                        In this experiment you can perform virtual actions that represent green alternatives to some common daily  
                        activities.  Some of these activities are available all day, and others are only available at 
                        specific times.  You can learn more about them by clicking on the <a href="#challengesPage">Challenges tab</a>
                        and selecting an activity.
                    </p>
                    <h2>Challenges, Green Points, and Levels</h2>
                    <p>
                        Each <strong class="text-gold">challenge</strong>
                        is worth a certain number of <strong class="lighterprints-green">green points <span class="icon-leaf"></span></strong>. 
                        For example, <em>Eat locally grown food for lunch</em>
                        (available from 12-2pm) is worth <span class="lighterprints-green">15 <span class="icon-leaf"></span></span>
                        green points. 
                        In order to perform this challenge you must login to the application between 12pm and 2pm, 
                        select the challenge from the list below, and click the &quot;Perform&quot; button.
                    </p>
                    <p>
                        Your group is currently <strong class="text-gold">Level <span data-bind="text:groupLevel"></span></strong>
                        and has an average score of <strong class="lighterprints-green"><span data-bind="text:averagePoints"></span><span class="icon-leaf"></span></strong>.  In order to 
                        advance in level and unlock more challenges the <em>average number of points contributed by each member of your group</em>
                        must be equal to or greater than <strong class="lighterprints-green"><span data-bind="text: pointsToNextLevel"></span><span class="icon-leaf"></span></strong>.
                        In order to reach this target you and a majority of the members of your group must perform
                        high point challenges when they are available.
                    </p>
                    <h2>How to participate</h2>
                    <p>
                        To participate, simply click on the <a href="#challengesPage">Challenges tab</a>, and select a challenge you"d like to perform. 
                        You can leave messages for the other members n your group via the <a href="#myTeamPage">My Group tab</a>
                        or use the <a href="#dashboardPage">Dashboard</a>
                        to view your group"s progress.
                        <br>
                        You can also <a href="#dashboardPage">restart the tutorial</a>.
                    </p>
                </div>
                <div class="ui-bar-d">
                    <h3>Frequently Asked Questions</h3>
                    <ul data-role="listview" data-inset="true" data-theme="b">
                        <li>
                            <h2>I performed an activity worth 15 points but only 3 points were added to Today"s Progress and Today"s Score.  Why?</h2>
                            <p>
                                The numbers in Today"s Score Today"s Progress represent your group"s <b>average number of earned green points</b>.  If there are 5
                                people in your group, performing a 15 point activity adds 3 points to the group average (15 / 5 = 3).
                            </p>
                        </li>
                        <li>
                            <h2>Why do the challenges performed in the previous day not count for today?</h2>
                            <p>
                                In order to advance in level and unlock more challenges you must reach an average level of points in your
                                group during one day, starting at 0.00AM.  Every day at midnight the server will check your group"s average number of
                                points and determine whether or not you should move on to the next level.
                                If your group advances in level your group will once again start at 0 points with the additional unlocked
                                challenges for that level available to perform. If your group did not reach the next level, your group
                                will start with 0 points at the same level with the same challenges available as the previous day.
                            </p>
                        </li>
                        <li>
                            <h2>I don"t have a car or anyone to carpool with, so how can I carpool?</h2>
                            <p>
                                You don"t have to actually perform the activity in the real world to click on "perform". These are just
                                virtual challenges for the time being. In the future we plan to allow participants to gain points by
                                actually performing these challenges.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div data-role="footer" data-theme="c">
                <div class="ui-bar-b" style="font-size:15px;text-align:center;">
                    <div data-role="controlgroup" data-type="horizontal" data-theme="b">
                        <a href="#dashboardPage" data-theme="b"> Dashboard</a>
                        <a href="#challengesPage"> Challenges</a>
                        <a href="#myTeam"> My Team</a>
                        <a href="#"> Help</a>
                    </div>
                    2013 Arizona Board Of Regents
                </div>
                <div class="footerbar">
                    <img width="30px" height="30px" src="https://vcweb.asu.edu/static/images/lighterprints/logo.png" alt="footprint logo">
                    lighter<strong>footprints</strong>
                </div>
            </div>
        </div>
        <!-- /page helpPage--><!-- Start of page: #modalPage -->
        <div data-role="page" id="modalPage" data-close-btn="right">
            <div data-role="header" data-theme="b">
                <h1></h1>
            </div>
            <div data-role="content">
                <div id='activityPerformedModalText' data-bind='with: lastPerformedActivity'>
                    <div class='row-fluid pagination-centered'>
                        <img alt='Lighterprints Activity Badge' data-bind='attr: {src: "https://vcweb.asu.edu/static/images/lighterprints/badges/" + name() + ".png" }'>
                    </div><h3>You completed a challenge!</h3>
                    <p>
                        <strong><em data-bind='text: display_name'></em></strong>
                        for <span class='lighterprints-green' data-bind='text: points'></span>
                        <i class='icon-leaf lighterprints-green'></i>
                    </p>
                    <p data-bind='text: summary'>
                    </p>
                    <a href="#" data-role="button" data-rel="back" data-theme="b">OK</a>
                </div>
            </div>
        </div>
        <!-- /page modalPage-->
    </body>
</html>
