.chat-sidebar {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
.chat-messages {
    padding: 5px;
}
#chat-div {
    overflow: auto;
    height: 820px;
}
#chatMessage {
}
.boundaries-status-dashboard p {
    padding-top: 15px;
    font-size: 2em;
}
.boundaries-status-dashboard h4 {
    border-bottom: 1px solid #ccc;
}
.boundaries-status-dashboard {
    height: 100px;
    width: 110px;
    margin-right: 0px;
    padding: 8px 8px 8px 8px;
}
.harvest-decision-resources td {
    cursor: pointer;
}
.harvest-decision-tree {
    padding: 3px 3px 3px 8px;
    margin: 5px 5px 5px 5px;
}
.harvest-decision-tree:hover {
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #dff0d8;
}
col.current-player {
    background-color: #dff0d8;
}
.current-player {
    font-weight: bold;
    font-size: 1em;
}
