Lighter Footprints Summary for {{ summary_date }}

* You are a member of {{ team_name }}.
* You earned {{ individual_points }} while the average in your group was {{ average_group_points }}.
* {{ number_of_chat_messages }} chat messages were posted by your group.

{% if completed %}
Congratulations!  Your group has finished Level 3 and completed the experiment.
{% elif promoted %}
Congratulations!  Your group was promoted to Level {{ group_level }}.  To be promoted to the next level your group must
earn {{ points_to_next_level }} today.
{% else %}
Your group is still at Level {{ group_level }}.  In order to be promoted to the next level your group must earn
{{ points_to_next_level }} today.
{% endif %}



