{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}ASU Experiment Registration{% endblock %}
{% block page %}
<div id="error-messages"></div>
<div class='panel panel-default'>
    <div class='panel-heading'>
        <h3 class='panel-title'>vcweb email distribution list signup for {{ request.user.get_full_name }}</h3>
    </div>
    <div class='panel-body'>
        Please fill out all of the following fields to be registered with our experiment mailing list. In order to
        participate in our experiments you <b>must be an undergraduate student currently enrolled at ASU and at
        least 18 years of age</b>. If you have any further questions, please see <a href='/ostromlab/faq'>our FAQ</a> or
    <a href='/contact'>send us a message</a>.
    </div>
</div>
<form id='vcweb-form' method='post' class='form-horizontal' action='/cas/asu/submit/'>
    {% csrf_token %}
    {%  bootstrap_form form layout="horizontal" %}
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button type='submit' id='submitForm' class='btn btn-primary'>Save</button>
        </div>
    </div>
</form>
{% endblock page %}

{% block javascript %}
    {{ form.media }}
    {% include "includes/jquery.validate.html" %}
    {{  block.super }}
    <script type='text/javascript'>
    $(document).ready(function() {
        $("#vcweb-form :input:visible:enabled:first").focus();
        $('#vcweb-form').validate({
                rules: {
                    gender: {
                        required: true
                    },
                    class_status: {
                        required: true
                    },
                    favorite_sport: {
                        required: true
                    },
                    favorite_color: {
                        required: true
                    },
                    favorite_food: {
                        required: true
                    },
                    favorite_movie_genre: {
                        required:true
                    },
                    email: {
                        required: true,
                        email: true,
                        remote: {
                            url: "/accounts/check-email",
                            type: "get",
                            data: {
                                email: function() {
                                    return $( "#id_email" ).val();
                                }
                            }
                        }
                    }
                },
                messages: {
                    class_status: "Please enter your class status",
                    gender: "Please enter your gender",
                    email: {
                        remote: 'This email is already registered in our system. <a href="https://vcweb.asu.edu/accounts/password/reset">Request a new password?</a>'
                    }
                },
            });
    });
</script>
{%  endblock javascript %}
