{% extends "participant/base.html" %}
{% block head %}
{{ block.super }}
<script type="text/javascript">
    $(function() {
    });
</script>
{% endblock %}
{% block title %}
The Lighter Footprints Challenge
{% endblock %}
{% block content %}
<h3>Lighter Footprints</h3>
{% include "lighterprints/navmenu.html" %}
<p>
Welcome to the Lighter Footprints Challenge!  Your mission, should you choose to accept it, is to learn about and put
into practice alternative activities and actions you can take to reduce your environmental footprint.  You can earn
green points that are scaled to the relative impact of a particular alternative activity and unlock badges and more
activities and actions by participating.
</p>

<p>
If you already practice what we're preaching, then good for you!  You can still participate and compare your
environmental footprint with your friends.
</p>
{% endblock content %}
