{% extends "lighterprints/base.html" %}
{% block content %}
<p>
Welcome to the Lighter Footprints Challenge!  Our goal is to help you learn about and put into practice alternative
activities and concrete actions you can take to reduce your environmental footprint.  You can earn green points that are
scaled to the relative impact of a particular alternative activity and unlock badges and more activities and actions by
participating in the challenge.
</p>

<p>
If you already practice what we're preaching, then good for you!  You can still participate and compare your
environmental footprint with your friends.
</p>
{% endblock content %}
