{% extends "base.html" %}

{% block title %} Lighter Footprints {% endblock %}

{% block page %}
{% for level, activities in activity_by_level.items %}
<h3>Level {{level}} Activities</h3>
<ul>
    {% for activity in activities %}
    <li>{{ activity }} <img src='{{activity.icon_url}}' alt='activity icon' />
    <br/>
    {% for activity_availability in activity.availability_set.all %}
    ({{ activity_availability.available_start_time|time }} - {{ activity_availability.available_end_time|time }})
    {% endfor %}
    </li>
    {% endfor %}
</ul>
{% endfor %}
{% comment %}
<h3>regroup method</h3>
{% regroup activity_list by level as level_list %}
{% for level in level_list %}
<h3>Level {{level.grouper}} Activities</h3>
<ul>
    {% for activity in level.list %}
    <li>{{activity}}</li>
    {% endfor %}
</ul>
{% endfor %}
{% endcomment %}
{% endblock page %}
