{% extends "participant/base.html" %}
{% block head %}
{{ block.super }}
<script type="text/javascript">
    $(function() {
    });
</script>
{% endblock %}
{% block title %}
Lighter Footprints
{% endblock %}
{% block content %}
<h4>Lighter Footprints Public Challenge</h4>
{% include "lighterprints/navmenu.html" %}
<p>
Welcome to the Lighter Footprints Challenge!  Your available activities are listed below.
</p>

<ul>
    {% for activity in activities %}
    <li>{{ activity }}</li>
    {% empty %}
    <li>No more available activities, please check back again tomorrow.</li>
    {% endfor %}
</ul>
{% endblock content %}
