{% extends "lighterprints/base.html" %}
{% block logo %}
<h1>Welcome to the {{ experiment.display_name }} experiment</h1>
{% endblock %}
{% block page %}
<div class='tabbable'>
    <ul class='nav nav-tabs' id='lfp-navtabs'>
        <li data-bind='css: { active: firstVisit() }'><a href='#instructions' data-toggle='tab'>Instructions</a></li>
        <li data-bind='css: { active: ! firstVisit() }'><a href='#dashboard' data-toggle='tab'>Dashboard</a></li>
        <li><a href='#group-wall' data-toggle='tab'>Group Wall</a></li>
        <li><a href='#all-activities' data-toggle='tab'>All activities</a></li>
        <li><a href='#faq' data-toggle='tab'>FAQ</a></li>
    </ul>
    <div class='tab-content'>
        <div class='tab-pane active' id='instructions'>
            <p>
            You have been randomly placed in a group of <span class='badge badge-info'>{{ participant_group_relationship.group.size }}</span> participants.
            In this experiment you can perform virtual actions that represent <span class='text-success'>green alternatives</span>
            to some common daily activities.  Some of these activities are available all day, and others are only available at
            specific times.  You can learn more about them by clicking on the "All Activities" tab and selecting an activity.
            </p>
            <h3>Activities, Green Points, and Levels</h3>
            <p>
            Each activity is worth a certain number of green points.  For example, <span class='text-success'>eating locally grown food for lunch</span> (which is only available from 12 PM to 2 PM) is worth <span class='badge badge-success'>15</span> green points.
            In order to perform this activity you must login to the application between 12 PM and 2 PM, select the activity from the
            list below, and click the "Perform this activity" button.
            </p>
            <p>
            Your group is currently <span class='badge badge-important'>level <span data-bind='text:groupLevel'></span></span> and has accumulated 
            <span class='badge badge-important'><span data-bind='text:averagePoints'></span> average points</span>.  In order to
            advance in level and unlock more activities the <strong>average number of points contributed by each member of your group</strong> must be equal to or greater than 
            <span data-bind='text: pointsToNextLevel' class='badge badge-info'></span>.  In order to
            reach this target <span class='text-warning'>you and a majority of the members of your group</span> must perform
            high point activities when they are available.
            </p>
            <h3>How to participate</h3>
            <p>
            To begin participating, click on the <a href='#all-activities' data-bind='click: activateAllActivitiesTab'>"All activities" tab</a>, and select an activity you'd like to perform.
            Available activities will be marked with an exclamation point: <i class='icon-exclamation-sign'></i> and
            <span class='alert-success'>highlighted in green</span>.
            </p>
        </div>
        <div class='tab-pane' id='all-activities'>
            <p>
            Activities are divided up into 3 levels.  In order to unlock higher level activities your group must earn
            enough points so that the <strong>average number of points</strong> per participant is greater than
            <span data-bind='text:pointsToNextLevel' class='badge badge-info'></span>.
            </p>
            <p>
            Some activities are available all day, and others are only available at <strong>certain hours</strong>.
            Currently available activities are marked with a <i class='icon-exclamation-sign'></i> and <span
                class='alert-success'>highlighted in green</span>.  You can click on any activity to learn more about it.
            </p>
            <div class='alert alert-info'>
                <i class='icon-time'></i> The time is now <strong>{% now "P" %}</strong>
            </div>
            {% comment %} FIXME: rewrite this to use KO instead of django templating if possible {% endcomment %}
            <div data-bind='foreach: activitiesByLevel'>
                <div class='accordion' data-bind='attr: {id: "accordion-level" + $index()}'>
                    <h4>Level <span data-bind='text: $index() + 1'></span> Activities</h4>
                    <div data-bind='template: { name: "activity-accordion-template", data: { parentId: "accordion-level" + $index(), activities: $data } }'>
                    </div>
                </div>
            </div>
        </div>
        <div class='tab-pane' id='dashboard'>
            <div data-bind='if: ! firstVisit()'>
                Welcome back to the Lighter Footprints Experiment, {{request.user.participant.full_name}}.  Your group
                score and summary is shown below.
            </div>
            <h3>Dashboard Summary</h3>
            <p>
            Your group is currently <span class='badge badge-important'>level <span data-bind='text:groupLevel'></span></span>
            and has accumulated <span class='badge badge-important'><span data-bind='text:averagePoints'></span> average points</span>.
            In order to advance in level and unlock more activities the <strong>average number of points contributed by each member of your
                group</strong> must be greater than or equal to <span data-bind='text: pointsToNextLevel' class='badge badge-info'></span>.  
            <div class='alert alert-info'>
                <i class='icon-warning-sign'></i>Your point totals reset <strong>nightly</strong> so if your group's
                average number of points doesn't reach or exceed <span data-bind='text: pointsToNextLevel'></span> by
                midnight, you will have to start over again the next day.
            </div>
            </p>
            <p>
            In order to reach this target <span class='text-warning'>you and a majority of the members of your group</span> must perform high point activities when they are available.
            </p>
            <hr>
            <table class='table table-bordered table-striped'>
                <caption>Today's Group Score Summary <strong>(point totals reset starting from {% now "m/d/Y" %} 12:00 AM)</strong></caption>
                <thead><tr><th>Group</th><th>Level</th><th>Total points earned by you</th><th>Total group points</th><th>Group size</th><th>Group average points</th><th>Group average points needed to reach the next level</th></tr></thead>
                <tbody data-bind='foreach: groupData'>
                <tr>
                    <td data-bind='text: group'></td>
                    <td data-bind='text: groupLevel'></td>
                    <td data-bind='text: totalParticipantPoints'></td>
                    <td data-bind='text: totalPoints'></td>
                    <td data-bind='text: groupSize'></td>
                    <td data-bind='text: averagePoints'></td>
                    <td class='text-success' data-bind='text: pointsToNextLevel'></td>
                </tr>
                </tbody>
            </table>
            <div data-bind='if: hasAvailableActivities()'>
                <div class='accordion' id='available-activities-accordion'>
                    <h3>Available activities for {{request.user.participant}}</h3>
                    <div data-bind="template: { name: 'activity-accordion-template', data: { parentId: 'available-activities-accordion', activities: availableActivities() } }"></div>
                </div>
            </div>
            <div data-bind='ifnot: hasAvailableActivities()'>
                <div class='alert alert-error'>
                    <i class='icon-info-sign'></i>
                    There are no available activities at this time.  Please try again later.  To see when activities
                    will be available, click on the <a href='#all-activities' data-bind='click: activateAllActivitiesTab'>"All activities" tab</a>.
                </div>
            </div>

        </div>
        <div class='tab-pane' id='faq'>
            <h2>Frequently Asked Questions</h2>
            <div class='well'>
                <h4>Why do the activities performed in the previous day not count for today?</h4>
                <p>
                In order to advance in level and unlock more activities you must reach an average level of points in your
                group during one day, starting at 0.00AM.  Every day at midnight the server will check your group's average number of
                points and determine whether or not you should move on to the next level.
                If your group advances in level your group will once again start at 0 points with the additional unlocked
                activities for that level available to perform. If your group did not reach the next level, your group
                will start with 0 points at the same level with the same activities available as the previous day.
                </p>
            </div>
            <div class='well'>
                <h4>I don't have a car or anyone to carpool with, so how can I carpool?</h4>
                <p>
                You don't have to actually perform the activity in the real world to click on "perform this activity" -
                these are just virtual activities at the moment. In the future we plan to include options to gain points by
                actually performing these activities.
                </p>
            </div>
        </div>
        <div class='tab-pane' id='group-wall'>
            <h3>Chat messages</h3>
            <form id='chat-form' class='form-horizontal' data-bind='submit: submitChatMessage'>
                <input type='hidden' name='participant_group_id' value='{{participant_group_relationship.id}}'/>
                <div class='control-group'>
                    <label class='control-label' for='chatText'>Chat</label>
                    <div class='controls'>
                        <input type='text' id='chatText' name='message' placeholder='Send a message to your group' />
                    </div>
                </div>
                <div class='control-group'>
                    <div class='controls'><a class='btn' data-bind='click: submitChatMessage'>Send</a></div>
                </div>
            </form>

            <div id='chat-div' class='scrollable-messages'>
                <div data-bind='ifnot: hasChatMessages() '>
                    <div class='alert alert-warning'>
                        No chat messages have been posted yet.
                    </div>
                </div>
                <div data-bind='if: hasChatMessages()'>
                    <div data-bind='foreach: chatMessages'>
                        <div class='alert alert-message chat-message'>
                            <strong data-bind='text: participant_name'></strong>: <em><span data-bind='text: message'></span></em>
                            <b class='pull-right' ><span data-bind='text: date_created'></span> ago</b>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Recent activity</h3>
            <div data-bind='foreach: groupActivity' class='scrollable-messages'>
                <div class='alert alert-info'>
                    <span data-bind='text: participant_name'></span> performed <span data-bind='text: display_name'></span>,
                    earning <span class='badge badge-success' data-bind='text:points'></span> green points.
                    <b class='pull-right'><span data-bind='text: date_created'></span> ago</b>

                </div>
            </div>
        </div>
    </div>
</div>
<div id='activityUnavailableModal' class='modal hide fade' tabindex='-1' role=dialog'
    aria-labelledby='activityUnavailableModalLabel'
    aria-hidden='true'>
    <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>x</button>
        <h3 id='activityUnavailableModalLabel'>Unable to perform activity</h3>
    </div>
    <div class='modal-body'>
        <div class='alert alert-error'>
            <span class='text-error' data-bind='text:errorMessage'></span>
        </div>
    </div>
    <div class='modal-footer'>
        <button class='btn' data-dismiss='modal' aria-hidden='true'>Continue</button>
    </div>
</div>
<div id='activityPerformedModal' class='modal hide fade' tabindex='-1' role='dialog'
    aria-labelledby='activityPerformedModalLabel'
    aria-hidden='true'>
    <div class='modal-header'>
        <h3 id='activityPerformedModalLabel'>Performing activity</h3>
    </div>
    <div class='modal-body'>
        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
        </div>
        <p id='activityPerformedModalText' class='hide'>
        You have successfully performed <span class='text-success' data-bind='text:lastPerformedActivity'></span>,
        earning <span class='badge badge-success' data-bind='text: lastPerformedActivityPoints'></span> green points for
        your group.
        </p>
    </div>
    <div class='modal-footer'>
        <button class='btn disabled' data-dismiss='modal' aria-hidden='true'>Continue</button>
    </div>
</div>
{% endblock page %}
{% block javascript %}
{{ block.super }}
<script type='text/javascript'>
$(function() {
    // XXX: set up bootstrap nav-tabs to be semi-refresh friendly, remove in production
    /*
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show');
    }
    $('.nav-tabs a').on('shown', function(evt) {
        window.location.hash = evt.target.hash;
    });
    */
    function LighterFootprintsModel(modelJson) {
        var self = this;
        var model = ko.mapping.fromJS(modelJson);
        // FIXME: hacky, figure out if there is a way to pass the observable in directly from the model object we get in
        // performActivity
        model.lastPerformedActivity = ko.observable();
        model.lastPerformedActivityPoints = ko.observable();
        model.errorMessage = ko.observable();
        model.activateAllActivitiesTab = function() {
            $('#lfp-navtabs a[href="#all-activities"]').tab('show');
        }
        model.hasChatMessages = function() {
            return model.chatMessages().length > 0;
        }
        model.submitChatMessage = function() {
            var formData = $('#chat-form').serialize();
            $.post('/lighterprints/api/message', formData, function(data) {
                ko.mapping.fromJS(data, model);
            });
            $('#chatText').val('');
            return false;
        }
        model.availableActivities = ko.computed(function() {
            return ko.utils.arrayFilter(model.activities(), function(activity) { return activity.available_now() });
        });
        model.hasAvailableActivities = ko.computed(function() {
            return model.availableActivities().length > 0;
        });
        model.performActivity = function(activityModel) {
            if (! activityModel.available_now()) {
                // FIXME: modal is slow, no feedback on this for now
                // model.errorMessage("The activity " + activityModel.display_name() + " is not currently available.");
                // $('#activityUnavailableModal').modal();
                return;
            }
            $('#activityPerformedModal').modal();
            var activityId = activityModel.pk();
            var formData = $('#activityform' + activityId).serialize();
            $.post('/lighterprints/api/do-activity', formData, function(data) {
                if (data.success) {
                    ko.mapping.fromJSON(data.viewModel, model);
                    console.debug("successfully performed activity");
                    model.lastPerformedActivity(activityModel.display_name());
                    model.lastPerformedActivityPoints(activityModel.points());
                    $('#activityPerformedModal .bar').css('width', '100%');
                    $('#activityPerformedModal .progress').addClass('hide');
                    $('#activityPerformedModalText').removeClass('hide');
                    $('#activityPerformedModal .btn').removeClass('disabled');
    }
                else {
                    model.errorMessage("Unable to perform activity: " + data.message);
                    $('#activityUnavailableModal').modal();
                }
            });
        };
        return model;
    }
    // set up KO binding, using one master view model
    var viewModelData = $.parseJSON("{{ view_model_json|escapejs }}");
    var viewModel = new LighterFootprintsModel(viewModelData);
    if (! viewModel.firstVisit()) {
        $('#lfp-navtabs a[href="#dashboard"]').tab('show');
    }
    ko.applyBindings(viewModel);
});
</script>
<script type='text/html' id='activity-accordion-template'>
<div data-bind='foreach: activities'>
    <div data-bind='css: { "alert-error": ! available_now(), "alert-success": available_now() }' class='accordion-group alert'>
    <div class='accordion-heading'>
        <a class='accordion-toggle' data-toggle='collapse'
            data-bind='attr: {"data-parent": "#" + $parent.parentId, href: "#activity" + $parent.parentId + pk()}'><i class='icon-chevron-right'></i>
            <span data-bind='text: display_name'></span>
        <span class='pull-right text-info'><span data-bind='if: available_now'><i class='icon-exclamation-sign'></i></span><i class='icon-time'></i><strong><span data-bind='text: time_slots'></span></strong></span>
        </a>
    </div>
    <div data-bind='css: { in: available_now() }, attr: {id: "activity" + $parent.parentId + pk()}' class='accordion-body collapse'>
        <div class='accordion-inner'>
            <table class='table table-condensed table-bordered table-hover'>
                <thead><tr><th>Summary</th><th>Availability</th><th>Points</th></tr></thead>
                <tbody>
                    <tr><td data-bind='text: summary'></td><td><i class='icon-time'></i><strong><span data-bind='text: time_slots' class='text-info'></span></strong></td><td><span data-bind='text: points' class='badge badge-success'></span></td></tr>
            </table>
            <p data-bind='text: description'></p>
            <p>For more info, please visit <a data-bind='text: url, attr: { href: url }' target="_blank"></a></p>
            <div data-bind='ifnot: available_now'>
                <div class='alert alert-message'>
                    <i class='icon-warning-sign'></i>This activity is not available right now.  Please check again later.
                </div>
            </div>
            <form data-bind='attr: { id: "activityform" + pk() }' class='form-horizontal' method='post'>
                <input data-bind='value: pk' type='hidden' name='activity_id' />
                <input type='hidden' name='participant_group_id' value='{{participant_group_relationship.pk}}' />
                <a data-bind='css: { disabled: ! available_now() }, click: $root.performActivity' class='btn activity-action'
                    href='#'><span data-bind='css: { "text-warning": !available_now(), "text-success": available_now() }'> Perform this activity</span></a>
            </form>
        </div>
    </div>
</div>
</script>
{% endblock %}
