WSGISocketPrefix run/wsgi
WSGIPythonHome /opt/virtualenvs/vcweb
<VirtualHost *:80>
    ServerAdmin allen.lee@asu.edu
    DocumentRoot /var/www/vcweb
    ServerName vcweb.asu.edu

    Alias /static /var/www/vcweb/static
    <FilesMatch "\.(html|js|png|jpg|gif|css)">
    ExpiresDefault "access plus 1 days"
    ExpiresActive On
    </FilesMatch>

    Alias /favicon.ico /var/www/vcweb/static/favicon.ico
    Alias /robots.txt /var/www/vcweb/static/robots.txt

    WSGIDaemonProcess vcweb-production user=apache group=commons threads=25 python-path=/opt/virtualenvs/vcweb/lib/python2.6/site-packages
    WSGIProcessGroup vcweb-production
    WSGIScriptAlias / /opt/webapps/virtualcommons/vcweb/vcweb.wsgi
    <Directory /opt/webapps/virtualcommons/vcweb/vcweb/>
        Order deny,allow
        Allow from all
    </Directory>
    ErrorLog /var/log/apache2/vcweb/error.log
    LogLevel warn
    CustomLog /var/log/apache2/vcweb/access.log combined
</VirtualHost>

