<VirtualHost *:80>
    WSGIDaemonProcess vcweb-production user=vcweb group=commons threads=10 python-path=/opt/virtualenvs/vcweb/lib/python2.6/site-packages
    WSGIProcessGroup vcweb-production
    WSGIScriptAlias / /opt/virtualcommons/vcweb/vcweb.wsgi
    <Directory /opt/virtualcommons/vcweb/vcweb/> 
        Order deny,allow
        Allow from all
    </Directory>
    ErrorLog /var/log/apache2/vcweb/error.log
    LogLevel warn
    CustomLog /var/log/apache2/vcweb/access.log combined
</VirtualHost>
