WSGISocketPrefix run/wsgi
<VirtualHost *:80>
    ServerAdmin allen.lee@asu.edu
    DocumentRoot /var/www/vcweb
    ServerName vcweb.asu.edu

    Alias /static "/opt/webapps/virtualcommons/vcweb/static"

    WSGIDaemonProcess vcweb-production user=apache group=commons threads=25 python-path=/opt/virtualenvs/vcweb/lib/python2.6/site-packages
    WSGIProcessGroup vcweb-production
    WSGIScriptAlias / /opt/webapps/virtualcommons/vcweb/vcweb.wsgi
    <Directory /opt/webapps/virtualcommons/vcweb/vcweb/>
        Order deny,allow
        Allow from all
    </Directory>
    ErrorLog /var/log/apache2/vcweb/error.log
    LogLevel warn
    CustomLog /var/log/apache2/vcweb/access.log combined
</VirtualHost>

