{% extends "base.html" %}
{% load tags %}

{% url home as home %}
{% url core:dashboard as dashboard %}
{% url core:login as login %}
{% url core:logout as logout %}
{% url core:profile as profile %}

{% block title %}
{{ experiment.display_name }}
{% endblock %}
{% block headerlinks %}
<li><a href='https://bitbucket.org/virtualcommons/vcweb/issues'>Report a bug</a></li>
{% if "participate" in request.path or "wait" in request.path %}
<li class='{% active_re request "participate" %}'><a href='#'>Experiment</a></li>
{% endif %}
{% if request.user.is_authenticated %}
<li class='{% active request logout %}'><a href='{{ logout }}'>Logout ({{request.user.email}})</a></li>
{% else %}
<li class='{% active request login %} {% active request register %}'>
{% if debug_mode %}
<a href='{{ login }}'>Sign In</a>
{% else %}
<a href='https://{{request.get_host}}{{ login }}'>Sign In</a>
{% endif %}
</li>
{% endif %}
{% endblock %}
{% block logo %}
<h1>{{experiment.display_name}}</h1>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script type='text/javascript' src='{{STATIC_URL}}js/jquery.validate.min.js'></script>
{% block websockets %}
{% include "includes/participant.events.html" %}
{% include "includes/sockjs.html" %}
{% endblock %}
{% endblock %}

