{% extends "base.html" %}

{% block head %}
    {{block.super}}
    <script type='text/javascript' src='{{STATIC_URL}}js/jquery.validate.min.js'></script>
    {% block participant_socket_io %}
    {% include "includes/participant.events.html" %}
    {% include "includes/socket.io.html" %}
    <script type='text/javascript'>
        var qtipOptions = {position: { corner: {target: 'topMiddle', tooltip: 'bottomMiddle'}}, style: { name: 'green', tip: 'bottomMiddle'} };
        connect(window.location.hostname, 8888, 'participant/{{participant_experiment_relationship.pk}}');
        $(function() {
            $('[title]').qtip(qtipOptions);
        });
</script>
    </script>
    {% endblock %}
{% endblock %}
{% block title %}
    Virtual Commons Web Participant Interface
{% endblock %}
{% block header %}
    {% include "includes/participant-nav-menu.html" %}
{% endblock %}



