{% extends "base.html" %}
{% load tags %}

{% url home as home %}
{% url core:dashboard as dashboard %}
{% url core:login as login %}
{% url core:logout as logout %}
{% url core:profile as profile %}

{% block title %}
    Virtual Commons Web Participant Interface
{% endblock %}
{% block headerlinks %}
<li class='{% active request home %}' ><a href='{{ home }}' class='first'>Home</a></li>
<li class='{% active_re request dashboard %}'><a href='{{ dashboard }}'>Dashboard</a></li>
<li class='{% active request contact %}'><a href='{{ contact }}'>Contact us</a></li>
<li><a href='https://bitbucket.org/virtualcommons/vcweb/issues'>Report a Bug</a></li>
{% if "participate" in request.path or "wait" in request.path %}
<li class='{% active_re request "participate" %} {% active_re request "wait" %}'><a href='#'>Participate</a></li>
{% endif %}
<li><a href='{{ logout }}'>Logout</a></li>
{% endblock %}
{% block javascript %}
    <script type='text/javascript' src='{{STATIC_URL}}js/jquery.validate.min.js'></script>
    {% block websockets %}
    {% include "includes/participant.events.html" %}
    {% include "includes/sockjs.html" %}
    {% endblock %}
{% endblock %}

