{% extends "participant/base.html" %}
{% block title %}
Participant Session Invitation Management
{% endblock %}
{% block logo %}
<h1>Dashboard</h1>
{% endblock %}
{% block page %}
    <div class='row' id='page'>
        <div id="content" class="span12">
            <h3>Pick Experiment Sessions</h3>
            <div id="error-messages"></div>
            <div data-bind="if: groupedInvitation.length === 0">
                <div class="well">
                    <p>You are currently not invited to any experiments.</p>
                    <p>Please make sure that you have opted to receive invitations in your account profiles settings.</p>
                </div>
            </div>
            <form data-bind="if: groupedInvitation.length > 0, submit: onSave">
                <div class="well" data-bind="foreach: groupedInvitation">
                <fieldset class="radiogroup">
                    <legend><span data-bind="text: name"></span></legend>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>
                                    Start Date
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </th>
                                <th>
                                    Start Time
                                    <span class="add-on"><i class="icon-time"></i></span>
                                </th>
                                <th>
                                    End Date
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </th>
                                <th>
                                    End Time
                                    <span class="add-on"><i class="icon-time"></i></span>
                                </th>
                                <th>
                                    Location
                                    <span class="add-on"><i class="icon-flag"></i></span>
                                </th>
                                <th> Openings </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: children ">
                            <tr data-bind= "if: openings <=0 " class="error">
                                <td>
                                    <input disabled type="radio" data-bind="value: invitation_pk, checked: selected, attr:{name: $parent.name}" />
                                </td>
                                <td data-bind="text: scheduled_date"></td>
                                <td><b data-bind="text: scheduled_time"></b></td>
                                <td data-bind="text: scheduled_end_date"></td>
                                <td><b data-bind="text: scheduled_end_time"></b></td>
                                <td data-bind="text: location"></td>
                                <td data-bind="text: openings"></td>
                            </tr>
                            <tr data-bind=  "ifnot: openings <=0">
                                <td>
                                    <input type="radio" data-bind="value: invitation_pk, checked: selected, attr:{name: $parent.name}"/>
                                </td>
                                <td data-bind="text: scheduled_date"></td>
                                <td><b data-bind="text: scheduled_time"></b></td>
                                <td data-bind="text: scheduled_end_date"></td>
                                <td><b data-bind="text: scheduled_end_time"></b></td>
                                <td data-bind="text: location"></td>
                                <td data-bind="text: openings"></td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
                </div>
                <input type="submit" class="btn btn-success" value="Submit" />
                <input type="reset" class="btn" />
            </form>
        </div>
    </div>
{% endblock page %}
{% block javascript %}
    {{ block.super }}
    <script type= "text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script type="text/javascript">
        var invitation_list = $.parseJSON("{{ view_model_json | escapejs }}");

        var oldInvitationPkList=[];

        for (var key in invitation_list) {
            var inv = invitation_list[key].invitation;
            if(inv.selected) {
                oldInvitationPkList.push(inv.invitation_pk)
            }
        }

        var groupedInvitation =
               _.chain(invitation_list)
                .groupBy('experiment_metadata_name')
                       .map(function(value, key){
                                return {
                                       name: key,
                                       children: _.pluck(value, 'invitation')
                                }
                       }).value();

        $(function(){

            function ExperimentListModel(groupedInvitation) {

                var model = ko.mapping.fromJS(groupedInvitation);

                self.onSave = function(formElement) {
                    var invitationPkList = $(formElement).find('input[type=radio]:checked').map(function() {
                          return this.value
                    }).get();
                    $.ajax("/participant/session/update", {
                        data: 'invitation_pk_list='+ invitationPkList + '&old_invitation_pk_list=' + oldInvitationPkList,
                        type: "POST",
                        success: function(result) {
                            if(result.success) {
                                $("#error-messages").html('<div class="alert alert-success"><strong>Well done! </strong>'+ result.message + '</strong></div>');
                            }
                        }
                    });
                };
                return model;
            }
            ko.applyBindings(new ExperimentListModel(groupedInvitation))
        });
    </script>

{% endblock %}
