# Local Development Django settings for vcweb
from .base import *
DEBUG = not ENVIRONMENT.is_production

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'vcweb',
        'USER': 'vcweb',
        'PASSWORD': 'CUSTOMIZE_ME',
    }
}
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

# XXX: no i18n for the time being
USE_I18N = False

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'customize this local secret key'
