<script type="text/javascript">
function createConnectionEvent() {
    return createMessageEvent("Initial connection", "connect");
}
function createMessageEvent(message, event_type) {
    if (! event_type) {
        event_type = "experimenter";
    }
    return JSON.stringify({
        "event_type": event_type,
        "experimenter_id": {{request.user.experimenter.pk}},
        "experiment_id": {{experiment.pk}},
        "auth_token": "{{ request.user.experimenter.authentication_token }}",
        "message": message
    });
}
</script>
