{% load tags %}

{% url home as home %}
{% url core:dashboard as dashboard %}
{% url core:login as login %}
{% url core:logout as logout %}
{% url core:profile as profile %}

<div class='navbar'>
    <div class='navbar-inner'>
        <div class='container'>
            <ul class='nav'>
                <li class='{% active request home %}' ><a href='{{ home }}' class='first'>Home</a></li>
                <li class='{% active_re request dashboard %}'><a href='{{ dashboard }}'>Dashboard</a></li>
                {% if "experiment" in request.path %}
                <li class='{% active_re request "experiment" %}'><a name='experiment'>Experiment</a></li>
                {% endif %}
                <li><a href='https://bitbucket.org/virtualcommons/vcweb/issues'>Report a Bug</a></li>
                <li><a href='{{ logout }}'>Logout</a></li>
            </ul>

        </div>
    </div>
</div>
