<script type="text/javascript">
function createRefreshEvent() {
    return createMessageEvent("Refresh all clients", "refresh");
}
function createGotoEvent(url) {
    if (! url) {
        url = "participate";
    }
    return createMessageEvent(url, "goto");
}
function createConnectionEvent() {
    return createMessageEvent("Initial connection", "connect");
}
function createReconnectionEvent() {
    return createMessageEvent("Reconnecting from disconnect", "reconnect");
}
function createMessageEvent(message, event_type) {
    if (! event_type) {
        event_type = "experimenter";
    }
    return JSON.stringify({
        "message_type": event_type,
        "experimenter_id": {{request.user.experimenter.pk}},
        "experiment_id": {{experiment.pk}},
        "auth_token": "{{ request.user.experimenter.authentication_token }}",
        "message": message
    });
}
function createChatEvent(message) {
    return createMessageEvent(message);
}
</script>
