<script type="text/javascript">

function createConnectionEvent() {
   return createMessageEvent("Initial connection", "connect");
}

function createReconnectionEvent() {
   return createMessageEvent("Reconnecting from disconnect", "reconnect");
}

function createMessageEvent(payload, event_type) {
   if (! event_type) {
      event_type = "chat";
   }
   return {
      "type": event_type,
      "participant_id": {{participant.pk}},
      "group_id": {{group.pk}},
      "message": payload
   };
}

function createChatEvent(message) {
   return createMessageEvent(message);
}
</script>
