<script type="text/javascript">
function createConnectionEvent() {
   return createMessageEvent("Initial connection", "connect");
}
function createReconnectionEvent() {
   return createMessageEvent("Reconnecting from disconnect", "reconnect");
}
function createMessageEvent(payload, event_type) {
   if (! event_type) {
      event_type = "chat";
   }
   return {
      "message_type": event_type,
{% if participant_group_relationship %}
      "participant_group_relationship_id": {{participant_group_relationship.pk}},
{% else %}
      "participant_experiment_relationship_id": {{participant_experiment_relationship.pk}},
{% endif %}
      "message": payload
   };
}
function createChatEvent(message) {
   return createMessageEvent(message);
}
function createSubmitEvent(message) {
    return createMessageEvent(message, "submit");
}
</script>
