<script type="text/javascript" src="https://d1fxtkz8shb9d2.cloudfront.net/sockjs-0.3.js"></script>
<!--<script type="text/javascript" src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>-->
<!--<script type="text/javascript" src="{{STATIC_URL}}js/sockjs-0.3.min.js"></script>-->
<script type="text/javascript">
var socket;
var defaultPort = 8882;
function connect(uri) {
    var port = {{WEBSOCKET_PORT}};
    if ( !port ) {
        console.log("using default port: " + defaultPort);
        port = defaultPort;
    }
    var host = window.location.hostname;
    if ( !host ) {
        console.log("Tried to connect to null host, defaulting to vcweb.asu.edu instead.");
        host = "vcweb.asu.edu";
    }
    if ( !uri ) {
        console.log("no uri specified, defaulting to /sockjs");
        uri = "/sockjs";
    }
    var sockjsServer = "http://" + host + ":" + port + uri;
    console.log("Establishing connection to " + sockjsServer);
    socket = new SockJS(sockjsServer);
    socket.onopen = function() {
        console.log('default vcweb sockjs open');
        socket.send(createConnectionEvent());
    };
    socket.onmessage = function(e) {
        console.log('received message', e.data);
    };
    socket.onclose = function() {
        console.log('default vcweb sockjs closed');
    };
    console.log("connecting to " + host + ":" + port + "/" + uri);
    return socket;
}
function getWebSocket() {
    return socket;
}
</script>
