<script type="text/javascript" src="{{STATIC_URL}}js/socket.io.min.js"></script>
<script type="text/javascript">
    WEB_SOCKET_SWF_LOCATION="{{STATIC_URL}}flash/WebSocketMain.swf";
</script>

<script type="text/javascript">
var cachedSocket;
function connect(host, port, resource) {
    if ( !host ) {
        console.log("Tried to connect to invalid host, connecting to vcweb.asu.edu instead.");
        host = "vcweb.asu.edu";
    }
    if ( !port ) {
        console.log("using default port 8888");
        port = 8888;
    }
    cachedSocket = new io.Socket(host, {"port": port,  "resource": resource});
    cachedSocket.connect();
    cachedSocket.on('connect', function() {
        console.log("Connecting to " + host + ":" + port + "/" + resource);
        cachedSocket.send(createConnectionEvent());
    });
    cachedSocket.on('disconnect', function(data) {
        console.log("received disconnect, reconnecting.");
        cachedSocket.connect();
        cachedSocket.send(createReconnectionEvent());
    });
    return cachedSocket;
}
function getCachedSocket() {
    return cachedSocket;
}
</script>
