<script type="text/javascript" src="{{STATIC_URL}}js/socket.io.min.js"></script>
<script type="text/javascript">
    WEB_SOCKET_SWF_LOCATION="{{STATIC_URL}}flash/WebSocketMain.swf";
</script>

<script type="text/javascript">
var cachedSocket;
var defaultPort = 8881;
function connect(resource, onopen, onclose) {
    var host = window.location.hostname;
    if ( !host ) {
        console.log("Tried to connect to invalid host, connecting to vcweb.asu.edu instead.");
        host = "vcweb.asu.edu";
    }
    var port = {{WEBSOCKET_PORT}};
    if ( !port ) {
        console.log("using default port: " + defaultPort);
        port = defaultPort;
    }
    console.log("Establishing connection to " + host + ":" + port + "/" + resource);
    cachedSocket = new io.Socket(host, {port: port, resource: resource});
    console.log("connect invoked to " + host + ":" + port + "/" + resource);
    if (! onopen) {
        onopen = function() {
            console.debug("onconnect to " + host + ":" + port + "/" + resource);
            cachedSocket.send(createConnectionEvent());
        };
    }
    if (! onclose) {
        onclose = function() {
            console.log("disconnected");
            cachedSocket = null;
        };
    }
    cachedSocket.onopen = onopen;
    cachedSocket.onclose = onclose;
    cachedSocket.connect();
    return cachedSocket;
}
function getCachedSocket() {
    return cachedSocket;
}
</script>
