<script type="text/javascript" src="https://d1fxtkz8shb9d2.cloudfront.net/sockjs-0.3.js"></script>
<script type="text/javascript">
var socket;
var DEFAULT_PORT = {{WEBSOCKET_PORT|default_if_none:8882}};
var DEFAULT_URI = "/participant";
var MAX_FAILURES = 128;
function connect(uri, port) {
    var host = window.location.hostname;
    var numFailures = 0;
    if ( !host ) {
        console.log("Tried to connect to null host, defaulting to vcweb.asu.edu instead.");
        host = "vcweb.asu.edu";
    }
    if ( !uri ) {
        console.log("defaulting to " + DEFAULT_URI);
        uri = DEFAULT_URI;
    }
    // var sockjsServer = "http://" + host + ":" + port + uri;
    var sockjsServer = "https://" + host + "/websocket" + uri;
    console.log("Establishing connection to " + sockjsServer);
    socket = new SockJS(sockjsServer);
    socket.onopen = function() {
        socket.send(createConnectionEvent());
    };
    socket.onmessage = function(e) {
        console.log('received message', e.data);
    };
    socket.onclose = function() {
        console.log('sockjs connection closed.');
        numFailures++;
        if (numFailures < MAX_FAILURES) {
            console.log("Trying to re-establish sockjs connection until " + numFailures + " exceeds " + MAX_FAILURES);
            socket = new SockJS(sockjsServer);
        }
    };
    return socket;
}
function getWebSocket() {
    return socket;
}
</script>
