<script type="text/javascript" src="{{STATIC_URL}}js/socket.io.min.js"></script>
<script type="text/javascript">
    WEB_SOCKET_SWF_LOCATION="{{STATIC_URL}}flash/WebSocketMain.swf";
</script>

<script type="text/javascript">
var vcwebSocket = {};
var cachedSocket;
var defaultPort = 8881;
function connect(resource) {
    var host = window.location.hostname;
    if ( !host ) {
        console.log("Tried to connect to invalid host, connecting to vcweb.asu.edu instead.");
        host = "vcweb.asu.edu";
    }
    var port = {{WEBSOCKET_PORT}};
    if ( !port ) {
        console.log("using default port: " + defaultPort);
        port = defaultPort;
    }
    console.log("Establishing connection to " + host + ":" + port + "/" + resource);
    cachedSocket = new io.Socket(host, {port: port, resource: resource});
    cachedSocket.connect();
    console.log("connect invoked to " + host + ":" + port + "/" + resource);
    cachedSocket.on('connect', function() {
        console.debug("onconnect to " + host + ":" + port + "/" + resource);
        cachedSocket.send(createConnectionEvent());
    });
    /*
    cachedSocket.on('disconnect', function(data) {
        console.log("received disconnect, reconnecting.");
        cachedSocket.connect();
        cachedSocket.send(createReconnectionEvent());
    });
    */
    return cachedSocket;
}
function getCachedSocket() {
    return cachedSocket;
}
</script>
