{% if session_number == 1 %}
<h2>Paid Experiment Instructions</h2>
<h3>Two Sessions</h3>
<p>
This experiment is composed of two different, unconnected sessions.  Your group will be randomly selected for each
session, so you will be playing with a different group each time.  We will pay you for one of these two sessions, chosen
at random.  You have exactly 50% chance of being paid for your earnings in either session.
</p>
<h3>Group and Individual Status</h3>
<p>
You will be able to observe the status of the members of your group each round.  Likewise your group members can see
your status and those of the group.
</p>
<h3>Group Chat</h3>
<p>
You will be able to chat with the other members of your group via group text chat.  Once you have made a harvest
decision, you will no longer be able to chat for that round.
</p>
<h3>Harvest Choice</h3>
<p>
You will have a maximum of <i class='icon-clock'></i><span data-bind='text: roundDuration'></span> seconds to make a
harvest decision each round.  A countdown will alert you when there are 
<span data-bind='text: warningCountdownTime'></span> seconds remaining to make a harvest choice.  When the countdown
reaches zero, any value you have selected will be submitted.  <strong>The default harvest is zero.</strong>
</p>
{% comment %}
FIXME: figure out how to pager between paid experiment instructions and the subsequent section (welcome to
session X), is tricky because of the transitions between rounds and the fact that session 2 doesn't need this same
pager, just the below instructions.
{% endcomment %}
{% endif %}
<h3>Welcome to Session {{ session_number }}</h3>
<p>
In this session, there are two groups or villages.  Each group has a forest that the other group cannot harvest.  Both
forests have the same growth capacity.  In addition, you may observe the other group, their storage amounts, and their
forest status.  Similarly, they may observe your group in the same way.
</p>
<p>
Key points:
</p>
<ul>
    <li>Two groups</li>
    <li>Each group has an exclusive forest of the same size</li>
    <li>You may observe the other group</li>
    <li>They may observe your group</li>
</ul>

