<h3>Welcome to Session {{ session_number }}</h3>
<p>
In this session, there are two groups or villages.  Each group has a forest that the other group cannot harvest.  Both
forests have the same growth capacity.  In addition, you may observe the other group, their storage amounts, and their
forest status.  Similarly, they may observe your group in the same way.
</p>
<p>
Key points:
</p>
<ul>
    <li>Two groups</li>
    <li>Each group has an exclusive forest of the same size</li>
    <li>You may observe the other group</li>
    <li>They may observe your group</li>
</ul>

