{% extends "participant/base.html" %}
{% block title %}<span data-bind='text: experimentStatusLabel'></span>{% endblock %}

{% block page %}
<div data-bind='template: { name: roundTypeTemplate }'>
</div>
{% endblock page %}
{% block javascript %}
{{ block.super }}
<!-- ko templates -->
<script type='text/html' id='welcome-template'>
    <p class='lead'>
    Welcome.  This experiment will begin shortly after everyone has been assigned a station.  Please <b>wait quietly and do
    not close this window, open any other applications, or communicate with any of the other participants</b>.  Thank you
    for your cooperation. Please also make sure to turn off any mobile devices before the experiment begins.
    More instructions to follow here (from Tim).
    </p>
</script>
<script type='text/html' id='chat-template'>
</script>
<script type='text/html' id='tutorial-template'>
<h3>Tutorial</h3>
<p class='lead'>
In this experiment you will be sharing a forest with <span class='badge badge-info' data-bind='text:participantsPerGroup'></span> other participants.  The experiment is divided into
<span class='badge badge-important' data-bind='text:numberOfRounds'></span>
rounds.  In each round you will make a decision of how many resources to harvest.  The resources will regenerate at a rate of <span data-bind='text: resourceRegenerationRate'></span> each round.  
Over the course of the experiment you will accumulate, or store resources.
Each round you must have <b>at least</b> <span class='badge badge-important' data-bind='text: survivalCost'></span> resources in your storage to survive.
</p>
<p>
To better illustrate, we will first participate in two practice rounds.  These rounds will not contribute to your earnings.
</p>
</script>
<script type='text/html' id='wait-template'>
</script>
<script type='text/html' id='play-round-template'>
<h3 data-bind='text: roundSequenceLabel'></h3>
<div data-bind="if: maxHarvestDecision > 0">
    <div style="background: url('{{STATIC_URL}}images/forestry/{{tree.name}}.png'); width:{{max_width}}px; height: {{max_height}}px;">
        &nbsp;
    </div>
</div>
<div data-bind="ifnot: maxHarvestDecision > 0">
    <div style='padding: 8px; margin: auto; border: solid 1px; background: #E8E8E8 url({{STATIC_URL}}images/forestry/deforestation.jpg) no-repeat center; height: 282px; width:425px;'>
        &nbsp;
    </div>
</div>
<div class='alert alert-message'>
    You require <span class='badge badge-important' data-bind='text:survivalCost'></span> to survive and you currently have <span class='badge badge-success' data-bind='text: storedResources'></span> resources stored.  
    There are <span class='badge badge-warning' data-bind='text: resourceLevel'></span> resources left for your entire group.
</div>

<div data-bind='if: alreadySubmittedDecision'>
<div class='alert alert-error'>
    You have already made a decision to harvest <b>{{ harvest_decision.value }}</b> resources.  You may change your
    decision until the experimenter ends the round.
</div>
</div>

<div data-bind='if: maxHarvestDecision > 0'>
<form id='vcweb-form' action='' method='post' class='form-horizontal'>
    {% csrf_token %}
    <div class='control-group'>
        How many resources will you harvest this round? <br/> 
        <label class='control-label' for='harvestDecision'>
            Enter a number between 0 and <span class='badge badge-info' data-bind='text:maxHarvestDecision'></span>:
        </label>
        <div class='controls'>
            <input id='harvestDecision' style='width: 2em; text-align: right;' type="text" name='harvest_decision' class='required digits' maxlength='1' placeholder="Enter a number" />
        </div>
    </div>
    <div class='control-group'>
        <div class='controls'>
            <button id='submitButton' type='submit' class='btn'>Harvest</button>
        </div>
    </div>
</form>
</div>
<div data-bind='if: maxHarvestDecision == 0'>
<div class='alert alert-error'>
    There are no longer enough trees to harvest. Please wait until the next round begins.
</div>
</div>
</script>
<script type="text/javascript">
    var experimentModelJson = $.parseJSON("{{ experimentModelJson|escapejs }}");
    $(function() {
        function ExperimentModel(experimentModelJson) {
            var self = this;
            var model = ko.mapping.fromJS(experimentModelJson);
            model.roundTypeTemplate = function (data) {
                console.log(data);
                switch (data.roundType) {

                }
            };
            return model;
        }
        function update(experimentModel) {
            return function(data) {
                ko.mapping.fromJS(data, experimentModel);
            }
        }
        function initialize(experimentModelJson) {
            var experimentModel = new ExperimentModel(experimentModelJson);
            ko.applyBindings(experimentModel);
            // FIXME: needs to be updated for KO
            /*
            $("#vcweb-form").validate({
                rules: {
                    harvest_decision: {
                        required: true,
                        range: [0, {{max_harvest_decision}}]
                    }
                },
                messages: {
                    harvest_decision: {
                        required: "Please enter a harvest decision",
                        range: "Please enter a number between 0 and {{ max_harvest_decision }}"
                    }
                },
            });
            $('#harvest-decision-id').focus(function() {
                this.select();
            });
            $('#harvest-decision-id').focus();
            */
            var s = connect();
            s.onmessage = function(json_string) {
                var json = jQuery.parseJSON(json_string);
                console.debug(json);
                update(json);
            };
        }
        initialize(experimentModelJson);
    };
{% endblock %}
