{% extends "participant/base.html" %}

{% block content %}
<form class='form-inline'>
    <h2>Experimenter Panel</h2>
    <!--
    <div class='control-group'>
        <label class='control-label' for='set-resource-level'>Resource level</label>
        <div class='controls'>
            0 <input type='range' id='set-resource-level' data-bind='value: resourceLevel' min='0' max='100' /> 100
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='set-survival-cost'>Survival cost</label>
        <div class='controls'>
            <input class='input-small' type='number' id='set-survival-cost' data-bind='value:survivalCost' />
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='set-storage'>Storage</label>
        <div class='controls'>
            <input class='input-small' type='number' id='set-storage' data-bind='value:storage' />
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='set-regrowth-rate'>Regrowth rate</label>
        <div class='controls'>
            <input class='input-small' step='0.1' type='number' id='set-regrowth-rate' data-bind='value:regrowthRate' />
        </div>
    </div>
    -->
    <div class='control-group'>
        <div class='controls'>
            <label class='control-label' for='pick-template'>Round template</label>
            <select id='pick-template'>
                <option value='WELCOME'>Welcome</option>
                <option value='INSTRUCTIONS' selected>Instructions</option>
                <option value='PRACTICE'>Practice round</option>
                <option value='REGULAR'>Actual round</option>
            </select>
            <label class='checkbox'>
                <input type='checkbox' data-bind='click: toggleChat' id='chat-toggle'> Toggle Chat
            </label>
        </div>
    </div>
</form>
<div data-bind='template: { name: roundType() }'>
</div>
{% endblock content %}

{% block sidebar %}
<div data-bind='if: chatEnabled'>
<h3>Chat</h3>
<div class='chat-sidebar'>
    <div id='chat-div' class='chat messages'>
        <div class='alert alert-message' data-bind="foreach: chatMessages">
            #<b data-bind="text: participant"></b>: <span data-bind="text: message"></span><br>
        </div>
    </div>
    <form id="chatform" class='form-inline'>
        <div class='input-prepend'>
            <span class='add-on'><i class='text-info icon-comment'></i></span>
            <input style='width: 81%;' class='chat-action' id='chatText' type="text" placeholder="Enter a chat message">
        </div>
        <button class='chat-action btn btn-primary' data-bind='click: submitChatMessage'>Send</button>
    </form>
</div>
</div>

{% endblock sidebar %}

{% block javascript %}
{{ block.super }}
<!-- ko templates -->
<script type='text/html' id='CHAT'>
{% include "forms/chat-template.html" %}
</script>
<script type='text/html' id='WELCOME'>
<h3>Welcome</h3>
<p class='lead'>
    Welcome.  This experiment will begin shortly after everyone has been assigned a station.  Please <strong>wait quietly and do
    not close this window, open any other applications, or communicate with any of the other participants</strong>.  Thank you
    for your cooperation. Please also make sure to turn off, silence, and disable vibration alerts on your cell phones
    and any mobile devices before the experiment begins.
</p>
</script>
<script type='text/html' id='INSTRUCTIONS'>
<h3>Instructions</h3>
<p>
You have been randomly assigned to a group of size <strong data-bind='text:participantsPerGroup'></strong>.
In this experiment you will be sharing a virtual forest with the other members of your group.  In each round you will
make a decision of how many resources to harvest.  The resources can regenerate over time as long as there some left, at
a rate
of (do we describe the regrowth rate here?).  The resources you collect will be put into your <b>storage</b>.
</p>
<h4>Survival</h4>
Each round you must have <b>at least</b> <span class='badge badge-important' data-bind='text: survivalCost'></span> resources in your storage to survive.
</p>
<p>
To better illustrate, we will begin with two practice rounds.  These rounds will not contribute to your earnings.
</p>
</script>
<script type='text/html' id='REGULAR'>
<div class='row'>
    <div class='span4'>
        <h3>My Status</h3>
        <div class='alert alert-message'>
            You harvested <strong class='text-success'><span data-bind='text:lastHarvestDecision'></span> <i class='icon-leaf'></i></strong> trees last round.
        </div>
        <div class='alert alert-message'>
            You have <strong class='text-success'><span data-bind='text: storage'></span> <i class='icon-leaf'></i></strong> trees stored.
        </div>
    </div>
    <div class='span5'>
        <h3>Group Status</h3>
        <table class='table table-bordered table-condensed'>
            <thead>
                <tr><th>Player</th>
                    <!-- ko foreach: playerData -->
                    <th data-bind='text: id'></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>Last harvest</td>
                <!-- ko foreach: playerData -->
                <td data-bind='text: lastHarvestDecision'></td>
                <!-- /ko -->
            </tr>
            <tr>
                <td>Storage</td>
                <!-- ko foreach: playerData -->
                <td data-bind='text: storage'></td>
                <!-- /ko -->
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h3>Forest</h3>
<div data-bind='if: practiceRound'>
<div class='alert alert-error alert-block'>
<h4>PRACTICE ROUND</h4>
This is a practice round.  The decisions you make in this round will <b>NOT</b> contribute to your earnings.
</div>
</div>

<div data-bind="ifnot: isResourceEmpty" id='resourceDisplay'>
    <div class='alert alert-info'>There are <strong class='badge badge-success' data-bind='text:resourceLevel'></strong> trees remaining in the forest.</div>
    <div data-bind='style: { width: resourceImageWidth, height: resourceImageHeight, background: resourceImageUrl }'>
        &nbsp;
    </div>
</div>
<div data-bind="if: isResourceEmpty">
    <div style='padding: 8px; margin: auto; border: solid 1px; background: url("{{STATIC_URL}}images/forestry/deforestation.jpg") no-repeat center; height: 282px; width:425px;'>
        &nbsp;
    </div>
    <div class='alert alert-error'>There are no more resources to harvest. Please wait until the next round begins.</div>
</div>
<div data-bind='if: hasSubmit'>
<div class='alert alert-error'>
    You have submitted a decision to harvest <span class='badge badge-important' data-bind='text: harvestDecision'></span> resources.
</div>
</div>

<h3>Observe Other Group</h3>
<div class='row'>
<div class='span4'>
<table>
<tr>
<td>
<button class='btn' data-bind='click: showOtherGroup'><i class='icon-eye-open'></i> Observe</a>
</td>
<td>
<img src='{{STATIC_URL}}/images/boundaries/observe.png' alt='observe'>
</td>
</tr>
</table>
</div>
<div class='span5'>
<div data-bind='if: shouldShowOtherGroup'>
<table class='table table-bordered table-condensed'>
<caption>Observation Results</caption>
<thead>
<tr><th></th><th>Other Group</th></tr>
</thead>
<tbody>
<tr><td>trees in forest</td><td data-bind='text:otherGroupResourceLevel'></td></tr>
<tr><td>average harvest</td><td data-bind='text:otherGroupAverageHarvest'></td></tr>
<tr><td>average storage</td><td data-bind='text:otherGroupAverageStorage'></td></tr>
</tbody>
</table>
</div>
</div>
</div>
<h3>Harvest</h3>
<div data-bind='ifnot: isResourceEmpty'>
<form id='vcweb-form' action='' method='post' class='form-inline'>
    {% csrf_token %}
    <div class='control-group'>
        <div class='controls'>
            <input id='participantGroupId' type='hidden' name='participant_group_id' data-bind='value: participantGroupId'/>
            <input id='harvestDecision' placeholder='Enter a harvest decision' type="number" name='harvest_decision' class='required' min="0" data-bind="value: harvestDecision, attr: { max: maxHarvestDecision }" /> 
            <button id='submitDecision' data-bind='click: submitDecision' type='submit' class='btn'>Harvest</button>
        </div>
    </div>
</form>
</div>
</script>
<script type="text/javascript">
    $(function() {
        function ExperimentModel(experimentModelJson) {
            var self = this;
            var model = ko.mapping.fromJS(experimentModelJson);
            model.showOtherGroup = function() {
                model.shouldShowOtherGroup(! model.shouldShowOtherGroup());
            }
            model.chatEnabled = ko.observable(false);
            model.shouldShowOtherGroup = ko.observable(false);
            model.harvestDecision = ko.observable(0);
            model.chatMessages = ko.observableArray([]);
            model.numberOfTreesPerRow = ko.observable(10);
            model.isResourceEmpty = ko.computed(function() {
                return model.resourceLevel() == 0;
            })
            model.resourcesToDisplay = ko.computed(function() {
                if (model.resourceLevel() > 0) {
                    return Math.min(model.resourceLevel(), 20);
                }
                return 0;
            });
            model.resourceImageUrl = ko.observable("url('{{STATIC_URL}}images/forestry/pine-tree.png')");
            model.resourceImageWidth = ko.computed(function() {
                return model.resourcesToDisplay() * 30 + "px";
            });
            model.resourceImageHeight = ko.observable("79px");
            model.submitDecision = function(data, evt) {
                evt.preventDefault();
                var formData = $('#vcweb-form').serialize();
                $.post('', formData, function(jsonString) {
                    var data = jQuery.parseJSON(jsonString);
                    console.log(data);
                    // FIXME: should probably update the entire model after we remove the test panel
                    // update(data.experimentModelJson);
                    // ko.mapping.fromJSON(data.experimentModelJson, model);
                    model.hasSubmit(true);
                });
            }
            model.submitChatMessage = function(data, evt) {
                evt.preventDefault();
                console.log("clicking chat message");
                var message = $('#chatText').val();
                if (message) {
                    $('#chatText').val('');
                    getWebSocket().send(createMessageEvent(message));
                    $('#chatText').focus();
                }
            }
            model.toggleChat = function(data, evt) {
                var enabled = $('#chat-toggle').is(':checked');
                if (enabled) {
                    $('.chat-action').removeClass('disabled').attr('disabled', ! enabled);
                }
                else {
                    $('.chat-action').addClass('disabled').attr('disabled', ! enabled);
                }
                model.chatEnabled(enabled);
                return true;
            }
            return model;
        }
        function update(experimentModel) {
            return function(data) {
                ko.mapping.fromJS(data, experimentModel);
            }
        }
        function enableChat() {
            $('.chat-action').removeClass('disabled').attr('disabled', false);
            $('#chat-toggle').prop('checked', true);
        }
        function disableChat() {
            $('.chat-action').addClass('disabled').attr('disabled', true);
            $('#chat-toggle').prop('checked', false);
        }
        function initialize(experimentModelJson) {
            var experimentModel = new ExperimentModel(experimentModelJson);
            ko.applyBindings(experimentModel);
            var s = connect();
            s.onmessage = function(json) {
                console.debug(json);
                var data = $.parseJSON(json.data);
                console.debug(data);
                switch (data.event_type) {
                    case 'chat':
                        experimentModel.chatMessages.unshift({ participant: json.participant_number, message: json.message, dateCreated: json.date_created });
                        console.debug("received chat message:" + json);
                        break;
                    default:
                        console.debug("unhandled json message:" + json);
                        break;
                }
                update(json);
            };
            $('#pick-template').change(function() {
                var templateName = $(this).val();
                console.debug("switching to template: " + templateName);
                if (templateName === "PRACTICE") {
                    templateName = "REGULAR";
                    experimentModel.practiceRound(true);
                    disableChat();
                }
                else if (templateName === "REGULAR") {
                    experimentModel.practiceRound(false);
                    disableChat();
                }
                else if (templateName === "CHAT") {

                }
                else {
                    enableChat();
                }
                experimentModel.roundType(templateName);
            });

        }
        //send the message when submit is clicked
        var experimentModelJson = $.parseJSON("{{ experimentModelJson|escapejs }}");
        initialize(experimentModelJson);
    });
</script>
{% endblock %}
