{% extends "participant/base.html" %}
{% load static %}
{% block head %}
{{ block.super }}
<link rel='stylesheet' href='{% static "css/boundaries/style.css" %}'/>
{% endblock %}
{% block content %}
<form class='form-inline'>
    <h2>Experimenter Panel</h2>
    <!--
    <div class='control-group'>
        <label class='control-label' for='set-resource-level'>Resource level</label>
        <div class='controls'>
            0 <input type='range' id='set-resource-level' data-bind='value: resourceLevel' min='0' max='100' /> 100
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='set-survival-cost'>Survival cost</label>
        <div class='controls'>
            <input class='input-small' type='number' id='set-survival-cost' data-bind='value:survivalCost' />
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='set-storage'>Storage</label>
        <div class='controls'>
            <input class='input-small' type='number' id='set-storage' data-bind='value:storage' />
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='set-regrowth-rate'>Regrowth rate</label>
        <div class='controls'>
            <input class='input-small' step='0.1' type='number' id='set-regrowth-rate' data-bind='value:regrowthRate' />
        </div>
    </div>
    -->
    <div class='control-group'>
        <div class='controls'>
            <label class='control-label' for='pick-template'>Round template</label>
            <select id='pick-template' data-bind='value: templateName()'>
                <option value='WELCOME'>Welcome</option>
                <option value='INSTRUCTIONS'>Instructions</option>
                <option value='INSTRUCTIONS2'>Instructions page 2</option>
                <option value='INSTRUCTIONS3'>Instructions page 3</option>
                <option value='PRACTICE_ROUND_INSTRUCTIONS'>Practice Round Instructions</option>
                <option value='PRACTICE'>Practice round</option>
                <option value='REGULAR'>Actual round</option>
            </select>
        </div>
    </div>
    <h3>Timers</h3>
    <div class='control-group'>
        <div class='controls'>
            <button data-bind='click: startHarvestDecisionTimer' type='button' class='btn btn-primary'>Start harvest decision timer</button>
            <button data-bind='click: startChatTimer' type='button' class='btn btn-primary'>Start chat timer</button>
        </div>
    </div>
</form>
<div data-bind='template: { name: templateName() }'>
</div>
{% endblock content %}

{% block sidebar %}
<div data-bind='if: chatEnabled'>
<h3>Chat</h3>
<div class='chat-sidebar well'>
    <form id="chatform" class='form-inline'>
        <div class='input-prepend input-append'>
            <span class='add-on'><i class='text-info icon-comment'></i></span>
            <input style='width: 100%;' class='chat-action' id='chatText' type="text" placeholder="Enter a chat message">
            <button class='btn' data-bind='click: submitChatMessage'>Send</button>
        </div>
    </form>
    <div id='chat-div'>
        <div data-bind='foreach: chatMessages'>
            <i class='icon-user muted'></i> <strong>Participant <span data-bind='text: participant_number'></strong><b class='pull-right muted' data-bind='text: date_created'></b>
            <p>
            <small><i class='icon-double-angle-right'></i></small> <span data-bind='text: message'></span>
            </p>
        </div>
    </div>
</div>
</div>

{% endblock sidebar %}

{% block javascript %}
{{ block.super }}
<!-- ko templates -->
<script type='text/html' id='CHAT'>
{% include "forms/chat-template.html" %}
</script>
<script type='text/html' id='WELCOME'>
<h3>Welcome</h3>
<p class='lead'>
    The experiment will begin shortly after everyone has been assigned a station and has had time to log in.
</p>
<div class='well'>
    <div class='alert alert-info'>
    <i class='text-success icon-info-sign'></i> Please <strong>wait quietly and do not close this window, open any other applications, or communicate with any of
    the other participants</strong>.
    </div>
    <div class='alert alert-info'>
    <i class='text-success icon-info-sign'></i>
    Please also make sure to turn off, silence, and disable vibration alerts on your cell phones and any mobile devices before the experiment begins.
    </div>
    <div>
    Thank you for your cooperation.
    </div>
</div>
</script>
<script type='text/html' id='INSTRUCTIONS'>
<div id='instructions1'>
<h4>Harvesting and Profit</h4>
<p>
In this experiment you will harvest trees <i class='icon-leaf text-success'></i> to make a
profit and survive.  Each round you may choose to harvest between <strong>0</strong> and <strong data-bind='text: maxHarvestDecision'></strong> trees.  
Each tree you harvest will be exchanged for one token, and extra tokens will be kept in your <strong>savings</strong>
each round.
</p>
<h4>Cost of living</h4>
<p>
Each round you must pay living expenses of <span class='badge badge-important' data-bind='text: survivalCost'></span>
tokens.  If, at any point you do not have enough tokens to pay the living expenses, you will not be paid or be able to
continue harvesting for the rest of the experimental session.  You will need to wait until the session is complete
before joining again.
</p>
<h4>Cash payment</h4>
<p>
If you collect enough tokens to pay living expenses until the end of the session you will be paid in cash 
<strong data-bind='text: formatCurrency(dollarsPerToken())'></strong> for each token you have.  It is possible that you
could earn as much as <strong data-bind='text: formatCurrency(maxEarnings())'></strong> for the entire experiment.
However, the final outcome depends on your choices and those of your group members.
</p>
<ul class='pager'>
<li class='next'>
<a href='javascript: void();' data-bind='click: activateInstructionsPageTwo'>OK, I understand</a>
</li>
</ul>
</div>
</script>
<script type='text/html' id='INSTRUCTIONS2'>
<div id='instructions2'>
<h4>Forest Growth</h4>
<p>
Trees in the forest regrow much as real trees do.  The more trees there are, the faster empty places fill up with new
trees.  It is possible to destroy the forest by overharvesting.  If the forest is destroyed there will be no more trees
to harvest for the rest of the experiment.
</p>
<h4>Carrying Capacity</h4>
<p>
Initially there are <span class='badge badge-success' data-bind='text: initialResourceLevel'></span> trees in the
forest.  The forest grows new trees after every harvesting round, but the rate of growth depends on how large the forest
is.  The forest cannot grow at all with zero trees, or at its full size of <span data-bind='text:initialResourceLevel'></span> trees.  
Instead, it grows fastest at one half of full size; <span data-bind='text: initialResourceLevel() / 2'></span> trees.
At a size of <span data-bind='text: initialResourceLevel() / 2'></span> trees, the forest will produce <span
data-bind='text: initialResourceLevel() / 10'></span> trees each season.
</p>
<h4>Sustainable Harvesting</h4>
<p>
The highest amount of harvesting that the forest can permanently support is 24 trees per season.  If that number is
split between the 4 participants in your group, the forest has a capacity to produce 6 trees per individual per round.
</p>
<ul class='pager'>
<li class='previous'>
<a href='javascript: void();' data-bind='click: activateInstructionsPageOne' >Back</a>
</li>
<li class='next'>
<a href='javascript: void();' data-bind='click: activateInstructionsPageThree' >OK, I understand</a>
</li>
</ul>
</div>
</script>
<script type='text/html' id='INSTRUCTIONS3'>
<div id='instructions3'>
<h4>Groups and Rounds</h4>
<p>
You have been randomly assigned to a group of size <strong data-bind='text:participantsPerGroup'></strong>.
In this experiment you will be sharing a virtual forest with the <span data-bind='text: participantsPerGroup() - 1'></span> 
other members in your group.  All participants in the experiment are in identical conditions and must harvest
trees to pay the cost of living <span data-bind='text: survivalCost'></span> and make a profit.
</p>
<p>
We will now begin with some <strong>practice rounds</strong>.  These rounds will <strong>not</strong> contribute to your
earnings.  If you have any questions please raise your hand and someone will come to address your question.  Otherwise,
please click the button to continue.
</p>
<ul class='pager'>
<li class='previous'>
<a href='javascript: void();' data-bind='click: activateInstructionsPageTwo' >Back</a>
</li>
<li class='next'>
<a href='javascript: void();' data-bind='click: activatePracticeRoundInstructions'>OK, Continue to practice rounds</a>
</li>
</ul>
</div>
</script>
<script type='text/html' id='PRACTICE_ROUND_INSTRUCTIONS'>
<h3>No Payment</h3>
<p>
There will be no payment for this practice session.
</p>
<h3>Group and Individual Status</h3>
<p>
You will be able to observe the status of the members of your group each round.  Likewise, group members will see your
status, and those of your group.
</p>
<h3>Harvest Choice</h3>
<p>
Each round you will have a maximum of 1 minute to make a harvest decision.  THere are two ways to submit a harvest
decision:
</p>
<ol>
<li>Select a harvest amount and click submit</li>
<li>Select a harvest amount and wait for the end of the session</li>
</ol>
<p>
At the end of each round a countdown will alert you when there are 10 seconds remaining to make a harvest choice.  When
the countdown reaches zero, any value you have selected will be auto-submitted.  The default harvest is zero.
</p>
<ul class='pager'>
<li class='previous'>
<a href='javascript:void();' data-bind='click: activateInstructionsPageThree'>Back</a>
</li>
<li class='next'>
<a href='javascript: void();' data-bind='click: finishedInstructions'>I have fully read and understand these instructions</a>
</li>
</ul>
</script>
<script type='text/html' id='REGULAR'>
<div class='row'>
    <div class='span4'>
        <h3>My Status</h3>
        <div data-bind='if: isTimerRunning'>
        <div class='alert alert-error'>
        <b><i class='icon-time'></i> Time left:</b> 
         <span data-bind='text: secondsLeft'></span>s
        </div>
        </div>
        <div class='alert alert-message'>
            You harvested <strong class='text-success'><span data-bind='text:lastHarvestDecision'></span> <i class='icon-leaf'></i></strong> trees last round.
        </div>
        <div class='alert alert-message'>
            You have <strong class='text-success'><span data-bind='text: storage'></span> <i class='icon-leaf'></i></strong> trees stored.
        </div>
    </div>
    <div class='span5'>
        <h3>Group Status</h3>
        <table class='table table-bordered table-condensed'>
            <thead>
                <tr><th>Player</th>
                    <!-- ko foreach: playerData -->
                    <th data-bind='text: id'></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>Last harvest</td>
                <!-- ko foreach: playerData -->
                <td data-bind='text: lastHarvestDecision'></td>
                <!-- /ko -->
            </tr>
            <tr>
                <td>Storage</td>
                <!-- ko foreach: playerData -->
                <td data-bind='text: storage'></td>
                <!-- /ko -->
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h3>Forest</h3>
<div data-bind='if: practiceRound'>
<div class='alert alert-error alert-block'>
<h4>PRACTICE ROUND</h4>
This is a practice round.  The decisions you make in this round will <b>NOT</b> contribute to your earnings.
</div>
</div>

<div data-bind="ifnot: isResourceEmpty" id='resourceDisplay'>
    <div class='alert alert-info'>There are <strong class='badge badge-success' data-bind='text:resourceLevel'></strong> trees remaining in the forest.</div>
    <div data-bind='style: { width: resourceImageWidth, height: resourceImageHeight, background: resourceImageBackgroundUrl }'>
        &nbsp;
    </div>
</div>
<div data-bind="if: isResourceEmpty">
    <div style='padding: 8px; margin: auto; border: solid 1px; background: url("{{STATIC_URL}}images/forestry/deforestation.jpg") no-repeat center; height: 282px; width:425px;'>
        &nbsp;
    </div>
    <div class='alert alert-error'>There are no more resources to harvest. Please wait until the next round begins.</div>
</div>
<div data-bind='if: hasSubmit'>
<div class='alert alert-error'>
    You have submitted a decision to harvest <span class='badge badge-important' data-bind='text: harvestDecision'></span> resources.
</div>
</div>

<h3>Observe Other Group</h3>
<div class='row'>
<div class='span4'>
<table>
<tr>
<td>
<button class='btn' data-bind='click: showOtherGroup'><i class='icon-eye-open'></i> Observe</a>
</td>
<td>
<img src='{{STATIC_URL}}/images/boundaries/observe.png' alt='observe'>
</td>
</tr>
</table>
</div>
<div class='span5'>
<div data-bind='if: shouldShowOtherGroup'>
<table class='table table-bordered table-condensed'>
<caption>Observation Results</caption>
<thead>
<tr><th></th><th>Other Group</th></tr>
</thead>
<tbody>
<tr><td>trees in forest</td><td data-bind='text:otherGroupResourceLevel()'></td></tr>
<tr><td>average harvest</td><td data-bind='text:otherGroupAverageHarvest().toFixed(1)'></td></tr>
<tr><td>average storage</td><td data-bind='text:otherGroupAverageStorage().toFixed(1)'></td></tr>
</tbody>
</table>
</div>
</div>
</div>
<h3>Harvest</h3>
<div data-bind='ifnot: isResourceEmpty'>
<form id='vcweb-form' action='' method='post' class='form-inline'>
    {% csrf_token %}
    <div class='control-group'>
        <div class='controls'>
            <input id='participantGroupId' type='hidden' name='participant_group_id' data-bind='value: participantGroupId'/>
            <input id='harvestDecision' type="number" size="1" maxlength="1" name='harvest_decision' class='required' min="0" data-bind="value: harvestDecision, attr: { max: maxHarvestDecision }" /> 
            <button id='submitDecision' data-bind='click: submitDecision' type='submit' class='btn'>Harvest</button>
        </div>
    </div>
</form>
</div>
</script>
<script type="text/javascript">
    $(function() {
        function ExperimentModel(experimentModelJson) {
            var self = this;
            var model = ko.mapping.fromJS(experimentModelJson);
            model.secondsLeft = ko.observable(0);
            model.currentInterval = ko.observable();
            model.setCurrentInterval = function(intervalId) {
                model.clearCurrentInterval();
                model.currentInterval(intervalId);
            }
            model.clearCurrentInterval = function() {
                console.debug("clearing current interval: " + model.currentInterval());
                if (model.currentInterval()) {
                    clearInterval(model.currentInterval());
                    model.currentInterval(undefined);
                }
            }
            model.tick = function() {
                model.secondsLeft(model.secondsLeft() - 1);
            }
            model.isTimerRunning = ko.computed(function() {
                return model.secondsLeft() > 0;
            });
            model.templateName = ko.observable("WELCOME");
            // activate instructions click bindings
            model.activateInstructionsPageOne = function() {
                model.templateName('INSTRUCTIONS');
            };
            model.activateInstructionsPageTwo = function() {
                model.templateName('INSTRUCTIONS2');
            };
            model.activateInstructionsPageThree = function() {
                model.templateName('INSTRUCTIONS3');
            };
            model.activatePracticeRoundInstructions = function() {
                model.templateName("PRACTICE_ROUND_INSTRUCTIONS");
            }
            model.finishedInstructions = function() {
                console.debug("instructions were finished, notify experimenter");
                getWebSocket().send(createMessageEvent("Instructions completed"));
            }
            model.showOtherGroup = function() {
                model.shouldShowOtherGroup(true);
            }
            model.chatEnabled = ko.observable(false);
            model.shouldShowOtherGroup = ko.observable(false);
            model.harvestDecision = ko.observable(0);
            model.numberOfTreesPerRow = ko.observable(10);
            model.isResourceEmpty = ko.computed(function() {
                return model.resourceLevel() == 0;
            })
            model.resourcesToDisplay = ko.computed(function() {
                if (model.resourceLevel() > 0) {
                    return Math.min(model.resourceLevel(), 20);
                }
                return 0;
            });
            model.resourceImageUrl = ko.observable("{{STATIC_URL}}images/forestry/pine-tree.png");
            model.resourceImageBackgroundUrl = ko.observable("url('{{STATIC_URL}}images/forestry/pine-tree.png')");
            model.resourceImageWidth = ko.computed(function() {
                return model.resourcesToDisplay() * 30 + "px";
            });
            model.resourceImageHeight = ko.observable("79px");
            model.startChatTimer = function() {
                model.enableChat();
                model.secondsLeft(60);
                model.setCurrentInterval(
                        setInterval(function() {
                            model.tick();
                            if (! model.isTimerRunning()) {
                                model.disableChat();
                                model.clearCurrentInterval();
                            }
                        },
                        1000));
            };
            model.startHarvestDecisionTimer = function() { 
                model.secondsLeft(10);
                model.setCurrentInterval(setInterval(function() {
                    model.tick();
                    if (! model.isTimerRunning()) {
                        model.submitDecision();
                        model.clearCurrentInterval();
                    }
                },
                1000));
            };
            model.submitDecision = function(data, evt) {
                if (evt) {
                    evt.preventDefault();
                }
                var formData = $('#vcweb-form').serialize();
                $.post('submit-harvest-decision', formData, function(jsonString) {
                    console.log(jsonString);
                    // FIXME: should probably update the entire model after we remove the test panel
                    // update(data.experimentModelJson);
                    // ko.mapping.fromJSON(data.experimentModelJson, model);
                    model.secondsLeft(0);
                    model.hasSubmit(true);
                    model.clearCurrentInterval();
                });
            }
            model.submitChatMessage = function(data, evt) {
                evt.preventDefault();
                console.log("clicking chat message");
                var message = $('#chatText').val();
                if (message) {
                    $('#chatText').val('');
                    getWebSocket().send(createMessageEvent(message));
                    $('#chatText').focus();
                }
            }
            model.disableChat = function() {
                $('#content').removeClass('span6').addClass('span9');
                $('#sidebar').removeClass('span6').addClass('span3');
                $('.chat-action').addClass('disabled').attr('disabled', true);
                model.chatEnabled(false);
            }
            model.enableChat = function() {
                $('#content').removeClass('span9').addClass('span6');
                $('#sidebar').removeClass('span3').addClass('span6');
                $('.chat-action').removeClass('disabled').attr('disabled', false);
                model.chatEnabled(true);
            }
            return model;
        }
        function update(experimentModel) {
            return function(data) {
                ko.mapping.fromJS(data, experimentModel);
            }
        }
        function initialize(experimentModelJson) {
            var experimentModel = new ExperimentModel(experimentModelJson);
            ko.applyBindings(experimentModel);
            var s = connect();
            s.onmessage = function(json) {
                console.debug(json);
                var data = $.parseJSON(json.data);
                console.debug(data);
                switch (data.event_type) {
                    case 'chat':
                        experimentModel.chatMessages.unshift(data);
                        console.debug("received chat message:" + json);
                        break;
                    default:
                        console.debug("unhandled json message:" + json);
                        break;
                }
                update(json);
            };
            $('#harvestDecision').keyup(function() {
                $('#harvestDecision').val(this.value.match(/\d+/));
            });
            $('#pick-template').change(function() {
                var templateName = $(this).val();
                console.debug("switching to template: " + templateName);
                if (templateName === "PRACTICE") {
                    templateName = "REGULAR";
                    experimentModel.practiceRound(true);
                }
                else if (templateName === "REGULAR") {
                    experimentModel.practiceRound(false);
                }
                experimentModel.templateName(templateName);
            });

        }
        //send the message when submit is clicked
        var experimentModelJson = $.parseJSON("{{ experimentModelJson|escapejs }}");
        initialize(experimentModelJson);
    });
</script>
{% endblock %}
