{% extends "forms/base.html" %}
{% block title %}
Communication Round: {{experiment}}
{% endblock %}

{% block page %}
<h3 style='margin-top: -30px;'>Communication Round Instructions</h3>
<div class='alert alert-info'>You are <b>participant {{ participant_group_relationship.participant_number }}.</b></div>
{% block instructions %}
<div class='alert alert-message'>
    You can chat about any aspect of the experiment with the other members of your group with two restrictions:
    <ol style='margin-left: 15px;margin-bottom: 0;'>
        <li>You cannot promise side payments after the experiment is completed 
        <li>You cannot threaten any member of your group with any consequences after the experiment is completed
    </ol>
    We are monitoring the chat traffic and if we detect any violation of these rules you will be removed from the experiment.
</div>
{% block custom_instructions %}
{{ custom_instructions }}
{% endblock %}
{% endblock instructions %}
<!-- begin knockout template -->
<div id='chat-div' class='chat notice alert alert-message'>
    <div class='alert alert-message' data-bind="foreach: messages">
        <a class='chat-message' data-bind="attr: { name: pk }, text: date_created"></a><span data-bind="text: message"></span>
    </div>
</div>
<form id="chatform" class='form-horizontal'>
    <input id='chatText' type="text" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type='submit'>Send</button>
        </div>
    </div>
</form>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(function() {
    function ChatMessage(jsonData) {
        this.message = ko.observable(jsonData.message);
        this.date_created = ko.observable(jsonData.date_created);
        this.sender = ko.observable(jsonData.sender);
    }
    function ChatMessagesViewModel() {
        var self = this;
        self.messages = ko.observableArray([]);
        self.addMessage = function(json) {
            self.messages.push(new ChatMessage(json));
        }
    }
    var chatMessagesViewModel = new ChatMessagesViewModel();
    {% for chat_message in chat_messages %}
        chatMessagesViewModel.addMessage({ message: {{chat_message.value}}, date_created: {{chat_message.date_created}}, sender: {{chat_message.sender}} });
    {% endfor %}
    ko.applyBindings(chatMessagesViewModel);
    var s = connect('/participant');
    s.onmessage = function(json_string) {
        var json = jQuery.parseJSON(json_string);
        // FIXME: should switch to single page app
        switch (json.message_type) {
            case 'chat':
                chatMessagesViewModel.addChatMessage(json);
            break;
            case 'refresh':
                location.reload(true);
            break;
            case 'goto':
                location.href = json.url;
            break;
        }
    };
    //send the message when submit is clicked
    $('#chatform').submit(function (evt) {
        var line = $('#chatText').val();
        if (line) {
            $('#chatText').val('');
            s.send(createMessageEvent(line));
        }
        return false;
    });
    $('#chatText').focus();
});
</script>
{% endblock %}

