{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block title %} Experiment Session Management {% endblock %}
{% block page %}
    <div class="row" id='page'>
        <div id="content" class="span12">
            <h2>Subject recruitment</h2>
            {% bootstrap_messages %}
            <div class="callout callout-info">
                <span class='badge badge-info' data-bind='text: allEligibleParticipants'></span> eligible participants
                <ol>
                    <li>Create experiment sessions on your desired dates by clicking <button class='btn btn-xs btn-primary'><i class='fa fa-plus'></i> Add Session</button>,
                    entering the experiment session's associated experiment, start date, end date, and capacity, and
                    then clicking <button class='btn btn-xs btn-success'><i class='fa fa-save'></i></button> save.
                    <li>Select experiment sessions and click the <button class='btn btn-xs btn-primary'><i class='fa fa-envelope'></i> Create Invitations</button> button.
                    <li>Enter the number of participants to invite (defaults to 3 * the total experiment session capacity)
                    <li>Pick an affiliated institution or leave it blank to further filter the potential participant
                    pool. For example, if set to Arizona State University only participants with a self-reported
                    affiliation with Arizona State University would be invited.
                    <li>Enter an invitation subject and invitation text.
                    <li>Click <button class='btn btn-xs btn-warning'><i class='fa fa-eye'></i> Preview Invitation Email</button> to see what the final invitation email will look like and <b>verify the number of potential participants</b>.
                    <li>Click <button class='btn btn-xs btn-danger'><i class='fa fa-plus-circle'></i> Send Invitations</button> to send the invitations out - this step may take time to complete depending on how many invitations you send out.
                </ol>
            </div>
            <div class='alert alert-info'>
                <i class='fa fa-info-circle'></i> If you need to create a new experiment type to manage exclusion of past participants please <a href='/contact'>contact us</a>.
            </div>
            <div id="error-messages"></div>
            <div class="tabbable">
                <ul class='nav nav-tabs'>
                    <li class='active'><a href='#active' data-toggle='tab'><i class='fa fa-wrench'></i> Active sessions</a></li>
                    <li><a href='#past' data-toggle='tab'><i class='fa fa-archive'></i> Past sessions</a></li>
                </ul>
                <div class='tab-content'>
                    <div class='tab-pane active' id="active">
                        <div data-bind='if: activeSessions().length > 0'>
                            <div id="active-sessions" data-bind='template: { name: "session-template", foreach: activeSessions }'></div>
                        </div>
                        <div data-bind='if: activeSessions().length == 0'>
                            <div class="callout callout-warning">
                                No active experiment sessions. Click the "Add Session" button below to add a new one.
                            </div>
                        </div>
                        <button data-bind="click: addSession" class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                            Add Session
                        </button>
                        <button data-bind="click: function() { $('#invite-form').toggle('fast'); }, enable: selectedSessions().length" class="btn btn-primary">
                            <i class="fa fa-envelope"></i>
                            Create Invitations
                        </button>
                        <div id="invite-form" class="clearfix" style="display: none;">
                            <form class="form-horizontal col-md-5" role="form" data-bind="submit: $root.onInvite">
                                {%  bootstrap_form form layout="horizontal" label_class="col-md-5" field_class="col-md-7" %}
                                <div class="form-group">
                                    <label class="col-md-5 control-label">&#35; Potential Participants</label>
                                    <div class="col-md-7" id="participant-count">
                                        <span data-bind='text: potentialParticipantsCount' class="label label-info pull-left" style="margin-top: 7px;">NA</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-5 col-md-7">
                                        <div class='btn-group-vertical'>
                                            <button style='text-align: left;' type="button" class="btn btn-warning" data-bind="click: $root.emailPreview"><i class='fa fa-eye'></i> Preview Invitation Email</button>
                                            <button style='text-align: left;' type="submit" class="btn btn-danger" data-loading-text="sending..." id="invite-btn"><i class='fa fa-plus-circle'></i> Send Invitations</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-7" id="email-content"></div>
                        </div>
                    </div>
                    <div class='tab-pane' id="past">
                        <div data-bind='template: { name: "session-template", foreach: pastSessions }'></div>
                        <!-- ko ifnot: pastSessions().length > 0 -->
                            <div class="callout callout-warning">
                                No past experiment sessions.
                            </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="page-header clearfix">
                <h3 style="display: inline"></h3>
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-primary" data-calendar-nav="prev">&lt;&lt; Prev</button>
                        <button class="btn" data-calendar-nav="today">Today</button>
                        <button class="btn btn-primary" data-calendar-nav="next">Next &gt;&gt;</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-warning" data-calendar-view="year">Year</button>
                        <button class="btn btn-warning" data-calendar-view="month">Month</button>
                        <button class="btn btn-warning" data-calendar-view="week">Week</button>
                        <button class="btn btn-warning" data-calendar-view="day">Day</button>
                    </div>
                </div>
            </div>
            <div id="calendar"></div>
        </div>
    </div>
{% endblock page %}

{% block javascript %}
    {{ block.super }}
    <script type='text/javascript' src='/static/collected/admin/js/vendor/jquery/jquery.js'></script>
    {{ form.media }}
    {% include "includes/bootstrap-datetimepicker.html" %}
    <script type= "text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/calendar.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/calendar.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootbox.min.js"></script>

    <script type='text/html' id='session-template'>
        <div class="well-large well">
            <form role="form" class="form-inline" style="margin-bottom:0">
                {% csrf_token %}
                <fieldset>
                    <input type="hidden" data-bind="value: pk" name="pk" />
                    <table class="session-table table-condensed">
                        <tbody>
                            <tr>
                                <td rowspan="2" data-bind="if: active">
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" data-bind="click: $root.verifyConstraint, enable: !isEditable()">
                                      </label>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control input-sm" name="experiment_metadata" data-bind="foreach: $root.experiment_metadata_group, value: experiment_metadata, enable: isEditable">
                                        <optgroup data-bind="attr: {label: label}, foreach: experiment_metadata_list">
                                            <option data-bind="text: title, value:pk"></option>
                                        </optgroup>
                                    </select>
                                </td>
                                <td>
                                    <span class="label label-info session-label">Start Date/Time: </span>
				                </td>
                                <td>
				                    <span>
                                        <div class="input-group input-group-sm">
                                            <input name="start_date" type="text" class="form-control date-start" data-bind="datetimepicker: start_date, enable: isEditable" />
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </span>
                                </td>
                                <td rowspan="2">
                                    <span class=" label label-info session-label">Capacity:</span>
                                </td>
                                <td rowspan="2">
                                    <input style="width: 60px;" class="form-control input-sm" name="capacity" type="number" min="2" data-bind ="value : capacity, enable: isEditable" />
				                </td>
                                <td rowspan="2">
                                    <span class=" label label-info session-label">waitlist:</span>
                                </td>
                                <td rowspan="2">
                                    <input name="waitlist" type="checkbox" data-bind ="checked: waitlist, enable: isEditable" />
                                </td>

                                <td>
                                    <span class="label label-info session-label">Invites sent: </span>
                                </td>
                                <td>
                                    <span class="badge invite-badge" data-bind="text: invite_count">0</span>
                                </td>
                               <!-- ko if: active -->
                                <td rowspan="2">
                                    <div class="btn-group" data-bind = "visible: isEditable">
                                        <button class="btn btn-success" data-bind="click: $root.saveSession">
                                            <i class="fa fa-floppy-o"></i>
                                        </button>
                                        <button class="btn btn-danger" data-bind="click: $root.removeSession">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group" data-bind = "visible: !isEditable()">
                                        <a class="btn btn-primary" data-bind="attr: {href: 'session/detail/event/'+ pk()}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <button class="btn btn-success" data-bind="click: makeEditable">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </button>
                                        <button class="btn btn-danger" data-bind="click: $root.removeSession">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                </td>
                                <!-- /ko -->
                                <!-- ko ifnot: active -->
                                <td rowspan="2">
                                    <div class="btn-group">
                                        <a class="btn btn-primary" data-bind="attr: {href: 'session/detail/event/'+ pk()}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </div>
                                </td>
                                <!-- /ko -->
                            </tr>
                            <tr>
                                <td>
                                    <input type="text"class="form-control input-sm" name="location" placeholder="Location(e.g., online)" data-bind='value: location, enable: isEditable' />
                                </td>
                                <td>
                                    <span class="label label-info session-label">End Date/Time: </span>
                                </td>
                                <td>
                                    <span>
                                        <div class="input-group input-group-sm">
                                            <input name="end_date" type="text" class="form-control date-end" data-bind="datetimepicker: end_date, enable: isEditable" />
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </span>
                                </td>
                                <td>
                                    <span class=" label label-info session-label">Signups:</span>
                                </td>
                                <td>
                                    <span class="badge invite-badge" data-bind="text: signup_count">0</span>
				                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </script>

    <script type="text/javascript">
        var viewModelJson = $.parseJSON("{{ view_model_json | escapejs }}");

        function createCalendar() {
           return $('#calendar').calendar({
                events_source:'session/events',
                tmpl_path: '/static/tmpls/',
                onAfterViewLoad: function(view) {
                    $('.page-header h3').text(this.getTitle());
                    $('.btn-group button').removeClass('active');
                    $('button[data-calendar-view="' + view + '"]').addClass('active');
                }
            });
        }

        function displayFormError(errors) {
            var content = "";
            for(error in errors) {
                content += '<div class="alert alert-danger alert-dismissable alert-link"><button class=close data-dismiss=alert aria-hidden=true>&times;</button>Please enter valid '+ error +'</div>';
            }
            $("#error-messages").html(content);
        }

        $(function(){
            var calendar = createCalendar();

            $('.btn-group button[data-calendar-nav]').each(function() {
                var $this = $(this);
                $this.click(function() {
                    calendar.navigate($this.data('calendar-nav'));
                });
            });

            $('.btn-group button[data-calendar-view]').each(function() {
                var $this = $(this);
                $this.click(function() {
                    calendar.view($this.data('calendar-view'));
                });
            });

            var session_mapping = {
                'session_list': {
                    create: function (options) {
                        options.data.isEditable = options.data.isEditable || false;
                        return new SessionModel(options.data);
                    }
                }
            };

            var SessionListViewModel = function(data) {
                var self = this;
                var model = ko.mapping.fromJS(data, session_mapping, self)

                model.selectedSessions = ko.computed(function() {
                    return ko.utils.arrayFilter(model.session_list(), function(session) {
                        return session.selected();
                    });
                });

                model.verifyConstraint = function(session, event) {
                    if (model.selectedSessions().length == 0 || session.experiment_metadata() == model.selectedSessions()[0].experiment_metadata()) { 
                        if($(event.target).is(':checked')){
                            $('#id_number_of_people').val(parseInt($('#id_number_of_people').val()) + 3 * session.capacity());
                            session.selected(true);
                        } else {
                            $('#id_number_of_people').val(parseInt($('#id_number_of_people').val()) - 3 * session.capacity());
                            session.selected(false);
                            if(model.selectedSessions().length == 0) {
                                $('#invite-form').slideUp("slow");
                                $('#invite-form form')[0].reset();
                                $('#email-content').html("");
                            }
                        }
                        return true;
                    } else {
                        session.selected(false);
                        bootbox.alert("You can not invite participants for a list of experiment sessions spanning more than one experiment", function() {});
                        return false;
                    }
                }

                model.activeSessions = ko.computed(function() {
                    return ko.utils.arrayFilter(model.session_list(), function(session) {
                        return session.active();
                    });
                });

                model.pastSessions = ko.computed(function() {
                    return ko.utils.arrayFilter(model.session_list(), function(session) {
                        return !session.active();
                    });
                });

                function bookmarked_experiment_metadata_list(bool) {
                    return ko.utils.arrayFilter(viewModelJson.experiment_metadata_list,
                        function(experiment_metadata) {
                            return (experiment_metadata.bookmarked == bool);
                    });
                }

                model.experiment_metadata_group = [
                    { label: "bookmarked", experiment_metadata_list: bookmarked_experiment_metadata_list(true) },
                    { label: "Other", experiment_metadata_list: bookmarked_experiment_metadata_list(false) }
                ];

                model.addSession = function() {
                    var initial_start_date = moment().add(1, 'days').hour(10).minute(0).format('YYYY-MM-DD HH:mm');
                    var initial_end_date = moment().add(1, 'days').hour(11).minute(0).format('YYYY-MM-DD HH:mm');
                    model.session_list.push(
                        new SessionModel({ pk: -1, experiment_metadata: -1, start_date: initial_start_date, end_date: initial_end_date, capacity:10, invite_count: 0, location: "Online", isEditable: true, signup_count: 0, waitlist: false})
                    );
                };

                model.saveSession = function(session, event) {
                    //  Using isBefore and then negating its result to replicate >= behaviour
                    if (!moment(session.start_date()).isBefore(session.end_date())) {
                        bootbox.alert(
                            "ERROR: End date cannot be earlier than or same as the start date. Please choose a later end date.",
                            function() {}
                        );
                        return;
                    }
                    var formData = 'location='+session.location()+'&capacity='+session.capacity()+'&scheduled_date='+session.start_date()+'&experiment_metadata='+session.experiment_metadata()+ '&scheduled_end_date='+session.end_date()+ '&waitlist='+session.waitlist();
                    $.post("session/manage/"+ session.pk(), formData)
                        .done(function(result) {
                            if(result.success) {
                                if(session.pk() == -1) {
                                    if(model.selectedSessions().length == 0 || session.experiment_metadata() == model.selectedSessions()[0].experiment_metadata()) {
                                        $(event.target).parents("form").find("input[type=checkbox]").prop('checked', true);
                                        session.selected(true);
                                        $('#id_number_of_people').val(parseInt($('#id_number_of_people').val())+3 * session.capacity());
                                    }
                                }
                                session.pk(result.session.pk);
                                session.isEditable(false);
                                calendar = createCalendar();
                            } else {
                                displayFormError(result.errors);
                            }
                        });
                };

                model.removeSession = function(session, event) {
                    if(session.pk() == -1) return model.session_list.remove(session);

                    bootbox.confirm("Delete this session? All associated invitations and signups will be removed.",
                        function(result) {
                            if (result) {
                                var formData = 'request_type=delete&location='+session.location()+'&capacity='+session.capacity()+'&scheduled_date='+session.start_date()+'&experiment_metadata='+session.experiment_metadata();
                                $.post("session/manage/"+ session.pk(), formData)
                                    .done(function(result) {
                                        if(result.success){
                                            model.session_list.remove(session);
                                            calendar = createCalendar();
                                        } else {
                                            displayFormError(result.errors);
                                        }
                                    });
                            }
                        });
                };

                model.onInvite = function(formElement) {
                    var session_pk_list = ko.utils.arrayMap(model.selectedSessions(), function(item) { return item.pk(); });
                    var btn = $(formElement).find("#invite-btn");
                    if(session_pk_list.length) {
                        btn.button('loading')
                        var formData = $(formElement).serialize() + '&session_pk_list='+ session_pk_list;
                        $.post("{% url 'subjectpool:send_invites' %}", formData)
                            .done(function(result) {
                                if(result.success){
                                    $('#invite-form').slideUp("slow");
                                    $("#error-messages").html('<div class="alert alert-success">' + result.message + '</strong></div>');
                                    $('#invite-form form')[0].reset();
                                    $('#email-content').html("");
                                    ko.utils.arrayForEach(model.session_list(), function(session) {
                                        session.selected(false);
                                        if($.inArray(session.pk(), session_pk_list) != -1) {
                                            session.invite_count(session.invite_count() + result.invitesCount);
                                        }
                                    });
                                } else {
                                    $("#error-messages").html('<div class="alert alert-danger"><strong>' + result.message + '</strong></div>');
                                }
                                $(window).scrollTop($('#error-messages').offset().top - 100);
                            })
                            .always(function () {
                                btn.button('reset')
                            });
                    }
                };
                model.emailPreview = function(data, event) {
                    var session_pk_list = ko.utils.arrayMap(model.selectedSessions(), function(item) { return item.pk(); });
                    if(session_pk_list.length) {
                        var formData = $("#invite-form form").serialize() + '&session_pk_list='+ session_pk_list;
                        $.post("{% url 'subjectpool:get_invitations_count' %}", formData)
                            .done(function(result) {
                                model.potentialParticipantsCount(result.invitesCount);
                            });
                        $.post("{% url 'subjectpool:invite_email_preview' %}", formData)
                            .done(function(result) {
                                $("#email-content").html(
                                    '<fieldset class="scheduler-border"><legend class="scheduler-border">Email Preview</legend><div id="email-text"></div></fieldset>');
                                if(result.success){
                                    $("#email-text").html(result.content);
                                } else {
                                    $("#email-text").html(result.message);
                                }
                            });
                    }
                }
                return model;
            }

            var SessionModel = function(data) {
                var self = this;
                ko.mapping.fromJS(data, {}, self);

                self.selected = ko.observable(false); 
                self.active = ko.computed( function() {
                    //  Using isBefore and then negating its result to replicate >= behaviour
                    return self.pk() == -1 || !(moment(self.end_date()).isBefore());
                });
                self.makeEditable = function () {
                    self.isEditable(true);
                };
            }
            ko.applyBindings(new SessionListViewModel(viewModelJson));
        });
    </script>
{% endblock %}
