<html>
    <body>
        <h3 style="border-bottom: 1px solid #333;">vcweb notification</h3>
        <div id='content'>
            {% block content %}

            {% endblock %}
        </div>
        <hr>
        <div id='footer'>
            <b>NOTE:</b> Your login username is the same as the email address to which this message was sent.  If you have trouble
            logging in, you can <a href='https://vcweb.asu.edu/accounts/password/reset/'>reset your password</a>.
            If you encounter any other issues with this web application please <a href='http://vcweb.asu.edu/contact'>contact us</a> 
            or just reply to this email.
        </div>
    </body>
</html>
