<html>
    <body>
        <h3 style="font-family: Georgia, serif; line-height: 1.2; padding-bottom:.2em; margin: 1em 0 0 .7em; border-bottom: 1px solid #333;">vcweb notification</h3>
        <div id='content' style='font-size: 1em; font-family: Arial, Verdana, Tahoma, sans-serif;'>
            {% block content %}

            {% endblock %}
        </div>
        <hr>
        <div id='footer' style='font-size: 0.8em; font-family: Arial, Verdana, Tahoma, sans-serif;'>
            NOTE: your login username is the same as the email address to which this message was sent.  If you have trouble
            logging in, you can <a href='https://vcweb.asu.edu/accounts/password/reset/'>reset your password</a> or <a href='http://vcweb.asu.edu/contact'>contact us</a>.
        </div>
    </body>
</html>
