{% extends "participant/base.html" %}
{% load static %}
{% block head %}
{{ block.super }}
<link rel='stylesheet' href='{% static "css/bound/style.css" %}'/>
{% endblock %}
{% block page %}
<div class='row' id='page'>
    <div id='content' class='span8'>
        <h3><span data-bind='text: roundSequenceLabel'></span></h3>
        <div data-bind='template: { name: templateId(), afterRender: afterRenderTemplate }'>
        </div>
        <div id='progress-modal' class='modal hide fade'>
            <div class='model-header'>
                <h3>Updating experiment data</h3>
            </div>
            <div class='modal-body'>
                <div class='progress progress-striped active'>
                    <div id='progress-bar' class='bar' style='width: 100%'></div>
                </div>
            </div>
        </div>
    </div>
    <div id='sidebar' class='span4 filler sidebar'>
        <div data-bind='ifnot: isInstructionsRound'>
            <h3>Chat</h3>
            <div data-bind='ifnot: chatEnabled'>
                <div class='alert alert-error'>
                    <i class='icon-warning-sign'></i> Chat is currently disabled.
                </div>
            </div>
            <form id="chat-form" class='form-inline' data-bind='submit: submitChatMessage' >
                <div class='input-prepend input-block-level'>
                    <span class='add-on'><i class='text-info icon-comment'></i></span>
                    <input id='chatMessage' type="text" placeholder="Chat with your group">
                </div>
            </form>
            <div class='chat-sidebar'>
                <div id='chat-div'>
                    <div class='chat-messages' data-bind='foreach: chatMessages'>
                        <i class='icon-user muted'></i> <strong data-bind='text: participant_number'></strong>
                        <small><i class='icon-double-angle-right'></i></small> <span data-bind='text: value'></span>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page %}
{% block javascript %}
{{ block.super }}
<!-- ko templates -->
<script type='text/html' id='TREATMENT_RESULTS'>
    <h3>Session <span data-bind='text: sessionId'></span> Summary</h3>
    <table class='table table-compact'>
        <thead>
            <tr><th>Trees left in the forest</th><th>Trees harvested</th><th>Trees in storage</th><th>Earnings</th></tr>
        </thead>
        <tbody>
            <tr><td data-bind='text: resourceLevel'></td><td data-bind='text: totalHarvest'></td><td data-bind='text:storage'></td><td class='text-success' data-bind='text: totalEarnings'></td></tr>
        </tbody>
    </table>
    <div class='alert alert-info'>
        <i class='icon-info-sign'></i> Remember, only <b>one</b> of your sessions will be selected at random for
        payment.  We will now move on to the next session.
    </div>
    <ul class='pager'>
        <li class='next'>
        <a href='javascript: void()' data-bind='click: participantReady.bind($data, participantGroupId() + " finished reading session summary.") '>Ok, I'm ready</a>
        </li>
    </ul>
</script>
<script type='text/html' id='PRACTICE_ROUND_RESULTS'>
    <h3>Practice Round Results</h3>
    <p>
    You harvested <span class='badge badge-success' data-bind='text: storage'></span> trees.
    If this had been been a paid session, you would have earned <strong class='text-success' data-bind='text: totalEarnings'></strong>.
    </p>
    <p>
    We will now move on to the <strong>paid rounds.</strong>
    Before you continue, please <a data-bind='attr: { href: surveyUrl }'>fill out a final questionnaire by clicking this link.</a>
    </p>
    <ul class='pager'>
        <li class='next'>
        <a href='javascript: void()' data-bind='click: activateTemplate.bind($data, "PAID_EXPERIMENT_INSTRUCTIONS")'>Ok, continue</a>
        </li>
    </ul>
</script>
<script type='text/html' id='PAID_EXPERIMENT_INSTRUCTIONS'>
    <h2>Paid Experiment Instructions</h2>
    <h3>Two Sessions</h3>
    <p>
    This experiment is composed of two different, unconnected sessions.  Your group will be randomly selected for each
    session, so you will be playing with a different group each time.  We will pay you for one of these two sessions,
    chosen at random.  You have exactly 50% chance of being paid for your earnings in each session.
    </p>
    <h3>Group and Individual Status</h3>
    <p>
    You will be able to observe the status of the members of your group each round.  Likewise group members will see
    your status, and those of the group.
    </p>
    <h3>Group Chat</h3>
    <p>
    You will be able to text chat with the other members of your group.  Once you have made a harvest decision, you will
    no longer be able to contribute to the chat for that round.
    </p>
    <h3>Harvest Choice</h3>
    <p>
    You will have a maximum of <i class='icon-clock'></i><span data-bind='text: roundDuration'></span> seconds to make a
    harvest decision each round.  A countdown will alert you when there are 
    <span data-bind='text: warningCountdownTime'></span> seconds remaining to make a harvest choice.  When the countdown
    reaches zero, any value you have selected will be submitted.  <strong>The default harvest is zero.</strong>
    </p>

    <ul class='pager'>
        <li class='previous'>
        <a href='javascript: void()' data-bind='click: activateTemplate.bind($data, "PRACTICE_ROUND_RESULTS")'>Back</a>
        </li>
        <li class='next'>
        <a href='javascript: void()' data-bind='click: participantReady.bind($data, participantGroupId() + " finished paid experiment instructions") '>Ok, I understand</a>
        </li>
    </ul>
</script>
<script type='text/html' id='FINAL_DEBRIEFING'>
    <h2>Experiment Results</h2>
    <p>
    Thank you for participating.  As you recall from the initial instructions, we will pay you for one of the two
    experimental sessions you just completed.  You will select, at random, which session you will be paid for by
    flipping a coin.  The experimenter will be with you shortly to assist you with this process.  While you wait, please
    <a data-bind='attr: { href: surveyUrl }'>fill out a final questionnaire by clicking this link.</a>
    </p>
    <h2>Payments</h2>
    <table class='table'>
        <thead>
            <tr><th>Session 1</th><th>Session 2</th></tr>
        </thead>
        <tbody>
            <tr><td><span data-bind='text: sessionOneStorage'></span><br><span data-bind='text: sessionOneEarnings'</span></td>
                <td><span data-bind='text: sessionTwoStorage'></span><br><span data-bind='text: sessionTwoEarnings'></span></td>
            </tr>
        </tbody>
    </table>
</script>
<script type='text/html' id='TREATMENT_A_INSTRUCTIONS'>
<h3>Session <span data-bind='text: sessionId'></span> Instructions</h3>
<p>
In this session, there are two groups or villages.  Each group has a forest that the other group cannot harvest.  Both
forests have the same growth capacity.  In addition, you may observe the other group, their storage amounts, and their
forest status.  Similarly, they may observe your group in the same way.
</p>
<h3>Key points</h3>
<ul>
    <li>Two groups</li>
    <li>Each group has an <b>exclusive</b> forest of the same size</li>
    <li>You may observe the other group</li>
    <li>They may observe your group</li>
</ul>
<ul class='pager'>
    <li class='next'>
    <a href='javascript: void()' data-bind='click: participantReady.bind($data, participantGroupId() + " finished treatment A instructions")'>Ok, I am ready to start</a>
    </li>
</ul>
</script>
<script type='text/html' id='TREATMENT_D_INSTRUCTIONS'>
<h3>Session <span data-bind='text: sessionId'></span> Instructions</h3>
<p>
In this session, there are two groups or villages.  Both groups are sharing a forest to harvest.  The shared forest has
twice the capacity of a single-group forest.  
</p>
<h3>Key points</h3>
<ul>
    <li>Two groups</li>
    <li>Groups share a forest</li>
</ul>
<ul class='pager'>
    <li class='next'>
    <a href='javascript: void()' data-bind='click: participantReady.bind($data, participantGroupId() + " finished treatment D instructions")'>Ok, I am ready to start</a>
    </li>
</ul>
</script>
<script type='text/html' id='WAITING_ROOM'>
<h3>Waiting for other participants</h3>
<div>
Please wait.  The experiment will continue shortly once all the participants are ready.
<p>
<span class='badge'
data-bind='css: { "badge-important": readyParticipants() < (participantCount() / 2), "badge-success": readyParticipants() > (participantCount() / 2)}, text: readyParticipants'></span> of <span class='badge badge-success' data-bind='text: participantCount'></span> participants are ready.
</p>
</div>
</div>
<div class='progress progress-success progress-striped active'>
<div class='bar' data-bind='style: { width: readyParticipantsPercentage() + "%" }'></div>
</div>
</script>
<script type='text/html' id='WELCOME'>
<h3>Welcome</h3>
<p class='lead'>
    The experiment will begin shortly after everyone has been assigned a station and has had time to log in.
</p>
<div class='well'>
    <div class='alert alert-info'>
    <i class='text-success icon-info-sign'></i> Please <strong>wait quietly and do not close this window, open any other applications, or communicate with any of
    the other participants</strong>.
    </div>
    <div class='alert alert-info'>
    <i class='text-success icon-info-sign'></i>
    Please also make sure to turn off, silence, and disable vibration alerts on your cell phones and any mobile devices before the experiment begins.
    </div>
    <div>
    Thank you for your cooperation.
    </div>
</div>
</script>
<script type='text/html' id='GENERAL_INSTRUCTIONS'>
<div id='instructions1'>
<h4>Harvesting and Profit</h4>
<p>
In this experiment you will harvest trees <i class='icon-leaf text-success'></i> to make a
profit and survive.  Each round you may choose to harvest between <strong>0</strong> and <strong data-bind='text: maxHarvestDecision'></strong> trees.  
Each tree you harvest will be exchanged for one token, and extra tokens will be kept in your <strong>savings</strong>
each round.
</p>
<h4>Cost of living</h4>
<p>
Each round you must pay living expenses of <span class='badge badge-important' data-bind='text: costOfLiving'></span>
tokens.  If, at any point you do not have enough tokens to pay the living expenses, you will not be paid or be able to
continue harvesting for the rest of the experimental session.  You will need to wait until the session is complete
before joining again.
</p>
<h4>Cash payment</h4>
<p>
If you collect enough tokens to pay living expenses until the end of the session you will be paid in cash 
<strong data-bind='text: formatCurrency(exchangeRate())'></strong> for each token you have.  It is possible that you
could earn as much as <strong data-bind='text: formatCurrency(maxEarnings())'></strong> for the entire experiment.
However, the final outcome depends on your choices and those of your group members.
</p>
<ul class='pager'>
<li class='next'>
<a href='javascript: void();' data-bind='click: activateTemplate.bind($data, "GENERAL_INSTRUCTIONS2")'>OK, I understand</a>
</li>
</ul>
</div>
</script>
<script type='text/html' id='GENERAL_INSTRUCTIONS2'>
<div id='instructions2'>
<h4>Forest Growth</h4>
<p>
Trees in the forest regrow much as real trees do.  The more trees there are, the faster empty places fill up with new
trees.  It is possible to destroy the forest by overharvesting.  If the forest is destroyed there will be no more trees
to harvest for the rest of the experiment.
</p>
<h4>Carrying Capacity</h4>
<p>
Initially there are <span class='badge badge-success' data-bind='text: initialResourceLevel'></span> trees in the
forest.  The forest grows new trees after every harvesting round, but the rate of growth depends on how large the forest
is.  The forest cannot grow at all with zero trees, or at its full size of <span data-bind='text:initialResourceLevel'></span> trees.  
Instead, it grows fastest at one half of full size; <span data-bind='text: initialResourceLevel() / 2'></span> trees.
At a size of <span data-bind='text: initialResourceLevel() / 2'></span> trees, the forest will produce <span
data-bind='text: initialResourceLevel() / 10'></span> trees each season.
</p>
<h4>Sustainable Harvesting</h4>
<p>
The highest amount of harvesting that the forest can permanently support is 24 trees per season.  If that number is
split between the 4 participants in your group, the forest has a capacity to produce 6 trees per individual per round.
</p>
<ul class='pager'>
<li class='previous'>
<a href='javascript: void();' data-bind='click: activateTemplate.bind($data, "GENERAL_INSTRUCTIONS")' >Back</a>
</li>
<li class='next'>
<a href='javascript: void();' data-bind='click: activateTemplate.bind($data, "GENERAL_INSTRUCTIONS3")' >OK, I understand</a>
</li>
</ul>
</div>
</script>
<script type='text/html' id='GENERAL_INSTRUCTIONS3'>
<div id='instructions3'>
<h4>Groups and Rounds</h4>
<p>
You have been randomly assigned to a group of size <strong data-bind='text:participantsPerGroup'></strong>.
In this experiment you will be sharing a virtual forest with the <span data-bind='text: participantsPerGroup() - 1'></span> 
other members in your group.  All participants in the experiment are in identical conditions and must harvest
trees to pay the cost of living <span data-bind='text: costOfLiving'></span> and make a profit.
</p>
<p>
We will now begin with some <strong>practice rounds</strong>.  These rounds will <strong>not</strong> contribute to your
earnings.  If you have any questions please raise your hand and someone will come to address your question.  Otherwise,
please click the button to continue.
</p>
<ul class='pager'>
<li class='previous'>
<a href='javascript: void();' data-bind='click: activateTemplate.bind($data, "GENERAL_INSTRUCTIONS2")' >Back</a>
</li>
<li class='next'>
<a href='javascript: void();' data-bind='click: activateTemplate.bind($data, "PRACTICE_ROUND_INSTRUCTIONS")'>OK, Continue to practice rounds</a>
</li>
</ul>
</div>
</script>
<script type='text/html' id='PRACTICE_ROUND_INSTRUCTIONS'>
<h3>No Payment</h3>
<p>
There will be no payment for this practice session.
</p>
<h3>Group and Individual Status</h3>
<p>
You will be able to observe the status of the members of your group each round.  Likewise, group members will see your
status, and those of your group.
</p>
<h3>Harvest Choice</h3>
<p>
Each round you will have a maximum of 1 minute to make a harvest decision.  THere are two ways to submit a harvest
decision:
</p>
<ol>
<li>Select a harvest amount and click submit</li>
<li>Select a harvest amount and wait for the end of the session</li>
</ol>
<p>
At the end of each round a countdown will alert you when there are 10 seconds remaining to make a harvest choice.  When
the countdown reaches zero, any value you have selected will be auto-submitted.  The default harvest is zero.
</p>
<ul class='pager'>
<li class='previous'>
<a href='javascript:void();' data-bind='click: activateTemplate.bind($data, "GENERAL_INSTRUCTIONS3")'>Back</a>
</li>
<li class='next'>
<a href='javascript: void();' data-bind='click: participantReady.bind($data, participantGroupId() + " finished practice round instructions")'>I have fully read and understand these instructions</a>
</li>
</ul>
</script>
<script type='text/html' id='REGULAR'>
<div class='row'>
    <div class='span5'>
        <h3>My Status</h3>
        <div class='row'>
            <div class='alert bound-status-dashboard span1'>
                <h4 id="dashboard-last-harvest">Last Harvest <i class='icon-info-sign' data-content="The number of trees you harvested last round."></i> </h4>
                <p>
                <strong class='text-success'><span data-bind='text:lastHarvestDecision'></span> <i class='icon-leaf'></i></strong>
                </p>
            </div>
            <div class='alert bound-status-dashboard span1'>
                <h4 id='dashboard-storage'>Total Earnings <i class='icon-info-sign' data-bind='attr: {"data-content": "You need at least " + costOfLiving() + " trees to survive each round."}'></i> </h4>
                <p>
                <strong data-bind='css: { "text-error": storage() < costOfLiving(), "text-success": storage() > costOfLiving()}'><span data-bind='text: storage'></span> <i class='icon-leaf'></i></strong>
                </p>
            </div>
            <div class='alert bound-status-dashboard span1'>
                <h4 id='dashboard-time'><i class='icon-time'></i> Time</h4>
                <p>
                <strong data-bind='css: { "text-error": secondsLeft() < warningCountdownTime(), "text-info": secondsLeft() > warningCountdownTime()}'>
                    <span data-bind='text: secondsLeft'></span> s
                </strong>
                </p>
            </div>
        </div>
    </div>
    <div class='span3'>
        <h3>Group Status</h3>
        <table class='table table-bordered table-condensed group-status'>
            <colgroup>
                <col>
                <!-- ko foreach: playerData -->
                <col data-bind='css: { "current-player": id() === $root.participantGroupId() }'>
                <!-- /ko -->
            </colgroup>
            <thead>
                <tr><th>Player</th>
                    <!-- ko foreach: playerData -->
                    <th data-bind='css: { "current-player": id() === $root.participantGroupId() }, text: number'></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>Last harvest</td>
                <!-- ko foreach: playerData -->
                <td data-bind='text: lastHarvestDecision, css: { "current-player": id() === $root.participantGroupId() }'></td>
                <!-- /ko -->
            </tr>
            <tr>
                <td>Earnings</td>
                <!-- ko foreach: playerData -->
                <td data-bind='text: storage, css: { "current-player": id() === $root.participantGroupId() }'></td>
                <!-- /ko -->
            </tr>
            <tr>
                <td>Alive&#63;</td>
                <!-- ko foreach: playerData -->
                <td data-bind='css: { "current-player": id() === $root.participantGroupId(), "text-error": ! alive(), "text-success": alive() }, text: alive() ? "Y" : "N"'></td>
                <!-- /ko -->
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class='row'>
    <div data-bind='css: { span8: ! canObserveOtherGroup() }, template: { name: "resource-visualization-template" }'></div>
</div>
<div class='row' data-bind='ifnot: isResourceEmpty()'>
    <div class='span8'>
        <h3>Harvest</h3>
        <div data-bind='if: submitted'>
            <div class='alert alert-success'>
                <i class='icon-leaf'></i> You have already submitted a harvest decision of <span class='badge badge-info' data-bind='text: harvestDecision'></span> trees.
            </div>
        </div>
        <div data-bind='if: selectedHarvestDecision'>
            <div class='alert alert-success'>
                <i class='icon-leaf'></i> You have currently selected a harvest decision of <span class='badge badge-info' data-bind='text: harvestDecision'></span> trees.  Click the Save button to finalize your decision.
            </div>
        </div>
        <div data-bind='ifnot: alive'>
            <div class='alert alert-error'>
                <b><i class='icon-ambulance'></i></b> You didn't harvest enough trees to meet the cost of living and are now
                <b>deceased</b>.  You will not be able to chat or submit harvest decisions until this session is over.
            </div>
        </div>
        <div data-bind='ifnot: isResourceEmpty'>
            <form id='vcweb-form' method='post' class='form-horizontal' >
                {% csrf_token %}
                <div id='harvestDecisionDiv' class='control-group'>
                    <div data-bind='template: { name: "harvest-decision-multiselect-template" }'></div>
                    <button disabled id='submitDecisionButton' data-bind='click: $root.submitDecision, text: submitted() ? "Continue" : "Save"' type='submit' class='btn btn-primary'></button>
                </div>
            </form>
        </div>
    </div>
</div>
</script>
<script type='text/html' id='resource-visualization-template'>
<div data-bind='if: isPracticeRound'>
    <div class='alert alert-error alert-block'>
        <h4>PRACTICE ROUND</h4>
        This is a practice round.  The decisions you make in this round will <b>NOT</b> contribute to your earnings.
    </div>
</div>

<div data-bind='css: { span4: canObserveOtherGroup }'>
<h4>My Group</h4>
<div class='alert alert-message'><strong class='badge badge-success' data-bind='text:resourceLevel'></strong> trees</div>
<div data-bind="visible: isResourceEmpty">
    <div class='well'>
    <center><img src="{% static 'images/bound/depleted-trees.jpg' %}" class="img-polaroid" width="425"
    height="282"></center>
    </div>
    <div class='alert alert-error'><i class='icon-warning-sign'></i> There are no more trees to harvest. Please wait until the next round begins.</div>
</div>
<div data-bind='ifnot: isResourceEmpty'>
<div data-bind='style: { width: blockResourceVisualizationImageWidth(resourceLevel), height: blockResourceVisualizationImageHeight(resourceLevel), background: resourceImageBackgroundUrl }'></div>
{% comment %} FIXME: crummy use of "px" concatenation, use something like inPixels(..) instead? {% endcomment %}
<div data-bind='style: { width: remainderResourceImageWidth(resourceLevel), height: resourceImageHeight() + "px", background: resourceImageBackgroundUrl }'></div>
</div>
<br>
<table class='table table-bordered table-condensed table-striped'>
    <tbody>
        <tr><td>forest</td><td data-bind='text:resourceLevel'></td></tr>
        <tr><td>average harvest</td><td data-bind='text:averageHarvest().toFixed(1)'></td></tr>
        <tr><td>average earnings</td><td data-bind='text:averageStorage().toFixed(1)'></td></tr>
        <tr><td>number alive</td><td data-bind='text:numberAlive'></td></tr>
    </tbody>
</table>
</div>

<div data-bind='if: canObserveOtherGroup'>
    <div class='span4'>
        <h4>Other Group</h4>
        <div class='alert alert-message'><strong class='badge badge-success' data-bind='text:otherGroupResourceLevel'></strong> trees</div>
        <div data-bind="visible: isResourceEmpty">
            <div class='well'>
                <center><img alt='deforested' src="{% static 'images/forestry/deforestation.jpg' %}" class="img-polaroid" width="425" height="282"></center>
            </div>
            <div class='alert alert-error'><i class='icon-warning-sign'></i> There are no more trees to harvest.</div>
        </div>
        <div data-bind='ifnot: isResourceEmpty'>
            <div data-bind='style: { width: blockResourceVisualizationImageWidth(otherGroupResourceLevel), height: blockResourceVisualizationImageHeight(otherGroupResourceLevel), background: resourceImageBackgroundUrl }'></div>
            {% comment %} FIXME: crummy use of "px" concatenation, use something like inPixels(..) instead? {% endcomment %}
            <div data-bind='style: { width: remainderResourceImageWidth(otherGroupResourceLevel), height: resourceImageHeight() + "px", background: resourceImageBackgroundUrl }'></div>
        </div>
        <br>
        <table class='table table-bordered table-condensed table-striped'>
            <tbody>
                <tr><td>forest</td><td data-bind='text:otherGroupResourceLevel()'></td></tr>
                <tr><td>average harvest</td><td data-bind='text:otherGroupAverageHarvest().toFixed(1)'></td></tr>
                <tr><td>average earnings</td><td data-bind='text:otherGroupAverageStorage().toFixed(1)'></td></tr>
                <tr><td>number alive</td><td data-bind='text:otherGroupNumberAlive'></td></tr>
            </tbody>
        </table>
    </div>
</div>
</script>
<script type='text/html' id='harvest-decision-multiselect-template'>
    <table class='table'>
        <tr class='row harvest-decision-resources' data-bind='foreach: harvestDecisionOptions'>
            <td data-bind='attr: { id: "harvest-decision-td-" + $data }'>
                <form data-bind='attr: { id: $root.harvestDecisionFormId($data) }'>
                    <input id='participantGroupId' type='hidden' name='participant_group_id' data-bind='value: $root.participantGroupId'/>
                    <input id='harvestDecisionTextInput' type='hidden' name='integer_decision' data-bind='value: $data'>
                    <div class='harvest-decision-tree-div' data-bind='click: $root.selectDecision.bind($root, $data)'>
                        <div data-bind='css: { selected: $root.isSelectedHarvestDecision($data), "harvest-decision-tree": $data > 0, "zero-harvest-decision": $data === 0}'></div>
                        <span style='margin-left: 2px;' class='badge badge-info' data-bind='text: $data'></span>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</script>
<script type='text/html' id='harvest-decision-select-template'>
    <div class='input-prepend'>
        <span class='add-on'><i class='icon-leaf'></i></span>
        <input id='participantGroupId' type='hidden' name='participant_group_id' data-bind='value: participantGroupId'/>
        <input id='harvestDecisionTextInput' type='hidden' name='integer_decision' data-bind='value: harvestDecision'>
        <input id='harvestDecisionSubmitted' style='display: none;' type='checkbox' name='submitted' data-bind='value: submitted'/>
        <select id='harvestDecisionSelect' name='harvest_decision' required="required" form="vcweb-form" data-bind='options: harvestDecisionOptions, value: harvestDecision'>
        </select>
    </div>
</script>
<script src='{% static "js/bootstrap-tour.js" %}'></script>
<script type="text/javascript">
    $(function() {
        function ExperimentModel(experimentModelJson) {
            var self = this;
            var model = ko.mapping.fromJS(experimentModelJson);
            model.harvestDecisionOptions = ko.computed(function() {
                return ko.utils.range(0, model.maxHarvestDecision());
            });
            model.harvestDecisionFormId = function(numberOfTrees) {
                numberOfTrees = numberOfTrees || model.harvestDecision();
                return "harvest-decision-form" + numberOfTrees;
            }
            model.calculateEarnings = function(quantity) {
                return function() {
                    return formatCurrency(quantity * model.exchangeRate());
                }
            }
            model.secondsLeft = ko.observable(0);
            model.currentInterval = ko.observable();
            model.selectedHarvestDecision = ko.observable(false);
            model.sessionOneEarnings = ko.computed(model.calculateEarnings(model.sessionOneStorage()));
            model.sessionTwoEarnings = ko.computed(model.calculateEarnings(model.sessionTwoStorage()));
            model.totalEarnings = ko.computed(model.calculateEarnings(model.storage()));
            model.templateId = ko.computed(function() {
                switch ( model.templateName() ) {
                    case 'PRACTICE':
                        return 'REGULAR';
                    default:
                        return model.templateName();
                }
            });
            model.setupTour = function() {
                var tour = new Tour();
                tour.addStep({ element: "#dashboard-last-harvest", title: "Last harvest", 
                    placement: "top",
                    content: "Your last round's harvest decision will be displayed here.  Since this is the first practice round this is currently 0."
                    });
                tour.addStep({ element: "#dashboard-storage", title: "Storage",
                        placement: "top",
                        content: "Your total storage will be displayed here.  You must have at least " +
                        model.costOfLiving() + " trees stored to survive each round."});
                tour.addStep({ element: "#dashboard-time", title: "Time Left",
                        placement: "top",
                        content: "The time remaining in this round will be displayed here.  It will turn red when " +
                        model.warningCountdownTime() + " seconds are left."});
                tour.addStep({ element: "#chatMessage", title: "Text Chat",
                        placement: "left",
                        content: "If chat is enabled, you can communicate with your group by typing messages into this box and hitting the enter key or clicking 'Send'."});
                tour.addStep({ element: "#harvestDecisionSelect", title: "Harvest Decision",
                        placement: "top",
                        content: "Enter the number of trees you'd like to harvest here.  For the purposes of this practice round, please select 10 now and click the 'Submit' button."});
                tour.start();
            }
            model.setCurrentInterval = function(intervalId) {
                model.clearCurrentInterval();
                model.currentInterval(intervalId);
            }
            model.clearCurrentInterval = function() {
                console.debug("clearing current interval: " + model.currentInterval());
                if (model.currentInterval()) {
                    clearInterval(model.currentInterval());
                    model.currentInterval(undefined);
                }
            }
            model.tick = function() {
                model.secondsLeft(model.secondsLeft() - 1);
            }
            model.isTimerRunning = ko.computed(function() {
                return model.secondsLeft() > 0;
            });
            // activate instructions click bindings
            model.activateTemplate = function(name) {
                model.templateName(name);
            }
            model.readyParticipantsPercentage = ko.computed(function() {
                return (model.readyParticipants() / model.participantCount()) * 100;
            });
            model.participantReady = function(message) {
                $.post('/experiment/participant-ready', { participant_group_id: model.participantGroupId() }, function(response) {
                    console.debug("successfully posted to server, notifying sockjs");
                    console.debug(response);
                    model.readyParticipants(response.number_of_ready_participants);
                    getWebSocket().send(createReadyEvent(message));
                    model.activateTemplate("WAITING_ROOM");
                });
            }
            model.numberOfTreesPerRow = ko.observable(10);
            model.isResourceEmpty = ko.computed(function() {
                return model.resourceLevel() == 0;
            })
            model.resourcesPerRow = ko.computed(function() {
                if (model.canObserveOtherGroup()) {
                    return 37;
                }
                else {
                    return 77;
                }
            });
            model.resourceImageWidth = ko.observable(10);
            model.resourceImageHeight = ko.observable(20);
            model.rowsToDisplay = function(resourceLevel) {
                return Math.floor(resourceLevel() / model.resourcesPerRow());
            };
            model.individualResourcesToDisplay = ko.computed(function() {
                return model.resourceLevel() % model.resourcesPerRow();
            });
            model.resourcesToDisplay = ko.computed(function() {
                if (model.resourceLevel() > 0) {
                    return Math.min(model.resourceLevel(), model.maximumResourcesToDisplay());
                }
                return 0;
            });
            model.inactiveResourceImageUrl = ko.observable("{{STATIC_URL}}images/bound/tree-inactive.png");
            model.resourceImageBackgroundUrl = ko.observable("url('{{STATIC_URL}}images/bound/tree-resource.png')");
            model.blockResourceVisualizationImageWidth = function(resourceLevel) {
                return (model.resourcesPerRow() * model.resourceImageWidth()) + "px";
            };
            model.blockResourceVisualizationImageHeight = function(resourceLevel) {
                var rowsToDisplay = model.rowsToDisplay(resourceLevel);
                console.debug("displaying " + rowsToDisplay + " rows.");
                return (rowsToDisplay * model.resourceImageHeight()) + "px";
            };
            model.remainderResourceImageWidth = function(resourceLevel) {
                var remainder = resourceLevel() % model.resourcesPerRow();
                return (remainder * model.resourceImageWidth()) + "px";
            };
            model.startRound = function() {
                if (model.showTour()) {
                    model.setupTour();
                }
                console.debug("starting round");
                if (isInt(model.timeRemaining()) && model.timeRemaining() > 0) {
                    model.secondsLeft(model.timeRemaining());
                    model.setCurrentInterval(
                        setInterval(function() {
                            model.tick();
                            if (! model.isTimerRunning()) {
                                // FIXME: need to verify that this invocation will work properly
                                model.submitDecision();
                            }
                        },
                        1000));
                }
            };
            model.isSelectedHarvestDecision = function(numberOfTrees) {
                return (model.submitted() || model.selectedHarvestDecision()) && model.harvestDecision() >= numberOfTrees;
            }
            model.submitDecision = function() {
                console.debug("submitting decision for form " + model.harvestDecisionFormId() + " with harvest decision:"  + model.harvestDecision());
                $.post('submit-harvest-decision', 
                {participant_group_id: model.participantGroupId(),integer_decision: model.harvestDecision(), submitted: true }, 
                function(response) {
                    console.debug(response);
                    // hide selection, disable chat, show waiting room
                    model.participantReady(response.message);
                    model.clearCurrentInterval();
                    model.submitted(true);
                    model.secondsLeft(0);
                });

            }
            model.selectDecision = function(numberOfTrees) {
                if (model.submitted()) {
                    alert("You've already submitted a harvest decision this round.");
                    return false;
                }
                var formId = "#" + model.harvestDecisionFormId(numberOfTrees)
                var form = $(formId);
                console.debug("formId: " + formId + " -- number of trees: " + numberOfTrees);
                model.selectedHarvestDecision(true);
                model.harvestDecision(numberOfTrees);
                var formData = form.serialize();
                console.debug(formData);
                $.post('submit-harvest-decision', formData, function(response) {
                    console.debug(response);
                    $('#submitDecisionButton').prop('disabled', false);
                });
                return false;
            }
            model.submitChatMessage = function(data, evt) {
                console.log("submitting chat message");
                var message = $('#chatMessage').val();
                if (message) {
                    $('#chatMessage').val('');
                    getWebSocket().send(createMessageEvent(message));
                    $('#chatMessage').focus();
                }
                return false;
            }
            model.update = function() {
                $.get('view-model', { participant_group_id: model.participantGroupId() }, function(data) {
                    console.debug("retrieved view model successfully");
                    console.debug(data);
                    ko.mapping.fromJS(data, model);
                    model.afterRenderTemplate();
                    $('#progress-modal').modal('hide');
                });
            }
            model.setFormDisabled = function(formId, disabled) {
                // disable all form inputs
                if (formId.indexOf("#") != 0) {
                    formId = "#" + formId;
                }
                $(formId + " :input").prop("disabled", disabled);
            }
            model.enableHarvestForm = function() {
                $('#harvestDecisionDiv').show();
            }
            model.disableHarvestForm = function() {
                $('#harvestDecisionDiv').hide();
            }
            model.enableChatForm = function() {
                model.setFormDisabled("#chat-form", false);
            }
            model.disableChatForm = function() {
                model.setFormDisabled("#chat-form", true);
            }
            model.setupChat = function() {
                // FIXME: chat is disabled in practice rounds, when it's explicitly disabled, or if the participant is
                // no longer alive
                var chatDisabled = model.isPracticeRound() || ! model.chatEnabled() || ! model.alive();
                model.setFormDisabled("#chat-form", chatDisabled);
                model.chatEnabled(! chatDisabled);
            }
            model.afterRenderTemplate = function(elements) {
                if (model.templateId() === "REGULAR") {
                    model.startRound()
                }
                model.setupChat();
                $('[data-content]').popover({placement: 'top', trigger: 'hover'});
            }
            return model;
        }
        function initialize(experimentModelJson) {
            var experimentModel = new ExperimentModel(experimentModelJson);
            ko.applyBindings(experimentModel);
            var s = connect();
            s.onmessage = function(message) {
                console.debug(message);
                var data = $.parseJSON(message.data);
                console.debug(data);
                switch (data.event_type) {
                    case 'chat':
                        console.debug("received chat message:" + message);
                        experimentModel.chatMessages.unshift(data);
                        break;
                    case 'update':
                        $('#progress-modal').modal('show');
                        experimentModel.update();
                        break;
                    case 'participant_ready':
                        $.get('/experiment/{{experiment.pk}}/check-ready-participants', function(response) {
                            experimentModel.readyParticipants(response.number_of_ready_participants);
                        });
                        break;
                    default:
                        console.debug("unhandled message:" + message);
                        break;
                }
            };
            return experimentModel;
        }
        model = initialize($.parseJSON("{{ experimentModelJson|escapejs }}"));
    });
    var model;
</script>
{% endblock %}
