{% extends "base.html" %}

{% block title %}Virtual Commons Web Experiment{% endblock %}

{% block page %}
<div id='post'>
	<h2 class='title'>About Us</h2>
	<div class='entry'>
	We develop real-time dynamic experiments to help us analyze and understand issues related 
	to the governance of common resources. Sharing common resources has been a challenge for 
	human societies for millennia. In many circumstances, the ability to create effective institutional 
	arrangements has helped avoid the tragedy of the commons. Controlled experiments have been instrumental 
	in increasing our understanding of how humans organize themselves in cooperative arrangements to govern 
	common resources. On this website you will find software to perform a diverse set of group experiments.
	</div>
	<hr/>
	<div class='entry'>
	The project is funded by the <a class='external' href='http://nsf.gov'>National Science Foundation</a> 
	(BCS 0625354 and SES 0748632) and <a class='external' href='http://www.asu.edu'>Arizona State University</a> 
	and is affiliated with the <a class='external' href='http://csid.asu.edu'>Center for the Study of Institutional Diversity</a>.
	</div>
</div>
{% endblock page %}

