{% load tags %}
{% load url from future %}

{% url 'home' as home %}
{% url 'about' as about %}
{% url 'contact' as contact %}
{% url 'core:login' as login %}
{% url 'core:logout' as logout %}
{% url 'core:register' as register %}
{% url 'core:profile' as profile %}
{% url 'core:dashboard' as dashboard %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
<title>{% block title %}Virtual Commons Web Experiment{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
<link rel='stylesheet' href='{{STATIC_URL}}bootstrap/css/font-awesome.min.css'>
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
{% endblock %}
</head>
<body>
{% block header %}
<div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
        <div class='container'>
            {% block headernav %}
            {% block headerlinks %}
            <ul class='nav'>
                <li><a class='brand {% active request home %}' href='{{ home}}'><img class='logo' src='{{STATIC_URL}}images/vcweb-logo.png' width='30' height='23' alt='vcweb logo'/>virtual commons</a></li>
                <li class='{% active_re request dashboard %}'><a href='{{ dashboard }}'><i class='icon-dashboard'></i> Dashboard</a></li>
                <li class='{% active request contact %}'><a href='{{ contact }}'><i class='icon-bell'></i> Contact us</a></li>
                <li><a target='_blank' href='https://bitbucket.org/virtualcommons/vcweb/issues/new'><i class='icon-bullhorn'></i> Report a Bug</a></li>
                {% if "participate" in request.path or "wait" in request.path %}
                <li class='{% active_re request "participate" %} {% active_re request "wait" %}'><a name='participate'><i class='icon-group'></i>Participate</a></li>
                {% endif %}
                {% if "experiment" in request.path %}
                <li class='{% active_re request "experiment" %}'><a name='experiment'><i class='icon-beaker'></i> Experiment</a></li>
                {% endif %}
            </ul>
            {% endblock %}
            <ul class='nav pull-right'>
                {% if request.user.is_authenticated %}
                <li class='{% active request login %} dropdown'>
                <a class='dropdown-toggle' data-toggle='dropdown' href='#'><i class='icon-cog'></i><b class='caret'></b></a>
                    <ul class='dropdown-menu'>
                        <li><a href='{{ profile }}'>Account</a></li>
                        <li><a href='{{ logout }}'>Logout ({{request.user.email}})</a></li>
                    </ul>
                </li>
                {% else %}
                <li class='{% active request login %}'>
                    {% if debug_mode %}
                    <a href='{{ login }}'>
                    {% else %}
                    <a href='https://{{request.get_host}}{{ login }}'>
                    {% endif %}
                    <i class='icon-cog'></i> Sign In</a>
                </li>
                {% endif %}
            </ul>
            {% endblock headernav %}
        </div>
    </div>
</div>
{% endblock %}
<div class='container'>
    <noscript>
        <div class='alert alert-error alert-block'>
            <p>Please <b>enable JavaScript</b> before using this site.
            <p>Experiments may not function properly without JavaScript enabled.</p>
        </div>
    </noscript>
    {% if messages %}
    <h3>Messages</h3>
    {% for message in messages %}
    <div class='alert'>
        <button class='close' data-dismiss='alert'>&times;</button>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

    {% block page %}
    <div class='row'>
        <div class='span9'>
            {% block content %}
            {% endblock %}
        </div>
        <div class='sidebar span3'>
            {% block sidebar %}
            {% endblock %}
        </div>
    </div>
    {% endblock page %}
</div>
<div id='footer'>
    <footer class="footer">
        {% block footer %}
        <p>
        <a href='http://csid.asu.edu'>Center for the Study of Institutional Diversity</a><br/>
        <a href='http://shesc.asu.edu'>School of Human Evolution and Social Change</a> 
        </p>
        <p class='legal'>
        Copyright (c) {% now "Y" %} Arizona Board of Regents.  <br/>
        <br />
        </p>
        {% endblock footer %}
        {% with jquery_version="1.8.3" %}
        <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/{{jquery_version}}/jquery.min.js'></script>
        {% endwith %}
        <script type='text/javascript' src='{{STATIC_URL}}bootstrap/js/bootstrap.min.js'></script>
        <script type='text/javascript' src='{{STATIC_URL}}js/jquery.cookie.js'></script>
        <script type='text/javascript' src='{{STATIC_URL}}js/ko/knockout.min.js'></script>
        <script type='text/javascript' src='{{STATIC_URL}}js/ko/knockout.mapping.min.js'></script>
        <script type='text/javascript' src='{{STATIC_URL}}js/common.js'></script>
        {% if debug_mode %}
        {% load dajaxice_templatetags %}
        {% dajaxice_js_import %}
        {% else %}
        <script type='text/javascript' src='{{STATIC_URL}}js/dajaxice.core.js' charset='utf-8'></script>
        {% endif %}
        {% block javascript %}
        {% endblock %}
    </footer>
</div>
</body>
</html>
