{% extends "base.html" %}

{% block head %}
    {{block.super}}
    {% block participant_socket_io %}
    <script type='text/javascript' src='/static/js/jquery.validate.min.js'></script>
    {% include "includes/participant.events.html" %}
    {% include "includes/socket.io.html" %}
    <script type='text/javascript'>
        connect(window.location.hostname, 8888, 'participant/{{participant_experiment_relationship.pk}}');
    </script>
    {% endblock %}
{% endblock %}

{% block title %}
    Virtual Commons Web Participant Interface
{% endblock %}

{% block header %}
    {% include "includes/participant-nav-menu.html" %}
{% endblock %}



