{% load tags %}
{% load static from staticfiles %}
{% load bootstrap3 %}
{% load raven %}
{% url 'about' as about %}
{% url 'home' as home %}
{% url 'core:dashboard' as dashboard %}
{% url 'core:login' as login %}
{% url 'core:logout' as logout %}
{% url 'core:participate' as participate %}
{% url 'core:profile' as profile %}
{% url 'core:register' as register %}
{% url 'core:report_issues' as issues_url %}
{% url 'subjectpool:experimenter_index' as subjectpool %}
<!DOCTYPE html>
<html lang="en">
{% with jquery_version="2.1.1" bootstrap_version="3.1.1" %}
<head>
{% block head %}
<title>{% block title %}Virtual Commons Web Experiment{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/{{bootstrap_version}}/css/bootstrap.min.css">
<link rel='stylesheet' href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" />
<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
{% endblock %}
</head>
<body>
{% block header %}
<nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
    <div class='container'>
        {% block headernav %}
        {% block headerlinks %}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class='navbar-brand {% active request home %}' href='{{ home }}'><img class='logo' src='{{STATIC_URL}}images/vcweb-logo.png' width='30' height='23' alt='vcweb logo'/>virtual commons</a>
        </div>
        <div class="collapse navbar-collapse" role='navigation'>
            <ul class='nav navbar-nav'>
                {% if request.user.is_authenticated %}
                {% if request.user.participant %}
                <li class='{% active_re request participate %}'><a href='{{ participate }}'><i class='fa fa-users'></i> Participate</a></li>
                {% elif request.user.experimenter %}
                <li class='{% active_re request dashboard %}'><a href='{{ dashboard }}'><i class='fa fa-tachometer'></i> Dashboard</a></li>
                <li class='{% active_re request subjectpool %}'><a href='{{ subjectpool }}'><i class='fa fa-users'></i> Subject recruitment</a></li>
                {% endif %}
                {% endif %}
                <li class='{% active_re request "contact" %}'><a href='/contact'><i class='fa fa-bell-o'></i> Contact us</a></li>
                <li><a target='_blank' href='{{ issues_url }}'><i class='fa fa-bullhorn'></i> Report a bug</a></li>
            </ul>
            {% endblock headerlinks %}
            {% block login %}
            <ul class='nav navbar-nav navbar-right'>
                {% if request.user.is_authenticated %}
                <li class='{% active request login %} dropdown'>
                <a class='dropdown-toggle' data-toggle='dropdown' href='#'>{{request.user.email}} <i class='fa fa-chevron-down'></i></a>
                    <ul class='dropdown-menu'>
                        <li><a href='{{ profile }}'><i class='fa fa-user'></i> Account</a></li>
                        <li><a href='{{ logout }}'><i class='fa fa-sign-out'></i> Sign out</a></li>
                    </ul>
                </li>
                {% else %}
                <li class='{% active request login %}'>
                    {% if DEBUG %}
                    <a href='{{ login }}'>
                    {% else %}
                    <a href='https://{{request.get_host}}{{ login }}'>
                    {% endif %}
                    <i class='fa fa-sign-in'></i> Sign In</a>
                </li>
                {% endif %}
            </ul>
            {% endblock login %}
            {% endblock headernav %}
        </div>
    </div>
</nav>
{% endblock %}
<div class='container fill'>
    <noscript>
        <div class='alert alert-danger alert-block'>
            <p>Please <b>enable JavaScript</b> if you'd like to use this site.
            <p>Experiments will not function properly without JavaScript enabled.</p>
        </div>
    </noscript>
    {% if DEBUG %}
    <div class='alert alert-danger alert-block'>
        <h2>Development Server</h2>
        <i class='fa fa-exclamation-triangle fa-2x'></i>You are accessing a <b>development version</b> of the vcweb software.  Any changes you make here are <b>NOT</b> persistent.
    </div>
    {% endif %}
    {% if messages %}
        <h3>Messages</h3>
        {% bootstrap_messages %}
    {% endif %}

    {% block page %}
    <div class='row' id='page'>
        <div id='content' class='col-md-9'>
            {% block content %}
            {% endblock %}
        </div>
        <div id='sidebar' class='col-md-3 filler sidebar'>
            {% block sidebar %}
            {% endblock %}
        </div>
    </div>
    {% endblock page %}
</div>
<footer id="footer">
    {% block footer %}
    <div class='container'>
        {% block footerlinks %}
        <ul class='nav-footer hidden-xs'>
            <li><a href='http://csid.asu.edu'>Center for the Study of Institutional Diversity</a></li>
            <li><a href='http://shesc.asu.edu'>School of Human Evolution &amp; Social Change</a></li>
            <li><a href='http://www.azregents.edu/'>&copy; 2011-{% now "Y" %} Arizona Board of Regents</a></li>
            <li>build: {% build_id %}</li>
        </ul>
        <a style='margin-top: 15px;' class='visible-xs pull-right' href='{{home}}'><img class='logo' src='{{STATIC_URL}}images/vcweb-logo.png' width='30' height='23' alt='vcweb logo'/></a>
        <ul style='margin-top: 5px;' class='list-unstyled visible-xs'>
            <li><a href='http://csid.asu.edu'>Center for the Study of Institutional Diversity</a>
            <li><a href='http://shesc.asu.edu'>School of Human Evolution &amp; Social Change</a>
            <li><a href='http://www.azregents.edu/'>&copy; 2011-{% now "Y" %} Arizona Board of Regents</a>
        </ul>
        {% endblock footerlinks %}

    </div>
    {% endblock footer %}
</footer>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/{{jquery_version}}/jquery.min.js'></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/{{bootstrap_version}}/js/bootstrap.min.js"></script>
    <script src='{{STATIC_URL}}/js/bootbox.min.js'></script>
    <script src='{{STATIC_URL}}js/jquery.cookie.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js'></script>
    <script src='{{STATIC_URL}}js/ko/knockout.mapping.min.js'></script>
    <script src='{{STATIC_URL}}js/common.js'></script>
    <script src="//cdn.ravenjs.com/1.1.15/jquery,native/raven.min.js"></script>
    <script>Raven.config('{% sentry_public_dsn %}').install();</script>
    {% block javascript %}
    {% endblock %}
</body>
{% endwith %}
</html>
