{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block page %}
<div id='post'>
	<h2 class='title'>Contact Us</h2>
	<div class='entry'>
        Please feel free to send us feedback, suggestions, or comments via our
        <a class='external' href='http://commons.asu.edu/contact'>contact form</a>.
        <br/><br/>
        We also maintain an issue tracker at <a class='external' href='https://bitbucket.org/virtualcommons/vcweb/issues'>BitBucket</a>
        and <a class='external' href='http://sourceforge.net/apps/trac/virtualcommons/'>SourceForge</a>
        (one of these will eventually be retired).
	</div>
</div>
{% endblock page %}

