{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block page %}
<div id='post'>
	<h2 class='title'>Contact Us</h2>
    <div class='panel panel-warning'>
        <div class='panel-heading'>VCWeb Beta</div>
        <div class='panel-body'>
            VCWeb is currently in a closed beta. If you'd like to request an experimenter account or have any bug
            reports or feedback for our development team please feel free to 
            <a class='external' href='http://commons.asu.edu/contact'>email us via our contact form</a> or 
            <a class='external' href='https://bitbucket.org/virtualcommons/vcweb/issues'>create issues on our BitBucket issue tracker</a>.
            Thanks for your interest!
        </div>
    </div>
</div>
{% endblock page %}

