{% extends "base-vcweb.html" %}

{% block title %} Virtual Commons Web Experimenter Interface {% endblock %} 

{% block header %}
{% include "includes/experimenter-nav-menu.inc" %}
{% endblock header %}

{% block content %}
<div class='notice'>
Welcome to the experimenter interface.  You are logged in as {{experimenter}}.
</div> 
<div id="post">
<fieldset>
<legend>Your experiments</legend>
<div class='sidebar'>
<ul>
{% for game_instance in games %}
<li>
<a href='{{game_instance.management_url}}'>
{{ game }}
</a>

</li>

{% endfor %}
</ul>
</div>
</fieldset>
</div>

{% endblock content %}

