{% extends "base-experimenter.html" %}
{% block title %}Virtual Commons Web Experimenter Dashboard{% endblock %}
{% block head %}
{{ block.super }}
<script type='text/javascript'>
    $(function() {
        $('.confirm-experiment-action').each(function() {
            var confirmable = $(this);
            var description = confirmable.attr("title");
            confirmable.click(function() {
                confirmable.fastConfirm({
                    questionText: description + " - continue?",
                    onProceed: function(trigger) {
                        $(trigger).fastConfirm('close');
                        window.location = $(trigger).attr("href");
                    },
                    onCancel: function(trigger) {
                        $(trigger).fastConfirm('close');
                    }
                });
                return false;
            });
        });
    });
</script>
{% endblock %}
{% block page %}
{{ block.super }}
{% comment%}
FIXME: replace these links eventually.
{% endcomment %}
<div id='navmenu'>
    <a href='/admin'>add / configure an experiment</a>
    <a href='/contact'>report a bug</a>
</div>
<div class='ui-state-highlight ui-corner-all'>
    <span class='ui-icon ui-icon-info icon-left'></span>
    Welcome to the experimenter dashboard.  You are logged in as {{request.user.experimenter}}.
</div>
<h3>Your experiments</h3>
<div id="post">
    {% for e in experiments %}
    <div class='notice ui-corner-all'>
        {{e.status_line}} <span style='padding: 3px;' class='ui-state-highlight'><b>{{e.participants.count}} registered participants</b></span>
        <ul class='horizontal'>
            <li><a title='Monitor and control this experiment' href='{{e.monitor_url}}'><img src='/static/images/famfamfam/zoom.png' alt='General experiment monitoring interface'/> monitor</a></li>
            <li><a class='confirm-experiment-action' title='Creates a new copy of this experiment with the exact same configuration but no registered participants.' href='{{e.clone_url}}'><img src='/static/images/famfamfam/page_copy.png' alt='Clone experiment'/> clone</a></li>
            <li>
            <a class='confirm-experiment-action' title='Register 15 participants for this experiment' href='{{e.controller_url}}/add-participants/15'><img src='/static/images/famfamfam/add.png' alt='add participants'/> register <b>15 students</b></a>
            <a class='confirm-experiment-action' title='Register 20 participants for this experiment' href='{{e.controller_url}}/add-participants/20'><b>20 students</b></a>
            </li>
            <li>
            <a title='Configure this experiment' href='{{e.controller_url}}/configure'><img src='/static/images/famfamfam/database_gear.png' alt='configure'/> configure</a>
            </li>
            <!-- <li><a href='{{e.management_url}}'><img src='/static/images/famfamfam/application_go.png' alt='Custom management interface'/> manage (unfinished)</a></li> -->
            <li><a title='clear all participants' href='{{e.controller_url}}/clear-participants' class='confirm-experiment-action'><img src='/static/images/famfamfam/delete.png' alt=''/> clear all participants</a></li>
            <li><a title='stop this experiment' href='{{e.stop_url}}' class='confirm-experiment-action' style='background-image:none;' ><img src='/static/images/famfamfam/stop.png' alt=''/> stop</a></li>
        </ul>
    </div>
    {% empty %}
    <div class='info infoIcon ui-corner-all'>
        You are not currently running any experiments.
    </div>
    {% endfor %}
</div>
{% endblock page %}

