{% extends "base-experimenter.html" %}

{% block title %} 
VCWEB: Monitoring {{ experiment.status_line }}
{% endblock %}

{% block page %}
{{block.super}}
<h3>{{experiment}} (id: {{ experiment.pk }})</h3>
<div class='experiment-dashboard'>
    {% comment %}
    FIXME: Improve this so that we can just inject a new round_configuration
    JSON object in and everything auto-updates.
    {% endcomment %}
    <fieldset class='small ui-corner-all'>
        <legend>Round Status</legend>
        <div>
            Round <span id='experiment-round'> {{ experiment.current_round.sequence_number }}</span> of <b>{{ experiment.experiment_configuration.final_sequence_number }}</b>
        </div>
        <div class='status'>
            Status: <span id='experiment-status'>{{ experiment.get_status_display }}</span> 
        </div>
        <div>
            Type: <span id='round-type'>{{ experiment.current_round.get_round_type_display }}</span>
        </div>
        <div>
            Time remaining: <span id='time-left'> {{ experiment.time_remaining }} </span>
        </div>
    </fieldset>
    <fieldset class='small ui-corner-all'>
        <legend>Actions</legend>
        <div>
            {% if experiment.is_active %}
            {% if experiment.is_round_in_progress %}
            <a class='confirm-experiment-action' href='end-round'><img src='/static/images/famfamfam/control_stop_blue.png' alt='' /> end round</a>
            {% else %}
            <a class='confirm-experiment-action' href='start-round'><img src='/static/images/famfamfam/control_play_blue.png' alt='' /> start round</a>
            {% endif %}
            <a style='background-image: none;' class='confirm-experiment-action' href='advance-to-next-round'><img src='/static/images/famfamfam/control_fastforward_blue.png' alt=''/> advance to next round</a>
            {% else %}
            <a class='confirm-experiment-action' href='activate'><img src='/static/images/famfamfam/cog_go.png' alt='' /> activate</a>
            {% endif %}
        </div>
    </fieldset>
</div>

{% for round_data in experiment.round_data.all %}
<h4> {{ round_data }} </h4>
{% if round_data.group_data_values.count > 0 %}
<div class='group-data'>
    <h4>Group data</h4>
    <table>
        <thead>
            <tr><th>Group</th><th>Parameter Name</th><th>Value</th><th>Type</th></tr>
        </thead>
        <tbody>
            {% for group_data_value in round_data.group_data_values.all %}
            <tr>
                <td>{{ group_data_value.group }}</td>
                <td>{{ group_data_value.parameter.label}}</td>
                <td>{{ group_data_value.value}}</td>
                <td>{{ group_data_value.parameter.type}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class='info ui-corner-all'>
    <span class='ui-icon ui-icon-info'></span>No group data for this round.
</div>
{% endif %}
{% if round_data.participant_data_values.count > 0 %}
<div class='participant-data'>
    <h4>Participant data</h4>
    <table>
        <thead>
            <tr><th>Participant</th><th>Parameter name</th><th>Value</th><th>Type</th></tr>
        </thead>
        <tbody>
            {% for participant_data_value in round_data.participant_data_values.all %}
            <tr>
                <td>{{ participant_data_value.participant }}</td>
                <td>{{ participant_data_value.parameter.label }}</td>
                <td>{{ participant_data_value.value }}</td>
                <td>{{ participant_data_value.parameter.type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class='info ui-corner-all'><span class='ui-icon ui-icon-info'></span>No participant data for this round.</div>
{% endif %}
{% empty %}
<div class='alert ui-corner-all'><span class='ui-icon ui-icon-alert'></span>Round data is not yet available.</div>
{% endfor %}


{% endblock page %}
