{% extends "base-experimenter.html" %}
{% block head %}
{{ block.super }}
{% include "includes/experimenter.events.html" %}
{% include "includes/socket.io.html" %}
<script type='text/javascript'>
    var qtipOptions = {position: { corner: {target: 'topMiddle', tooltip: 'bottomMiddle'}}, style: { name: 'dark', tip: 'bottomMiddle'} };
    function update(json) {
        if (json == Dajaxice.EXCEPTION) {
            console.error("dajaxice error: " + json);
        }
        else {
            $('#statusDiv').html(json.status);
            $('#experimentData').accordion("destroy");
            $('#experimentData').html(json.experimentData);
            registerCallbacks(json.round_data_count, json.active_round_number);
        }
    }
    function registerCallbacks(round_data_count, active_round_number) {
        $('.confirm-experiment-action').click(function() {
            Dajaxice.vcweb.core.experiment_controller(update, {'experiment_id': {{experiment_id}}, 'action':this.name});
            $('#statusDiv').hide('fast');
            $('#experimentData').hide('fast');
            $('#statusSpinner').show('fast');
            return false;
        });
        $('.confirm-experiment-action').confirm({
                timeout: 5000,
                dialogShow: 'fadeIn',
                dialogSpeed: 'fast',
                buttons: {
                    wrapper: "<button></button>",
                    separator: ' '
                },
                msg: '&nbsp; You are about to modify the experiment. Continue?'
        });
        $('#statusSpinner').hide('fast');
        $('#statusDiv').show('fast');
        $('#experimentData').show('fast');
        $('#statusDiv [title]').qtip(qtipOptions);
        if (round_data_count > 0) {
            $('#experimentData').accordion({
                active: active_round_number - 1,
                autoHeight: false
            });
        }
    }

    function addExperimentMessage(message) {
        $("#experiment-messages").append($("<div style='font-size: 0.8em;line-height:0.9em;padding:3px;' class='ui-state-highlight' />").append(message));
    }

    $(function() {
            var experimentMessageDiv = document.getElementById('experiment-messages');
            registerCallbacks({{ experiment.round_data.count }}, {{ experiment.current_round.sequence_number }});
            // socket.io connection
            // FIXME: add auth
            var s = connect(window.location.hostname, 8888, 'experimenter/{{request.user.experimenter.pk}}');
            s.on('message', function(json_string) {
                console.log("Received message: " + json_string);
                var json = jQuery.parseJSON(json_string);
                switch (json.message_type) {
                case 'info':
                    addExperimentMessage(json.message);
                    break;
                case 'chat':
                    break;
                case 'submit':
                    $('#participant_data_value_' + json.participant_data_value_pk).html(json.message).effect("highlight", {}, 5000).effect("bounce", { times: 3 }, 300);
                    addExperimentMessage("Participant " + json.participant_number + " (Group #" + json.participant_group + 
                        ") submit a harvest decision of " + json.message);
                    break;
                default:
                }
                scrollToBottom(experimentMessageDiv);
            });
            $('[title]').qtip(qtipOptions);
            $('#refreshAllParticipants').click(function(evt) {
                console.log("sending refresh event");
                s.send(createRefreshEvent());
                return false;
            });
            $('#gotoUrl').click(function(evt) {
                console.log("sending goto event");
                s.send(createGotoEvent());
                return false;
            });
            scrollToBottom(experimentMessageDiv);
        });
    </script>
</script>
{% endblock %}
{% block title %}
{{ experiment.status_line }}
{% endblock %}
{% block page %}
{{block.super}}
<h3>{{experiment}}</h3>
<span>You are logged in as {{request.user.experimenter}}.</span>
<hr/>
<div id='experimenter-sidebar'>
    <h5>Activity Log</h5>
    <div id='experiment-messages' class='experimenter-sidebar-messages notice ui-corner-all'>
        {% for group in experiment.groups.all %}
            {% for activity_log in group.current_round_activity_log %}
            <div style='font-size: 0.75em; line-height: 1.0em;padding:3px;' class='ui-state-highlight'>
                {{activity_log}}
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
<fieldset class='small ui-corner-all'>
    <legend>Experiment management</legend>
    <ul class='actions'>
        <li><span id='refreshAllParticipants' title='Sends a page refresh to all connected participants.' class='clickable' >
            <span class='vcweb-icon ui-icon icon-left' style='background:url(/static/images/famfamfam/arrow_refresh.png);' alt=''></span>refresh all participants</a></li>
        <li><span id='gotoUrl' title='Moves all connected participants from waiting page to active page.' class='clickable' >
            <span class='vcweb-icon ui-icon icon-left' style='background:url(/static/images/famfamfam/arrow_right.png);' alt=''></span>transition all participants to next round</a></li>
        <li>
        <a href='download/csv'><span class='vcweb-icon ui-icon icon-left' style='margin: 8px 0.15em 0px 0px; background:url(/static/images/download-icon.png);' alt=''></span>download data as <img src='/static/images/famfamfam/page_white_text.png' style='margin: 5px 0 0 0;' alt=''> csv</a> |
        <a href='download/xls'><img src='/static/images/famfamfam/page_white_excel.png' style='margin: 5px 0 0 0;' alt=''/> xls</a></li>
    </ul>
</fieldset>
<div class='experiment-dashboard'>
    {% comment %}
    FIXME: Improve this so that we can just inject a new round_configuration
    JSON object in and everything auto-updates.
    {% endcomment %}
    <div id='statusSpinner' style='display:none;'>
        <img src='/static/images/squares-circle-ajax-loader.gif' alt='... working ...' />
    </div>
    <div id='statusDiv'>
        {% block status %}
        <fieldset class='small ui-corner-all'>
            <legend>round status</legend>
            <ul id='actions' class='actions'>
                {% if experiment.is_active %}
                    {% if experiment.is_round_in_progress %}
                    <li><a class='confirm-experiment-action' name='end_round' href='end-round' title='Stops the current round.'>
                        <span class='vcweb-icon icon-left ui-icon' style='background: url(/static/images/famfamfam/control_stop_blue.png);' alt=''></span>end round</a></li>
                    {% else %}
                    <li><a class='confirm-experiment-action' name='start_round' href='start-round' title='Starts the round.'>
                        <span class='ui-icon vcweb-icon icon-left' style='background:url(/static/images/famfamfam/control_play_blue.png);' alt=''></span>start round</a></li>
                    {% endif %}
                    <li><a class='confirm-experiment-action' name='advance_to_next_round' href='advance-to-next-round' title='Stops the current round if necessary and advances to the next round.'>
                        <span class='vcweb-icon ui-icon icon-left' style='background:url(/static/images/famfamfam/control_fastforward_blue.png);' alt=''></span>advance to next round</a></li>
                {% else %}
                <li><a class='confirm-experiment-action' name='setup_test_participants'
                    href='setup-test-participants/20' title='Set up 20 participants'>Activate experiment with 20 participants</a></li>
                <li><a class='confirm-experiment-action' name='activate' href='activate' title='You must first activate an experiment before you can run it.'>
                    <span class='vcweb-icon ui-icon icon-left' style='background:url(/static/images/famfamfam/cog_go.png);' alt=''></span>activate</a></li>
                {% endif %}
            </ul>
            <br/>
            <ul class='messages tooltip' title='Round instructions: {{experiment.actions_help_text}}'>
                <li>{{ experiment.round_status_display }}</li>
                <li>Type: {{ experiment.current_round.get_round_type_display }}</li>
                <li>Round started on {{ experiment.current_round_start_time }}</li>
                <li>Time remaining: {{ experiment.time_remaining }}</li>
            </ul>
        </fieldset>
        {% endblock status %}
    </div>
</div>
<div id='experimentData'>
    {% block data %}
    {% for round_data in experiment.round_data.all %}
    <h3><a href='#'>{{ round_data }}</a></h3>
    <div id='round_data_{{forloop.counter}}'>
        {% if round_data.group_data_values.count > 0 %}
        <h4 class='collapsible'>Group data</h4>
        <table>
            <thead>
                <tr><th>Group</th><th>Parameter Name</th><th>Value</th></tr>
            </thead>
            <tbody>
                {% for group_data_value in round_data.group_data_values.all %}
                <tr>
                    <td>
                        <a class='tooltip' title='{{ group_data_value.group.all_participants_str }}'>
                            {{ group_data_value.group }}
                        </a>
                    </td>
                    <td>{{ group_data_value.parameter.label}}</td>
                    <td>{{ group_data_value.value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class='info ui-corner-all'>
            <span class='ui-icon ui-icon-info icon-left'></span>No group data for this round.
        </div>
        {% endif %}
        {% comment %} participant data values {% endcomment %}
        {% if round_data.participant_data_values.count > 0 %}
        <h4>Participant data</h4>
        <table>
            <thead>
                <tr><th>Participant</th><th>Parameter name</th><th>Value</th><th>Type</th></tr>
            </thead>
            <tbody>
                {% for participant_data_value in round_data.participant_data_values.all %}
                <tr>
                    <td>
                        <a class='tooltip' title='{{participant_data_value.participant}}'>
                            {{ participant_data_value.participant_number }} ({{ participant_data_value.group }})
                        </a>
                    </td>
                    <td>{{ participant_data_value.parameter.label }}</td>
                    <td id='participant_data_value_{{participant_data_value.pk}}'>{{ participant_data_value.value }}</td>
                    <td>{{ participant_data_value.parameter.type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class='info ui-corner-all'><span class='ui-icon ui-icon-info icon-left'></span>No participant data for this round.</div>
        {% endif %}
        {% comment %} participant chats {% endcomment %}
        {% if round_data.chat_messages.count > 0 %}
        <h4 class='collapsible'>Chat data (click to hide)</h4>
        <div id='chat_{{round_data.pk}}' class='chat notice ui-corner-all'>
            {% for chat_message in round_data.chat_messages.all %}
            <div class='ui-state-highlight'>
                <a class='tooltip' name='{{chat_message.pk}}' title='{{chat_message.date_created}} {{chat_message.participant}}'>
                    {{chat_message.date_created|date:"H:s"}}</a> | {{chat_message}}
                <span class='ui-icon ui-icon-comment icon-right'></span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% empty %}
    <div class='alert ui-state-highlight ui-corner-all'><span class='ui-icon ui-icon-alert icon-left'></span>Round data is not yet available.</div>
    {% endfor %}
    {% endblock data %}
</div>
{% endblock page %}
