{% extends "base-vcweb.html" %}

{% block title %}Virtual Commons Web Participant Interface{% endblock %}

{% block header %}
{% include "includes/participant-nav-menu.inc" %}

{% endblock %}
{% block content %}
<div class='notice'>
Welcome back, {{participant}}.  Games you are participating in are listed below.
</div>

<fieldset>
<legend>Your experiments</legend>
<ul>
{% for game_instance in games %}
<li>
<a href='{{game_instance.participant_url}}'>{{ game_instance }}</a></li>
{% endfor %}
</ul>
</fieldset>
{% endblock content %}
