{% extends "base-participant.html" %}

{% block participant_socket_io %}
{% endblock %}

{% block title %}
Virtual Commons Web Participant Dashboard
{% endblock %}

{% block page %}
<div class='info'>
    Welcome back, {{participant}}.
</div>

{% for experiment_metadata, experiment_status_dict in experiment_dict.items %}
<h3> {{ experiment_metadata|title }} </h3>
<div id='experiments' class='notice'>
    {% for experiment_status, experiments in experiment_status_dict.items %}
    <h3>{{experiment_status|title}}</h3>
    {% for experiment in experiments %}
    <div class='ui-state-highlight ui-corner-all'>
        <a href='{{ experiment.participant_url }}'>
            <span class='icon-left ui-icon {{experiment_status|lower}}'></span> 
            {{ experiment.status_line }}, created {{experiment.date_created|date:"SHORT_DATETIME_FORMAT"}}
        </a>
    </div>
    {% empty %}
    <div class='ui-state-error ui-corner-all'><span class='icon-left ui-icon ui-icon-alert'></span>No <b>{{ experiment_status|lower }}</b> experiments</div>
    {% endfor %}
    {% endfor %}
</div>
{% empty %}

{% endfor %}
{% endblock page %}
