{% extends "base.html" %}
{% block head %}
{{ block.super}}
<script type='text/javascript'>
    function getQtipOptions(style) {
        if (! style) {
            style = "dark";
        }
        return {position: { corner: {target: 'topMiddle', tooltip: 'bottomMiddle'}}, style: { name: style, tip: 'bottomMiddle'} };
    }
    var qtipOptions = getQtipOptions();
    $(function() {
        $('[title]').qtip(qtipOptions);
    });
</script>
{% include "includes/jquery.confirm.html" %}
{% endblock %}
{% block title %}Virtual Commons Web Experimenter Interface{% endblock %}
{% block header %}{% include "includes/experimenter-nav-menu.html" %}{% endblock %}
