{% extends "experimenter/base.html" %}
{% block title %}Virtual Commons Web Experimenter Dashboard{% endblock %}
{% block head %}
{{ block.super }}
<script type='text/javascript'>
    $(function() {
        $('.confirm-experiment-action').each(function() {
            var confirmable = $(this);
            var description = confirmable.attr("title");
            confirmable.click(function() {
                confirmable.fastConfirm({
                    questionText: description + " - continue?",
                    onProceed: function(trigger) {
                        $(trigger).fastConfirm('close');
                        window.location = $(trigger).attr("href");
                    },
                    onCancel: function(trigger) {
                        $(trigger).fastConfirm('close');
                    }
                });
                return false;
            });
        });
        $('.experiment-menu').each(function() {
            $(this).find('li:last a').attr('style', 'background-image: none;');
        });
    });
</script>
{% endblock %}
{% block page %}
{{ block.super }}
{% comment%}
FIXME: replace these links eventually.
{% endcomment %}
<div id='navmenu'>
    <a href='/admin'>add / configure an experiment</a>
    <a href='/contact'>report a bug</a>
</div>
<div class='ui-state-highlight ui-corner-all'>
    <span class='ui-icon ui-icon-info icon-left'></span>
    Welcome to the experimenter dashboard.  You are logged in as {{request.user.experimenter}}.
</div>
<h3>Your experiments</h3>
<div id="post">
    {% for e in experiments %}
    <div class='notice ui-corner-all'>
        {{e.status_line}} 
        <span style='float:right; padding: 3px;' class='ui-state-highlight'><b>{{e.participant_set.count}} registered participants</b></span>
        <ul class='horizontal experiment-menu'>
            <li><a title='Monitor and control this experiment' 
                href='{{e.monitor_url}}'>
                <img src='{{STATIC_URL}}images/famfamfam/zoom.png' alt='General experiment monitoring interface'/> monitor</a></li>
            <li>
            <a class='confirm-experiment-action' title='Creates a new copy of this experiment with the exact same configuration but no registered participants.'
                href='{{e.clone_url}}'><img src='{{STATIC_URL}}images/famfamfam/page_copy.png' alt='Clone experiment'/> clone</a></li>
            {% if e.participant_set.count == 0  %}
            <li>
            <a title='Register participants for this experiment with actual email addresses' href='{{e.controller_url}}/register-email-list'><img src='{{STATIC_URL}}images/famfamfam/group_add.png' alt='register'/> register participants</a>
            </li>
            <li>
            <a title='Register participants for this experiment with fake email addresses by providing an email suffix and the number of participants.' 
                href='{{e.controller_url}}/register-simple'>
                <img src='{{STATIC_URL}}images/famfamfam/group_add.png' alt='register'/> test participants</a>
            </li>
            {% else %}
            <li><a title='clear all participants' href='{{e.controller_url}}/clear-participants' class='confirm-experiment-action'><img src='{{STATIC_URL}}images/famfamfam/group_delete.png' alt=''/> clear all participants</a></li>
            {% endif %}
            {% if e.is_active %}
            <li><a title='stop this experiment' href='{{e.stop_url}}' class='confirm-experiment-action'><img src='{{STATIC_URL}}images/famfamfam/stop.png' alt=''/> stop</a></li>
            {% else %}
            <li>
            <a title='Configure this experiment (sanitation)' href='{{e.configure_url}}'><img src='{{STATIC_URL}}images/famfamfam/wrench.png' alt='configure' /> configure</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% empty %}
    <div class='info infoIcon ui-corner-all'>
        You are not currently running any experiments.
    </div>
    {% endfor %}
</div>
{% endblock page %}
