{% extends "experimenter/base.html" %}
{% block title %}Virtual Commons Web Experimenter Dashboard{% endblock %}
{% block page %}
{{ block.super }}
<h2>Experimenter Dashboard</h2>
{% comment %} FIXME: UI refinement needed as the list of experiments grows {% endcomment %}
<div id='dashboard'>
    <ul class='nav nav-tabs'>
        <li class='active'><a href='#running' data-toggle='tab'><i class='icon-wrench'></i> Running experiments</a></li>
        <li><a href='#pending' data-toggle='tab'><i class='icon-wrench'></i> Pending experiments</a></li>
        <li><a href='#archived' data-toggle='tab'><i class='icon-archive'></i> Archived experiments</a></li>
        <li><a href='#start' data-toggle='tab'><i class='icon-beaker'></i> Start a new experiment</a></li>
    </ul>
    <div class='tab-content'>
        <div class='tab-pane' id='start'>
            <div data-bind='foreach: experimentMetadataList'>
                <h3><span data-bind='text: title'></span></h3>
                <div data-bind='foreach: configurations'>
                    <div class='alert alert-message'>
                        <h4><span data-bind='text: name'>configuration name</span> (treatment id: <span data-bind='text: treatment_id() || "None"'></span>) <span class='pull-right' data-bind='text: date_created'></span></h4>
                        <span data-bind='text: number_of_rounds'></span> rounds, groups of <span data-bind='text: max_group_size'></span>
                        <br>
                        <div class='btn-group'>
                            <a class='btn' data-bind='click: $root.createNewExperiment.bind($data)'><i class='icon-plus-sign'></i> start new experiment</a>
                            <a class='btn' disabled data-bind='click: $root.modify'><i class='icon-edit'></i> edit configuration</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='tab-pane' id='pending'>
            <h3>Pending experiments</h3>
            <div data-bind='if: pendingExperiments().length === 0'>
                No pending experiments.
            </div>
            <div data-bind='template: { name: "experiment-controller-template", foreach: pendingExperiments }'></div>
        </div>

        <div class='tab-pane active' id='running'>
            <div data-bind='if: runningExperiments().length === 0'>
                You currently don't have any active experiments - would you like to <a href='#start' data-bind='click: activateStartExperimentTab'>create a new one?</a>.
            </div>
            <div data-bind='template: { name: "experiment-controller-template", foreach: runningExperiments }'></div>
        </div>
        <div class='tab-pane' id='archived'>
            <div data-bind='if: archivedExperiments().length == 0'>
                No archived experiments.
            </div>
            <div data-bind='template: { name: "experiment-controller-template", foreach: archivedExperiments }'></div>
        </div>
    </div>
</div>
{% endblock page %}
{% block javascript %}
<script type='text/html' id='experiment-controller-template'>
    <div class='alert alert-message'>
    <h4><span data-bind='text: status_line'></span> <span class='pull-right'><span data-bind='text: participantCount' class='badge badge-important'></span> participants</span></h4>
    <div class='btn-group'>
        <a class='btn' data-bind='attr: { href: monitor_url }'><i class='icon-zoom-in'></i> monitor</a>
        <button class='btn confirm-experiment-action' data-content='Creates a new copy of this experiment with the same configuration and no participants.'
            data-bind='click: $root.cloneExperiment'><i class='icon-copy'></i> clone</button>
        <button class='btn' data-content='Register participants for this experiment with actual email addresses'
            data-bind='enable: $root.canRegisterParticipants($data), click: $root.gotoExperimentUrl.bind($data, "register-email-list")'>
            <i class='icon-group'></i> register participants</button>
        <button class='btn' data-content='Register participants for this experiment with fake email addresses by providing an email suffix and the number of participants.'
            data-bind='enable: $root.canRegisterParticipants($data), click: $root.gotoExperimentUrl.bind($data, "register-test-participants")'>
            <i class='icon-group'></i> test participants</button>
        <button data-content='Remove all participants from the experiment, including any data they may have generated.'
            data-bind='enable: $root.canClearParticipants($data), attr: {href: $root.controllerUrl($data, "clear-participants")}' class='btn confirm-experiment-action'>
            <i class='icon-trash'></i> clear all participants</button>
        <button data-action='complete' data-content='Archive and mark this experiment as completed'
            data-bind='attr: {href: $root.controllerUrl($data, "archive")}' class='btn confirm-experiment-action'><i class='icon-save'></i> archive</button>
        <button data-action='deactivate' data-content='Flag this experiment as inactive'
            data-bind='attr: { href: $root.controllerUrl($data, "deactivate")}' class='btn confirm-experiment-action'><i class='icon-off'></i> deactivate</button>
    </div>
</div>
</script>
{{ block.super }}
<script type='text/javascript'>
    var dashboardViewModelJson = $.parseJSON("{{ dashboardViewModelJson|escapejs }}");
    $(function() {
        function DashboardViewModel(dashboardViewModelJson) {
            var self = this;
            var model = ko.mapping.fromJS(dashboardViewModelJson);
            model.activateStartExperimentTab = activateTabFunctor('#start');
            model.activatePendingExperimentsTab = activateTabFunctor('#pending');
            model.gotoExperimentUrl = function(urlAction, experimentModel) {
                var url = model.controllerUrl(experimentModel, urlAction);
                window.location = url;
            }
            model.controllerUrl = function(experimentModel, urlAction) {
                return experimentModel.controller_url() + "/" + urlAction;
            }
            model.createNewExperiment = function(configurationModel) {
                Dajaxice.vcweb.core.create_experiment(function(data) {
                    if (data.success) {
                        pendingExperimentModel = ko.mapping.fromJS(data.experiment);
                        model.pendingExperiments.unshift(pendingExperimentModel);
                        model.activatePendingExperimentsTab();
                    }
                },
                { experiment_configuration_id: configurationModel.pk() });

            }
            model.cloneExperiment = function() {
                console.debug("cloning experiment");
            }
            model.modify = function() {
                console.debug("modify existing configuration");
            }
            model.canClearParticipants = function(experimentModel) {
                return experimentModel.status() === 'INACTIVE' && experimentModel.participantCount() > 0;
            }
            model.canRegisterParticipants = function(experimentModel) {
                return ! experimentModel.isArchived() && (experimentModel.participantCount() === 0);
            }

            return model;
        }
        var model = new DashboardViewModel(dashboardViewModelJson);
        ko.applyBindings(model);
        // FIXME: rework this so that we make proper ajax posts on confirmation instead of get requests that modify
        // experiment state.
        $('a.confirm-experiment-action').click(function(evt) {
            evt.preventDefault();
            var self = $(this);
            var description = self.attr("data-content");
            var href = self.attr("href");
            if (self.hasClass('disabled')) {
                return false;
            }
            bootbox.confirm(description + "  Continue?", function(confirmed) {
                if (confirmed) {
                    window.location = self.attr("href");
                }
            });
            return false;
        });
    });
</script>
{% endblock %}

