{% extends "experimenter/base.html" %}
{% load bootstrap3 %}
{% load tags %}

{% block title %}Virtual Commons Web Experimenter Dashboard{% endblock %}
{% block head %}
{{ block.super }}
{% endblock %}

{% block page %}
    <div id="error-messages"></div>
    <h2> Experiment Configuration</h2>
    <form method="post" class="form-horizontal" data-bind="submit: $root.saveExperimentConfig">
        {{ experiment_config_form.non_field_errors }}
        <div class="col-md-6">
            <div id="experiment_config_pk" style="display: none;">
                {{experiment_config.pk}}
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Experiment metadata</label>
                <div class="col-md-8">
                    {{ experiment_config_form.experiment_metadata|addcss:"form-control input-sm" }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-8">
                    {{ experiment_config_form.name|addcss:"form-control input-sm" }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Treatment id</label>
                <div class="col-md-8">
                    {{ experiment_config_form.treatment_id|addcss:"form-control input-sm" }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Registration email subject</label>
                <div class="col-md-8">
                    {{ experiment_config_form.registration_email_subject|addcss:"form-control input-sm" }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Show up payment</label>
                <div class="col-md-3">
                    {{ experiment_config_form.show_up_payment|addcss:"form-control input-sm" }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Maximum payment</label>
                <div class="col-md-3">
                    {{ experiment_config_form.maximum_payment|addcss:"form-control input-sm" }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-5 control-label">Max number of participants</label>
                <div class="col-md-2">
                    {{ experiment_config_form.max_number_of_participants|addcss:"form-control input-sm" }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Max group size</label>
                <div class="col-md-2">
                    {{ experiment_config_form.max_group_size|addcss:"form-control input-sm" }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Exchange rate</label>
                <div class="col-md-2">
                    {{ experiment_config_form.exchange_rate|addcss:"form-control input-sm" }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Is Public</label>
                <div class="col-md-7">
                    <div class="checkbox">
                        <label>{{ experiment_config_form.is_public }}</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Is experimenter driven</label>
                <div class="col-md-7">
                    <div class="checkbox">
                        <label>{{ experiment_config_form.is_experimenter_driven }}</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Has daily rounds</label>
                <div class="col-md-7">
                    <div class="checkbox">
                        <label>{{ experiment_config_form.has_daily_rounds }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseTwo">
                        Experiment Parameter Value
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div data-bind='if: expParamValuesList().length == 0'>
                        <div class="callout callout-warning">
                            No experiment parameters found. Click the "Add Experiment Parameter" button below to add a new one.
                        </div>
                    </div>
                    <div id="tree">
                            <ul data-bind="foreach: expParamValuesList">
                                <li>
                                    <span class="tree-item fa" data-bind="css: 'fa-square-o'"></span>
                                    <span data-bind="text: display_name"></span>
                                    <a href='#' data-bind='click: $root.editExpParam'><i class="fa fa-edit"></i></a>
                                    <a href='#' data-bind='click: $root.removeExpParam'><i class="fa fa-times"></i></a>
                                </li>
                            </ul>
                    </div>
                    <button type="button" class="btn" data-bind="click: $root.addExpParam"><i class='fa fa-plus'></i> Add Experiment Parameter</button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseThree">
                        Round Configuration
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <div data-bind='if: roundConfigList().length == 0'>
                        <div class="callout callout-warning">
                            No rounds have been configured yet for this experiment configuration. Click the "Add Round Configuration" button below to add a new one.
                        </div>
                    </div>
                    <div id="tree">
                        <ul data-bind="foreach: roundConfigList">
                            <li>
                                <span class="tree-item fa" data-bind="
                                    css: {
                                        'fa-minus-square-o': isExpanded() && children().length > 0,
                                        'fa-plus-square-o': !isExpanded() && children().length > 0,
                                        'fa-square-o': children().length === 0,
                                        'pointer-icon': children().length > 0
                                    }, click: toggleVisibility
                                    "></span>
                                <span data-bind="text: display_name()"></span>
                                <a href='#' data-bind='click: $root.addRoundParam'><i class="fa fa-plus"></i></a>
                                <a href='#' data-bind='click: $root.editRoundConfig'><i class="fa fa-edit"></i></a>
                                <a href='#' data-bind='click: $root.removeRoundConfig'><i class="fa fa-times"></i></a>
                                <div data-bind="slideVisible: isExpanded">
                                    <ul data-bind="foreach: children">
                                        <li>
                                            <span class="tree-item fa fa-square-o"></span>
                                            <span data-bind="text: display_name"></span>
                                            <a href='#' data-bind='click: $root.editRoundParam'><i class="fa fa-edit"></i></a>
                                            <a href='#' data-bind='click: $root.removeRoundParam'><i class="fa fa-times"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn" data-bind="click: $root.addRoundConfig"><i class='fa fa-plus'></i> Add Round Configuration</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-bind="showModal: activateModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click:hideModal">&times;</button>
                    <h4 class="modal-title">Edit Details and Click Save</h4>
                </div>
                <div class="modal-body" data-bind="with: modalData" >
                    <div data-bind='template: { name: $root.template() }'></div>
                </div>
            </div>
        </div>
    </div>

{% endblock page %}
{% block javascript %}
{{ block.super }}

    <script type='text/html' id='round-param-template'>
        <form method="post" class="form-horizontal" data-bind="submit: $root.saveRoundParam">
            <input type="hidden" data-bind="value: pk">
            <!-- ko if: parent_pk -->
            <input type="hidden" data-bind="value: parent_pk" class="parent_pk">
            <!-- /ko -->
            {%  bootstrap_form round_param_form layout="horizontal" label_class="col-md-3" field_class="col-md-6"%}
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <script type='text/html' id='exp-param-template'>
        <form method="post" class="form-horizontal" data-bind="submit: $root.saveExpParam">
        {%  bootstrap_form exp_param_form layout="horizontal" label_class="col-md-3" field_class="col-md-6"%}
	    <input type="hidden" data-bind="value: pk">
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <script type="text/html" id="round-config-template">
        <form class="form-horizontal" data-bind="submit: $root.saveRoundConfig">
            {%  bootstrap_form round_config_form layout="horizontal" label_class="col-md-4" field_class="col-md-6"%}
            <input type="hidden" data-bind="value: pk">
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <script type="text/javascript">

        var JSONdata = $.parseJSON("{{ json_data | escapejs }}");

        $(function() {

            //wrapper to an observable that requires accept/cancel
            ko.protectedObservable = function(initialValue) {
                //private variables
                var _actualValue = ko.observable(initialValue),
                    _tempValue = initialValue;

                //computed observable that we will return
                var result = ko.computed({
                    //always return the actual value
                    read: function() {
                       return _actualValue();
                    },
                    //stored in a temporary spot until commit
                    write: function(newValue) {
                         _tempValue = newValue;
                    }
                });

                //if different, commit temp value
                result.commit = function() {
                    if (_tempValue !== _actualValue()) {
                         _actualValue(_tempValue);
                    }
                };

                //return updatedValue
                result.updateValue = function() {
                    return _tempValue;
                };

                //force subscribers to take original
                result.reset = function() {
                    _actualValue.valueHasMutated();
                    _tempValue = _actualValue();   //reset temp value
                };

                return result;
            };

            // KO View Model for Experiment and Round Parameter
            function ParamViewModel(data) {
                var self = this;
                var map = {'null':1, 'true': 2, 'false':3};

                self.display_name = ko.observable(data.display_name);
                self.pk = ko.observable(data.pk);
                self.parent_pk = ko.observable(data.parent_pk);
                self.parameter = ko.observable(data.parameter_pk);
                self.string_value = ko.observable(data.string_value);
                self.int_value = ko.observable(data.int_value);
                self.float_value = ko.observable(data.float_value);
                self.boolean_value = ko.observable(map[data.boolean_value]);
                self.is_active = ko.observable(data.is_active);
            }
            // KO View Model for Round Configuration Accordion
            function NodeModel(data) {

                var self = this;

                self.isExpanded = ko.observable(false);
                self.name = ko.protectedObservable(data.name);

                self.display_name = function() {
                   return self.repeat() > 0 ? self.name() + ' ' + self.sequence_number() + ' [x '+ self.repeat() +']': self.name() + ' ' + self.sequence_number();
                };
                self.children = ko.observableArray(data.children);

                self.pk = ko.protectedObservable(data.pk);
		        self.round_type = ko.protectedObservable(data.round_type);
                self.sequence_number = ko.protectedObservable(data.sequence_number)
                self.display_number = ko.protectedObservable(data.display_number);
                self.duration = ko.protectedObservable(data.duration);
                self.template_id = ko.protectedObservable(data.template_id);
                self.survey_url = ko.protectedObservable(data.survey_url);
                self.randomize_groups = ko.protectedObservable(data.randomize_groups);
                self.preserve_existing_groups = ko.protectedObservable(data.preserve_existing_groups);
                self.create_group_clusters = ko.protectedObservable(data.create_group_clusters);
                self.session_id = ko.protectedObservable(data.session_id);
                self.repeat = ko.protectedObservable(data.repeat);
                self.initialize_data_values = ko.protectedObservable(data.initialize_data_values);
                self.chat_enabled = ko.protectedObservable(data.chat_enabled);

                self.toggleVisibility = function() {
                    self.isExpanded(!self.isExpanded());
                };

                self.update = function(nodeObject) {
                    var fields = [
                        "name", "round_type", "display_number", "sequence_number", "duration", "template_id",
                        "survey_url", "randomize_groups", "preserve_existing_groups", "create_group_clusters",
                        "session_id", "repeat", "initialize_data_values", "chat_enabled"
                    ];

                    $.each(fields, function(index) {
                        var property = self[this];
                        property(nodeObject[this]);
                        property.commit();
                    });
                }
            }
            // KO View Model for whole Page
            function PageModel(data) {

                var mapping = {
                    'roundConfigList': {
                        create: function (options) {
                            return new NodeModel(options.data);
                        }
                    },
                    'expParamValuesList': {
                        create: function (options) {
                            return new ParamViewModel(options.data);
                        }
                    }
                };
                var model = ko.mapping.fromJS(data, mapping);

                model.template = ko.observable();
                model.activateModal = ko.observable(false);
                model.modalData = ko.observable();

                model.hideModal = function() {
                    model.activateModal(false);
                    model.template("");
                    model.modalData("");
                }

                model.addExpParam = function (data, event) {
                    var temp = new ParamViewModel({'is_active': true});
                    model.modalData(temp);
                    model.template("exp-param-template");
                    model.activateModal(true);
                }
		
                model.editExpParam = function (data){
                    model.modalData(data);
                    model.template("exp-param-template");
                    model.activateModal(true);
                }

                model.removeExpParam = function (expParam){
                    $.ajax("/api/configuration/experiment/param/" + expParam.pk(), {
                        data: 'request_type=delete',
                        type: "POST",
                        success: function(result) {
                            if (result.success){
                                model.expParamValuesList.remove(expParam);
                            } else {
                                // Error Message
                            }
                        }
                    });
                }

                model.addRoundParam = function(roundConfig) {
                    var temp = new ParamViewModel({'parent_pk': roundConfig.pk(), 'is_active': true});
                    model.modalData(temp);
                    model.template("round-param-template");
                    model.activateModal(true);
                }

                model.editRoundParam = function(roundParam) {
                    model.modalData(new ParamViewModel(roundParam));
                    model.template("round-param-template");
                    model.activateModal(true);
                }

                model.removeRoundParam = function(roundParam) {
                    $.ajax("/api/configuration/round/param/"+ roundParam.pk, {
                        data: 'request_type=delete',
                        type: "POST",
                        success: function(result) {
                            if(result.success){
                                 $.each(model.roundConfigList(), function() { this.children.remove(roundParam) })
                            } else {
                                // Error Message
                            }
                        }
                    });
                }

                model.addRoundConfig = function (data, event) {
                    model.modalData(new NodeModel({'display_number': 0, 'duration': 0, repeat:'0', 'preserve_existing_groups': true}));
                    model.template("round-config-template");
                    model.activateModal(true);
                }

                model.editRoundConfig = function(data) {
                    model.modalData(data);
                    model.template("round-config-template");
                    model.activateModal(true);
                }

                model.removeRoundConfig = function(roundConfig) {

                    $.ajax("/api/configuration/round/"+ roundConfig.pk(), {
                        data: 'request_type=delete',
                        type: "POST",
                        success: function(result) {
                            if(result.success){
                                model.roundConfigList.remove(roundConfig);
                            } else {
                                // Error Message
                            }
                        }
                    });
                }
                model.saveRoundParam = function(form) {
                    var form = $(form);
                    var paramPk = parseInt(form.find("input[type='hidden']").val());
                    var roundPk = parseInt(form.find("input[type='hidden'].parent_pk").val());
                    var formData = form.serialize();

                    if (paramPk) {
                        // Update Request
                        $.ajax("/api/configuration/round/param/" + paramPk, {
                            data: formData + '&round_configuration=' + roundPk + '&request_type=update',
                            type: "POST",
                            success: function(result){
                                if(result.success){
                                    var match = ko.utils.arrayFirst(model.roundConfigList(), function (roundConfig) {
                                        return ko.utils.arrayFirst(roundConfig.children(), function(roundParam){
                                            return paramPk == roundParam.pk
                                        });
                                    });
                                    match.children.remove(function(roundParam) { return roundParam.pk == paramPk });
                                    match.children.push(result.round_param);
                                } else {
                                    // Error Message
                                }
                                model.hideModal();
                            }
                        });
                    }
                    else {
                        // Create Request
                        var match = ko.utils.arrayFirst(model.roundConfigList(), function (item) {
                            return roundPk === item.pk();
                        });
                        $.ajax("/api/configuration/round/param/-1", {
                            data: formData + '&round_configuration=' + roundPk + '&request_type=create',
                            type: "POST",
                            success: function(result){
                                if(result.success){
                                    match.children.push(result.round_param);
                                    model.hideModal();
                                } else {
                                    // Error Message
                                }
                            }
                        });
                    }
                }

                model.saveRoundConfig = function(form) {
                    var form = $(form);
                    var roundPk = form.find("input[type='hidden']").val();
                    var formData = form.serialize();

                    if (roundPk) {
                        // Update Request
                        var match = ko.utils.arrayFirst(model.roundConfigList(), function (item) {
                            return parseInt(roundPk) === item.pk();
                        });
                        $.ajax("/api/configuration/round/"+ roundPk, {
                            data: formData + '&request_type=update',
                            type: "POST",
                            success: function(result) {
                                if(result.success){
                                    var old_sequence_number = match.sequence_number();
                                    var new_sequence_number = match.sequence_number.updateValue();

                                    $.each(model.roundConfigList(), function() {
                                        var current_sequence_number = this.sequence_number();
                                        if( current_sequence_number > old_sequence_number && current_sequence_number <= new_sequence_number){
                                            this.sequence_number(current_sequence_number - 1);
                                            this.sequence_number.commit();
                                        } else if( current_sequence_number >= new_sequence_number && current_sequence_number <= old_sequence_number){
                                            this.sequence_number(current_sequence_number + 1);
                                            this.sequence_number.commit();
                                        }
                                    });
                                    match.update(result.round_config);
                                    model.roundConfigList(model.roundConfigList().sort(function(left, right) {
                                        return left.sequence_number() < right.sequence_number() ? -1 : 1
                                    }));
                                    model.hideModal();
                                } else {
                                    // Error Message
                                }
                            }
                        });
                    }
                    else {
                        // Create Request

                        formData += '&experiment_config_pk=' + {{ experiment_config.pk }};
                        $.ajax("/api/configuration/round/-1", {
                            data: formData + '&request_type=create',
                            type: "POST",
                            success: function(result) {
                                if(result.success){
                                    var flag = true;
                                    var new_sequence_number = result.round_config.sequence_number;
                                        $.each(model.roundConfigList(), function() {
                                            var current_sequence_number = this.sequence_number();

                                            if( current_sequence_number >= new_sequence_number && flag){
                                                if(new_sequence_number == current_sequence_number) {
                                                    this.sequence_number(current_sequence_number + 1);
                                                    this.sequence_number.commit();
                                                    new_sequence_number++;
                                                } else {
                                                    flag = false;
                                                }
                                            }
                                        });
                                    model.roundConfigList.push(new NodeModel(result.round_config));
                                    model.roundConfigList(model.roundConfigList().sort(function(left, right) {
                                        return left.sequence_number() < right.sequence_number() ? -1 : 1
                                    }));
                                    model.hideModal();
                                } else {
                                    // Error Message
                                }
                            }
                        });
                    }
                }

                model.saveExpParam = function(form) {
                    var form = $(form);
                    var paramPk = parseInt(form.find("input[type='hidden']").val());
                    var formData = form.serialize();

                    if (paramPk) {
                        //Update Request

                        var match = ko.utils.arrayFirst(model.expParamValuesList(), function (expParam) {
                            return parseInt(paramPk) === expParam.pk();
                        });
                        $.ajax("/api/configuration/experiment/param/"+ paramPk, {
                            data: formData + '&request_type=update',
                            type: "POST",
                            success: function(result){
                                if(result.success){
                                    match.display_name(result.experiment_param.display_name);
                                    model.hideModal();
                                } else {
                                    // Error Message
                                }
                            }
                        });
                    } else {
                        // Create Request

                        formData += '&experiment_configuration=' + {{ experiment_config.pk }};
            			$.ajax("/api/configuration/experiment/param/-1", {
                            data: formData + '&request_type=create',
                            type: "POST",
                            success: function(result) {
                                if(result.success){
                                    model.expParamValuesList.push(new ParamViewModel(result.experiment_param));
                                    model.hideModal();
                                } else {
                                    // Error Message
                                }
                            }
                        });
                    }
                }
                model.saveExperimentConfig = function(form) {
                    var form = $(form);
                    var formData = form.serialize();
                    $.ajax("/api/configuration/experiment/" + {{ experiment_config.pk }}, {
                        data: formData,
                        type: "POST",
                        success: function(result) {
                            if(result.success){
                                //TODO: Success Message
                            } else {
                                //TODO: Error Message
                            }
                        }
                    });
                }
                return model;
            }

            var pageModel = new PageModel(JSONdata);

            ko.bindingHandlers.showModal = {
                update: function (element, valueAccessor) {
                    var value = valueAccessor();
                    if (ko.utils.unwrapObservable(value)) {
                        $(element).modal('show');
                        // this is to focus input field inside dialog
                        $("input", element).focus();
                        $('.has-popover').popover({'trigger':'hover'});
                    }
                    else {
                        $(element).modal('hide');
                    }
                }
            };

            ko.bindingHandlers.slideVisible = {
                init: function(element, valueAccessor) {
                    // Initially set the element to be instantly visible/hidden depending on the value
                    var value = valueAccessor();
                    $(element).toggle(ko.unwrap(value)); // Use "unwrapObservable" so we can handle values that may or may not be observable
                },
                update: function(element, valueAccessor) {
                    // Whenever the value subsequently changes, slowly fade the element in or out
                    var value = valueAccessor();
                    ko.unwrap(value) ? $(element).slideDown(200) : $(element).slideUp(200);
                }
            };

            ko.applyBindings(pageModel);
        });

    </script>

{% endblock javascript %}
