{% extends "experimenter/base.html" %}
{% load bootstrap3 %}
{% load tags %}

{% block title %}Virtual Commons Web Experimenter Dashboard{% endblock %}
{% block head %}
{{ block.super }}
{% endblock %}

{% block page %}

    <h2> Experiment Configuration</h2>
    <form method="post" class="form-horizontal">
            {{ experiment_config_form.non_field_errors }}
            <div class="col-md-6">
		<div id="experiment_config_pk" style="display: none;">
		{{experiment_config.pk}}
		</div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Experiment metadata</label>
                    <div class="col-md-8">
                        {{ experiment_config_form.experiment_metadata|addcss:"form-control input-sm" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Name</label>
                    <div class="col-md-8">
                        {{ experiment_config_form.name|addcss:"form-control input-sm" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Treatment id</label>
                    <div class="col-md-8">
                        {{ experiment_config_form.treatment_id|addcss:"form-control input-sm" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Registration email subject</label>
                    <div class="col-md-8">
                        {{ experiment_config_form.registration_email_subject|addcss:"form-control input-sm" }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-5 control-label">Max number of participants</label>
                    <div class="col-md-2">
                        {{ experiment_config_form.max_number_of_participants|addcss:"form-control input-sm" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">Max group size</label>
                    <div class="col-md-2">
                        {{ experiment_config_form.max_group_size|addcss:"form-control input-sm" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">Exchange rate</label>
                    <div class="col-md-2">
                        {{ experiment_config_form.exchange_rate|addcss:"form-control input-sm" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">Is Public</label>
                    <div class="col-md-7">
                        <div class="checkbox">
                            <label>{{ experiment_config_form.is_public }}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">Is experimenter driven</label>
                    <div class="col-md-7">
                        <div class="checkbox">
                            <label>{{ experiment_config_form.is_experimenter_driven }}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">Has daily rounds</label>
                    <div class="col-md-7">
                        <div class="checkbox">
                            <label>{{ experiment_config_form.has_daily_rounds }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseTwo">
                        Experiment Parameter Value
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
{#                    <ul class="well well-large" data-bind="foreach: experiment_param_val">#}
{#                        <li data-bind="text: fields.round_type, click: $root.showExperimentParamValModal.bind($data)"></li>#}
{#                    </ul>#}
{#                    <button type="button" class="btn" data-bind="click: $root.addExperimentParam" ><i class='fa fa-plus'></i> Add Parameter Value</button>#}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseThree">
                        Round Configuration
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="tree">
                                <ul data-bind="foreach: round_config">
                                    <li>
                                        <span class="tree-item fa" data-bind="
                                            css: {
                                                'fa-minus-square': isExpanded() && children().length > 0,
                                                'fa-plus-square': !isExpanded() && children().length > 0,
                                                'fa-stop': children().length === 0,
                                                'pointer-icon': children().length > 0
                                            }, click: toggleVisibility
                                            "></span>
                                        <span data-bind="text: display_name"></span>
                                        <a href='#' data-bind='click: $root.addRoundParam'>Add Round Parameter</a>
                                        <a href='#' data-bind='click: $root.editRoundConfig'>edit</a>
                                        <div data-bind="slideVisible: isExpanded">
                                            <ul data-bind="foreach: children">
                                                <li>
                                                    <span class="tree-item fa fa-stop"></span>
                                                    <span data-bind="text: display_name"></span>
                                                    <a href='#' data-bind='click: $root.removeRoundParam'>delete</a>
                                                    <a href='#' data-bind='click: $root.editRoundParam'>edit</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn" data-bind="click: $root.activateRoundConfigModal"><i class='fa fa-plus'></i> Add Round Configuration</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-bind="showModal: activateModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click:hideModal">&times;</button>
                    <h4 class="modal-title">Edit Form</h4>
                </div>
                <div class="modal-body" data-bind="with: modalData" >
                    <div data-bind='template: { name: $root.template }'></div>
                </div>
            </div>
        </div>
    </div>
{% endblock page %}
{% block javascript %}
{{ block.super }}


    <script type='text/html' id='template'>
        <form method="post" class="form-horizontal" data-bind="submit: $root.saveRoundParam">
            <input type="hidden" data-bind="value: pk">
            <!-- ko if: parent_pk -->
            <input type="hidden" data-bind="value: parent_pk" class="parent_pk">
            <!-- /ko -->
            <div class="form-group">
                    <label class="col-md-3 control-label">Parameter</label>
                    <div class="col-md-6">
                        <select class="form-control" id="id_parameter" name="parameter" placeholder="Parameter" data-bind="
                            options: $root.parameter_list,
                            optionsText: function(item) {
                                var firstLetterCapital = item.name().charAt(0).toUpperCase() + item.name().slice(1);
                                return firstLetterCapital.replace(/_(.)/g, function(match, group1) {
                                    return ' '+group1.toUpperCase();
                                });
                            },
                            optionsValue: 'pk',
                            value: selectedParameterPk
                            ">
                        </select>
                    </div>
                </div>
            <div class="form-group" data-bind="visible: isVisible('string') ">
                <label class="col-md-3 control-label">String value</label>
                <div class="col-md-6">
                    <textarea class="form-control" id="id_string_value" name="string_value" placeholder="String value"
                              rows="3" data-bind="value: stringValue"></textarea>
                </div>
            </div>
            <div class="form-group" data-bind="visible: isVisible('int')">
                <label class="col-md-3 control-label">Int value</label>
                <div class="col-md-6">
                    <input class="form-control" id="id_int_value" name="int_value" placeholder="Int value" type="number" data-bind="value: intValue">
                </div>
            </div>
            <div class="form-group" data-bind="visible: isVisible('float')">
                <label class="col-md-3 control-label">Float value</label>
                <div class="col-md-6">
                    <input class="form-control" id="id_float_value" name="float_value" placeholder="Float value" step="any" type="number" data-bind="value: floatValue">
                </div>
            </div>
            <div class="form-group" data-bind="visible: isVisible('boolean')">
                <label class="col-md-3 control-label">Boolean value</label>
                <div class="col-md-6">
                    <select class="form-control" id="id_boolean_value" name="boolean_value" data-bind="value: booleanValue">
                        <option value="2">Choose...</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">&nbsp;</label>
                <div class="col-md-6">
                    <div class="checkbox">
                        <label><input checked="checked" id="id_is_active" name="is_active" type="checkbox" data-bind="checked: isActive"> Is active</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <script type="text/html" id="round-config-template">

    <form class="form-horizontal" data-bind="submit: $root.saveRoundConfig">
        <input type="hidden" data-bind="value: pk">
	<input type="hidden" id="sequence_number" name="sequence_number" type="text" data-bind="value: sequence_number">
        <div class="form-group">
          <label class="col-md-4 control-label" for="round_type">Round Type</label>
          <div class="col-md-6">
            <select id="round_type" name="round_type" class="form-control input-sm">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="display_number">Display Number</label>
          <div class="col-md-6">
              <input id="display_number" name="display_number" type="text" placeholder="" class="form-control input-sm" data-bind="value: display_number">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="duration">Duration</label>
          <div class="col-md-6">
            <input id="duration" name="duration" type="text" placeholder="" class="form-control input-sm" data-bind="value: duration">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="template_id">Template ID</label>
          <div class="col-md-6">
          <input id="template_id" name="template_id" type="text" placeholder="" class="form-control input-sm" data-bind="value: template_id">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="survey_url">Survey Url</label>
          <div class="col-md-6">
          <input id="survey_url" name="survey_url" type="text" placeholder="" class="form-control input-sm" data-bind="value: survey_url">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="session_id">Session ID</label>
          <div class="col-md-6">
          <input id="session_id" name="session_id" type="text" placeholder="" class="form-control input-sm" data-bind="value: session_id">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="repeat">Repeat</label>
          <div class="col-md-6">
              <input id="repeat" name="repeat" type="text" class="form-control input-sm" data-bind="value: repeat">
          </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="randomize_groups" data-bind="checked: randomize_groups"> Randomize Groups
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="preserve_existing_groups" data-bind="checked: preserve_existing_groups">
                        Preserve Existing Groups
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="create_group_clusters" data-bind="checked: create_group_clusters">
                        Create Group Clusters
                    </label>
              </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                    <label>
                      <input type="checkbox" name="initialize_data_values" data-bind="checked: initialize_data_values">
                      Initialize Data Values
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="chat_enabled" data-bind="checked: chat_enabled">
                        Chat Enabled
                    </label>
                 </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

    </script>

    <script type="text/javascript">
        var data = $.parseJSON("{{ json_data | escapejs }}");
        window.x = data;

        $(function() {

            function NodeModel(data) {

                var self = this;

                self.isExpanded = ko.observable(false);
                self.display_name = ko.observable(data.display_name);
                self.children = ko.observableArray(data.children);

                self.pk = ko.observable(data.pk);
		self.sequence_number = ko.observable(data.sequence_number)
                self.display_number = ko.observable(data.display_number);
                self.duration = ko.observable(data.duration);
                self.template_id = ko.observable(data.template_id);
                self.survey_url = ko.observable(data.survey_url);
                self.randomize_groups = ko.observable(data.randomize_groups);
                self.preserve_existing_groups = ko.observable(data.preserve_existing_groups);
                self.create_group_clusters = ko.observable(data.create_group_clusters);
                self.session_id = ko.observable(data.session_id);
                self.repeat = ko.observable(data.repeat);
                self.initialize_data_values = ko.observable(data.initialize_data_values);
                self.chat_enabled = ko.observable(data.chat_enabled);

                self.toggleVisibility = function() {
                    self.isExpanded(!self.isExpanded());
                };

                self.update = function(nodeObject) {
                    self.display_number(nodeObject.display_number);
                    self.duration(nodeObject.duration);
                    self.template_id(nodeObject.template_id);
                    self.survey_url(nodeObject.survey_url);
                    self.randomize_groups(nodeObject.randomize_groups);
                    self.preserve_existing_groups(nodeObject.preserve_existing_groups);
                    self.create_group_clusters(nodeObject.create_group_clusters);
                    self.session_id(nodeObject.session_id);
                    self.repeat(nodeObject.repeat);
                    self.initialize_data_values(nodeObject.initialize_data_values);
                    self.chat_enabled(nodeObject.chat_enabled);
                }
            };

            function PageModel(data) {

                var session_mapping = {
                    'round_config': {
                        create: function (options) {
                            return new NodeModel(options.data);
                        }
                    }
                };
                var model = ko.mapping.fromJS(data, session_mapping);

                model.template = ko.observable();
                model.activateModal = ko.observable(false);
                model.modalData = ko.observable();

                model.addRoundParam = function(roundConfig) {
                    var temp = new RoundParamViewModel({'parent_pk': roundConfig.pk()});
                    model.modalData(temp);
                    model.template("template");
                    model.activateModal(true);
                }
                model.removeRoundParam = function(round_config) {
                    $.each(model.round_config(), function() { this.children.remove(round_config) })
                };

                model.editRoundParam = function(round_param) {
                    model.modalData(new RoundParamViewModel(round_param, model.parameter_list));
                    model.template("template");
                    model.activateModal(true);
                }

                model.editRoundConfig = function(data) {
                    model.modalData(data);
                    model.template("round-config-template");
                    model.activateModal(true);
                }

                model.activateRoundConfigModal = function (data, event) {
                    model.modalData(new NodeModel({}));
                    model.template("round-config-template");
                    model.activateModal(true);
                }

                model.hideModal = function() {
                    model.activateModal(false);
                    model.template("");
                    model.modalData("");
                }

                model.saveRoundParam = function(form) {
{#                  var formData = "pk="+data.pk+"&parameter="+data.selectedParameterPk()+"&string_value="+data.stringValue()+"&int_value="+data.intValue()+"&float_value="+data.floatValue()+"&boolean_value="+data.booleanValue()+"&is_active="+data.isActive();#}
                    form = $(form);
                    window.form = form;
                    var update = parseInt(form.find("input[type='hidden']").val());
                    var roundPk = form.find("input[type='hidden'].parent_pk").val();
                    var jsonObject  = form.serializeObject();

                    var httpVerb = !update ? "POST" : "PUT";

                    if (update) {
                        var match = ko.utils.arrayFirst(model.round_config(), function (item) {
                            return ko.utils.arrayFirst(item.children(), function(i){
                                if(update == i.pk) {
                                    i.string_value = jsonObject.string_value;
                                    i.int_value = jsonObject.int_value;
                                    i.float_value = jsonObject.float_value;
                                    i.boolean_value = jsonObject.boolean_value;
                                    i.is_active = jsonObject.is_active;
                               }
                            });
                        });
                        model.hideModal();
                    }
                    else {
                        var match = ko.utils.arrayFirst(model.round_config(), function (item) {
                            return parseInt(roundPk) == item.pk();
                        });

{#                        Create API to create RoundConfig and return the created roundConfig is JSON format and then add to the DOM #}
{#                        match.children.push(jsonObject);#}
                    }
                }
                model.saveRoundConfig = function(form) {

                    form = $(form);
                    var update = form.find("input[type='hidden']").val();
                    var jsonObject  = form.serializeObject();

                    var httpVerb = !update ? "POST" : "PUT";

                    if (update) {
                        var match = ko.utils.arrayFirst(model.round_config(), function (item) {
                            return parseInt(update) === item.pk();
                        });
                        match.update(jsonObject);
                        model.hideModal();
                    }
                    else {
{#                        Create API to create RoundConfig and return the created roundConfig is JSON format and then add to the DOM #}
                        
			var experiment_config_pk = parseInt($('#experiment_config_pk').text())	
			formData = form.serialize() + '&request_type=create' + '&experiment_config_pk=' + experiment_config_pk;
                        console.log(formData);
			$.ajax("/api/configuration/round", {
                        data: formData,
                        type: "POST",
                        success: function(result) {
			    if(result.success){
				console.log("Here is the created/updated round_config!")
				console.log(result.round_config)
				//model.round_config.push(result.round_config)
			    }
                        }
                        });
                    }
                }

                return model;
            };

            var pageModel = new PageModel(data);

            function RoundParamViewModel(data) {
                var self = this;

                self.pk = ko.observable(data.pk);
                self.parent_pk = ko.observable(data.parent_pk);
                self.selectedParameterPk = ko.observable(data.parameter_pk);
                self.stringValue = ko.observable(data.string_value);
                self.intValue = ko.observable(data.int_value);
                self.floatValue = ko.observable(data.float_value);
                self.booleanValue = ko.observable(data.boolean_value);
                self.isActive = ko.observable(data.is_active);

                self.parameterType = ko.observable(data.parameter_type);

                self.isVisible = function(type){
                   return type === self.parameterType();
                };
                self.selectedParameterPk.subscribe(function (data) {

                    ko.utils.arrayForEach(pageModel.parameter_list(), function(param){

                        if (param.pk() === data){
                            self.parameterType(param.type());
                            self.selectedParameterPk(param.pk());
                        }
                    });
                });
            }

            ko.bindingHandlers.showModal = {
                init: function (element, valueAccessor) {
                    $(element).on('hidden', function () {
                        var value = valueAccessor();
                        value(false);
                    });
                    $(element).on('shown'), function () {
                        var value = valueAccessor();
                        value(true);
                    }
                },
                update: function (element, valueAccessor) {
                    var value = valueAccessor();
                    if (ko.utils.unwrapObservable(value)) {
                        $(element).modal('show');
                        // this is to focus input field inside dialog
                        $("input", element).focus();
                    }
                    else {
                        $(element).modal('hide');
                    }
                }
            };

            ko.bindingHandlers.slideVisible = {
                init: function(element, valueAccessor) {
                    // Initially set the element to be instantly visible/hidden depending on the value
                    var value = valueAccessor();
                    $(element).toggle(ko.unwrap(value)); // Use "unwrapObservable" so we can handle values that may or may not be observable
                },
                update: function(element, valueAccessor) {
                    // Whenever the value subsequently changes, slowly fade the element in or out
                    var value = valueAccessor();
                    ko.unwrap(value) ? $(element).slideDown() : $(element).slideUp();
                }
            };

            $.fn.serializeObject = function() {
                var o = {};
                var a = this.serializeArray();
                $.each(a, function() {
                    if (o[this.name] !== undefined) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };

            ko.applyBindings(pageModel);

        });

    </script>

{% endblock javascript %}
