{% extends "experimenter/base.html" %}
{% block title %}
#{{ experiment.pk }}: {{ experiment.experiment_metadata }}
{% endblock %}
{% block page %}
{{block.super}}
<h3>{{experiment}}</h3>
<div class='row-fluid'>
    {% with participant_count=experiment.participant_set.count %}
    <div class='span6'>
        <ul class='nav nav-list'>
            <li class='nav-header'>experiment management</li>
            <li><a href='{% url core:dashboard %}'><i class='icon-chevron-left'></i>return to the dashboard</a></li>
            {% if experiment.is_active %}
                {% if experiment.is_round_in_progress %}
                    <li><a class='confirm' name='end_round' href='end-round' data-content='Stops the current round.'><i class='icon-stop'></i>end round</a></li>
                {% else %}
                    <li><a class='confirm' name='start_round' href='start-round' data-content='Starts the round.'>
                        <i class='icon-play'></i>start round</a></li>
                {% endif %}
                <li><a class='confirm' name='advance_to_next_round' href='javascript:void()' data-content='Stops the current round if necessary and advances to the next round.'><i class='icon-step-forward'></i>advance to next round</a>
                </li>
                <li><a href='javascript:void()' id='refreshAllParticipants' data-content='Sends a page refresh to all connected participants.' ><i class='icon-refresh'></i>refresh all participants</a></li>
                <li class='divider'></li>
                <li class='nav-header'>download data</li>
                <li><a href='download/csv'><img src='{{STATIC_URL}}images/famfamfam/page_white_text.png' style='margin: 5px 0 0 0;' alt='' />csv</a></li>
                <li><a href='download/xls'><img src='{{STATIC_URL}}images/famfamfam/page_white_excel.png' style='margin: 5px 0 0 0;' alt=''/>xls</a><li>
            {% else %}
                {% if participant_count == 0 %}
                    <div class='alert alert-error alert-block'>
                        <i class='icon-warning-sign'></i>There are no registered participants. You can <a href='{{experiment.controller_url}}/register-email-list'>register participants by email</a> or 
                        <a href='{{experiment.controller_url}}/register-simple'>test participants</a>
                    </div>
                {% else %}
                    <li><a data-content='You must first activate an experiment before you can run it.' class='confirm' name='activate' href='activate'>
                        <i class='icon-off'></i>activate</a>
                    </li>
                {%endif%}
            {% endif %}
            <li class='divider'></li>
            <li class='nav-header'>round status</li>
            <li data-bind='text:roundStatusDisplay' data-content='{{experiment.actions_help_text}}'></li>
            <li>Experiment started on: {{ experiment.current_round_start_time|default_if_none:"Not active"}}</li>
            <li>Time remaining: <span data-bind='text:timeRemaining'>{{ experiment.time_remaining }}</span></li>
            <li>Registered participants: <span class='badge badge-info'>{{participant_count}}</span></li>
        </ul>
    </div>
    {% endwith %}
    <div class='span6'>
        <h4>Experiment messages</h4>
        <div id='experiment-messages' class='alert' data-bind='foreach: messages'>
            <div>
                <button class='close' data-dismiss='alert'>&times;</button>
                <span data-bind='text: $data'></span>
            </div>
        </div>
    </div>
</div>
<script type='text/html' id='group-round-data-template'>
    <h4 class='collapsible'>Group data</h4>
    <table>
        <thead>
            <tr><th>Group</th><th>Parameter Name</th><th>Value</th></tr>
        </thead>
            <!-- FIXME: needs to be reworked for Knockout -->
            <tbody>
                {% for group_data_value in round_data.group_data_value_set.all %}
                <tr>
                    <td>
                        <a class='dark-yellow-highlight' data-content='{{ group_data_value.group.all_participants_str }}'>
                            {{ group_data_value.group }}
                        </a>
                    </td>
                    <td>{{ group_data_value.parameter.label}}</td>
                    <td>{{ group_data_value.value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class='alert alert-info'><i class='icon-info-sign'></i>No group data for this round.</div>
        <h4>Participant data</h4>
        <table>
            <thead>
                <tr><th>Participant</th><th>Parameter name</th><th>Value</th><th>Type</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a class='dark-yellow-highlight' data-content='{{participant_data_value.participant}}'>
                            {{ participant_data_value.participant_number }} ({{ participant_data_value.group }})
                        </a>
                    </td>
                    <td>{{ participant_data_value.parameter.label }}</td>
                    <td id='participant_data_value_{{participant_data_value.pk}}'>{{ participant_data_value.value }}</td>
                    <td>{{ participant_data_value.parameter.type }}</td>
                </tr>
            </tbody>
        </table>
        <div class='alert alert-info'><i class='icon-info-sign'></i>No participant data for this round has been collected yet.</div>
</script>

<div class='row-fluid'>
    <div class='span12' id='experiment-data'>
    <h4>Data</h4>
    {% block data %}
    {% for round_data in experiment.round_data_set.all reversed %}
    <h3><a href='#' onscript='loadRoundData({{round_data.pk}})'>{{ round_data }}</a></h3>
    <div id='round_data_{{forloop.counter}}'>
        {% comment %} FIXME: migrate tables to bootstrap tables and add hooks for knockout to auto-update asynchronously instead of loading them all at once {% endcomment %}
        {% comment %} participant chats {% endcomment %}
        {% if round_data.round_configuration.is_chat_round %}
        <h4 class='collapsible'>Chat data</h4>
        <div id='chat-div-{{round_data.pk}}' class='chat notice ui-corner-all'>
            {% autoescape on %}
            {% for chat_message in round_data.chat_messages.all %}
            <div class='ui-state-highlight' style='line-height: 1.5em;'>
                <a class='dark-yellow-highlight' name='{{chat_message.pk}}' data-content='{{chat_message.date_created}} {{chat_message.participant}}'>
                    {{chat_message.date_created|date:"G:i:s"}}</a> | {{chat_message}}
            </div>
            {% endfor %}
            {% endautoescape %}
        </div>
        {% endif %}
    </div>
    {% empty %}
    <div class='alert alert-info'><i class='icon-info-sign'></i>There is currently no round data to report.</div>
    {% endfor %}
    {% endblock data %}
</div>
{% endblock page %}
{% block javascript %}
{{ block.super }}
{% include "includes/experimenter.events.html" %}
{% include "includes/sockjs.html" %}
<script type='text/javascript'>
    $(function() {
        function update(json) {
            console.debug("UPDATING MODELS (NEEDS IMPLEMENTING)");
            console.debug(json);
        }
        function ChatMessage(json) {
            var self = this;
            self.message = json.message;
            self.date_created = json.date_created;
            // participant group relationship id
            self.pgrid = json.participant_group_relationship_id;
            self.participant = json.participant;
            self.id = json.id;
        }
        function ExperimentModel() { 
            var self = this;
            self.chatMessages = ko.observableArray([new ChatMessage({message: "No messages at this time."})]);
            self.messages = ko.observableArray(["No messages"]);
            self.roundStatusDisplay = ko.observable('{{ experiment.sequence_label }}, {{experiment.get_status_display}}');
            self.timeRemaining = ko.observable('No duration specified.');
            self.roundData = ko.observable([]);
            self.addRoundData = function(json) {
                self.roundData.push(new RoundData(json));
            }
            self.addTestMessage = function() {
                self.messages.push("This is a test!");
            }
            self.addMessage = function(json) {
                switch (json.message_type) {
                    case 'submit':
                    case 'info':
                        console.debug("adding message " + json + " to experiment messages div");
                        self.messages.push(json.message);
                    break;
                    case 'chat':
                        self.chatMessages.push(new ChatMessage(json));
                    // addChatMessage('chat-div-' + json.round_data_pk, json, json.date_created + " " + json.participant);
                    break;
                    case 'submit':
                        self.messages.push(json.message);
                    break;
                    default:
                        console.debug("unhandled json message: " + json);
                    break;
                }
                self.messages.push(json.message);
            }
        }
        var experimentModel = new ExperimentModel();
        ko.applyBindings(experimentModel);
        var s = connect();
        s.onmessage = function(json_string) {
            console.log("Received message: " + json_string);
            var json = jQuery.parseJSON(json_string);
            experimentModel.addMessage(json);
            /*
            */
        };
        $('a.confirm').click(function(e) {
            e.preventDefault();
            var self = $(this);
            var description = self.attr("data-content");
            var action = self.attr("name");
            console.debug("confirming action: " + action + " with description: " + description);
            bootbox.confirm(description + "  Continue?", function(confirmed) {
                if (confirmed) {
                    Dajaxice.vcweb.core.experiment_controller(update, {'pk': {{experiment.pk}}, 'action':action});
                }
            });
        });
        $('#refreshAllParticipants').click(function(evt) {
            console.log("sending refresh event");
            s.send(createRefreshEvent());
            return false;
        });
        $('#transitionAllParticipants').click(function(evt) {
            console.log("sending goto event");
            s.send(createGotoEvent());
            return false;
        });
        $('[data-content]').popover();
    });
</script>
{% endblock %}
