{% extends "experimenter/base.html" %}
{% block title %}
#{{ experiment.pk }}: {{ experiment.experiment_metadata }}
{% endblock %}
{% block page %}
{{block.super}}
<h3>{{experiment}}</h3>
<span>You are logged in as {{request.user.experimenter}}.</span>
<hr/>
<div id='experimenter-sidebar'>
    <h5>Activity Log</h5>
    <div id='experiment-messages' class='experimenter-sidebar-messages notice ui-corner-all'>
        {% for group in experiment.groups.all %}
            {% for activity_log in group.current_round_activity_log %}
            <div style='font-size: 0.75em; line-height: 1.0em;padding:3px;' class='ui-state-highlight'>
                {{activity_log}}
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
<fieldset class='small ui-corner-all'>
    <legend>Experiment management</legend>
    <ul class='actions'>
        <li><span id='refreshAllParticipants' title='Sends a page refresh to all connected participants.' class='clickable' >
            <span class='vcweb-icon ui-icon icon-left' style='background:url({{STATIC_URL}}images/famfamfam/arrow_refresh.png);'></span>
            refresh all participants</span>
        </li>
        <li><span id='transitionAllParticipants' title='Moves all connected participants from waiting page to active page.' class='clickable' >
            <span class='vcweb-icon ui-icon icon-left' style='background:url({{STATIC_URL}}images/famfamfam/arrow_right.png);'></span>
            transition all participants to next round</span>
        </li>
        <li>
        <a href='download/csv'>
            <span class='vcweb-icon ui-icon icon-left' style='margin: 8px 0.15em 0px 0px; background:url({{STATIC_URL}}images/download-icon.png);'></span>
            download data as <img src='{{STATIC_URL}}images/famfamfam/page_white_text.png' style='margin: 5px 0 0 0;' alt='' /> csv
        </a> |
        <a href='download/xls'><img src='{{STATIC_URL}}images/famfamfam/page_white_excel.png' style='margin: 5px 0 0 0;' alt=''/> xls</a>
        </li>
    </ul>
</fieldset>
<div class='experiment-dashboard'>
    {% comment %}
    FIXME: Improve this so that we can just inject a new round_configuration
    JSON object in and everything auto-updates.
    {% endcomment %}
    <div id='statusSpinner' style='display:none;'>
        <img src='{{STATIC_URL}}images/squares-circle-ajax-loader.gif' alt='... working ...' />
    </div>
    <div id='statusDiv'>
        {% block status %}
        {% with participant_count=experiment.participant_set.count %}
        <fieldset class='small ui-corner-all'>
            <legend>round status</legend>
            <ul id='actions' class='actions'>
                {% if experiment.is_active %}
                    {% if experiment.is_round_in_progress %}
                    <li><a class='confirm-experiment-action' name='end_round' href='end-round' title='Stops the current round.'>
                        <span class='vcweb-icon icon-left ui-icon' style='background: url({{STATIC_URL}}images/famfamfam/control_stop_blue.png);' ></span>end round</a></li>
                    {% else %}
                    <li><a class='confirm-experiment-action' name='start_round' href='start-round' title='Starts the round.'>
                        <span class='ui-icon vcweb-icon icon-left' style='background:url({{STATIC_URL}}images/famfamfam/control_play_blue.png);' ></span>start round</a></li>
                    {% endif %}
                    <li><a class='confirm-experiment-action' name='advance_to_next_round' href='advance-to-next-round' title='Stops the current round if necessary and advances to the next round.'>
                        <span class='vcweb-icon ui-icon icon-left' style='background:url({{STATIC_URL}}images/famfamfam/control_fastforward_blue.png);' ></span>advance to next round</a></li>
                {% else %}
                {% if participant_count == 0 %}
                <div class='alert alertIcon ui-corner-all'>
                    There are no registered participants.  Please <a href='{% url core:dashboard %}'>return to the dashboard to register participants.</a>
                </div>
                {% else %}
                <li><a title='You must first activate an experiment before you can run it.' class='confirm-experiment-action' name='activate'
                    href='activate'><span class='vcweb-icon ui-icon icon-left' style='background:url({{STATIC_URL}}images/famfamfam/cog_go.png);' ></span>activate</a>
                </li>
                {%endif%}
                {% endif %}
            </ul>
            <br/>
            <ul class='messages'>
                <li title='{{experiment.actions_help_text}}'>{{ experiment.sequence_label }}, {{experiment.get_status_display}}</li>
                <li>Type: {{ experiment.current_round.get_round_type_display }}</li>
                <li>Round started on {{ experiment.current_round_start_time }}</li>
                <li>Time remaining: {{ experiment.time_remaining }}</li>
                <li title='{{experiment.participant_set.all|join:" "}}'>Registered participants: <b>{{participant_count}}</b>
                </li>
            </ul>
        </fieldset>
        {% endwith %}
        {% endblock status %}
    </div>
</div>
<div id='experimentData'>
    {% block data %}
    {% for round_data in experiment.round_data_set.all reversed %}
    <h3><a href='#'>{{ round_data }}</a></h3>
    <div id='round_data_{{forloop.counter}}'>
        {% if round_data.group_data_value_set.count > 0 %}
        <h4 class='collapsible'>Group data</h4>
        <table>
            <thead>
                <tr><th>Group</th><th>Parameter Name</th><th>Value</th></tr>
            </thead>
            <tbody>
                {% for group_data_value in round_data.group_data_value_set.all %}
                <tr>
                    <td>
                        <a class='dark-yellow-highlight' title='{{ group_data_value.group.all_participants_str }}'>
                            {{ group_data_value.group }}
                        </a>
                    </td>
                    <td>{{ group_data_value.parameter.label}}</td>
                    <td>{{ group_data_value.value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class='info ui-corner-all'>
            <span class='ui-icon ui-icon-info icon-left'></span>No group data for this round.
        </div>
        {% endif %}
        {% comment %} participant data values {% endcomment %}
        {% if round_data.participant_data_value_set.count > 0 %}
        <h4>Participant data</h4>
        <table>
            <thead>
                <tr><th>Participant</th><th>Parameter name</th><th>Value</th><th>Type</th></tr>
            </thead>
            <tbody>
                {% for participant_data_value in round_data.participant_data_value_set.all %}
                <tr>
                    <td>
                        <a class='dark-yellow-highlight' title='{{participant_data_value.participant}}'>
                            {{ participant_data_value.participant_number }} ({{ participant_data_value.group }})
                        </a>
                    </td>
                    <td>{{ participant_data_value.parameter.label }}</td>
                    <td id='participant_data_value_{{participant_data_value.pk}}'>{{ participant_data_value.value }}</td>
                    <td>{{ participant_data_value.parameter.type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class='info ui-corner-all'><span class='ui-icon ui-icon-info icon-left'></span>No participant data for this round.</div>
        {% endif %}
        {% comment %} participant chats {% endcomment %}
        {% if round_data.round_configuration.is_chat_round %}
        <h4 class='collapsible'>Chat data</h4>
        <div id='chat-div-{{round_data.pk}}' class='chat notice ui-corner-all'>
            {% autoescape on %}
            {% for chat_message in round_data.chat_messages.all %}
            <div class='ui-state-highlight' style='line-height: 1.5em;'>
                <a class='dark-yellow-highlight' name='{{chat_message.pk}}' title='{{chat_message.date_created}} {{chat_message.participant}}'>
                    {{chat_message.date_created|date:"G:i:s"}}</a> | {{chat_message}}
            </div>
            {% endfor %}
            {% endautoescape %}
        </div>
        {% endif %}
    </div>
    {% empty %}
    <div class='alert ui-state-highlight ui-corner-all'><span class='ui-icon ui-icon-alert icon-left'></span>Round data is not yet available.</div>
    {% endfor %}
    {% endblock data %}
</div>
{% endblock page %}
{% block javascript %}
{{ block.super }}
{% include "includes/experimenter.events.html" %}
{% include "includes/sockjs.html" %}
<script type='text/javascript'>
    function update(json) {
        if (json == Dajaxice.EXCEPTION) {
            console.error("dajaxice error: " + json);
        }
        else {
            if (json.should_transition) {
                console.log("Transitioning participants to " + json.transition_url);
                getCachedSocket().send(createGotoEvent(json.transition_url));
            }
            $('#statusDiv').html(json.status);
            $('#experimentData').accordion("destroy");
            $('#experimentData').html(json.experimentData);
            if (json.error_message) {
                addExperimentMessage(json.error_message)
            }
            registerCallbacks(json.round_data_count, json.active_round_number);
        }
    }
    function registerCallbacks(round_data_count, active_round_number) {
        $('.confirm-experiment-action').each(function() {
            var confirmable = $(this);
            var description = confirmable.attr("title");
            var action= $(this).attr("name");
            confirmable.click(function() {
                confirmable.fastConfirm({
                    questionText: description + " - continue?",
                    onProceed: function(trigger) {
                        Dajaxice.vcweb.core.experiment_controller(update, {'pk': {{experiment.pk}}, 'action':action});
                        $('#statusDiv').hide('fast');
                        $('#experimentData').hide('fast');
                        $('#statusSpinner').show('fast');
                        $(trigger).fastConfirm('close');
                    },
                    onCancel: function(trigger) {
                        $(trigger).fastConfirm('close');
                    }
                });
                return false;
            });
        });
        $('#statusSpinner').hide();
        $('#statusDiv').show('fast');
        $('#experimentData').show('fast');
        console.log("active round number: " + active_round_number);
        if (round_data_count > 0) {
            $('#experimentData').accordion({
                autoHeight: false
            });
        }
    }
    function addExperimentMessage(message) {
        if (message) {
            console.debug("adding message " + message + " to experiment messages div");
            $("#experiment-messages").append($("<div style='font-size: 0.8em;line-height:0.9em;padding:3px;' class='ui-state-highlight' />").append(message));
        }
    }
    $(function() {
        // FIXME: replace with knockout..
            var experimentMessageDiv = document.getElementById('experiment-messages');
            registerCallbacks({{ experiment.round_data_set.count }}, {{ experiment.current_round.sequence_number }});
            // websocket connection
            // FIXME: add auth
            var s = connect('sockjs/experimenter/{{request.user.experimenter.pk}}');
            s.onmessage = function(json_string) {
                console.log("Received message: " + json_string);
                var json = jQuery.parseJSON(json_string);
                switch (json.message_type) {
                case 'info':
                    addExperimentMessage(json.message);
                    break;
                case 'chat':
                    addChatMessage('chat-div-' + json.round_data_pk, json, json.date_created + " " + json.participant, qtipOptions);
                    break;
                case 'submit':
                    $('#participant_data_value_' + json.participant_data_value_pk).html(json.message).effect("highlight", {}, 5000);
                    addExperimentMessage("Participant " + json.participant_number + " (Group #" + json.participant_group + ") submit a harvest decision of " + json.message);
                    break;
                default:
                }
                scrollToBottom(experimentMessageDiv);
            };
            $('#refreshAllParticipants').click(function(evt) {
                console.log("sending refresh event");
                s.send(createRefreshEvent());
                return false;
            });
            $('#transitionAllParticipants').click(function(evt) {
                console.log("sending goto event");
                s.send(createGotoEvent());
                return false;
            });
            scrollToBottom(experimentMessageDiv);
        });
</script>
{% endblock %}

