{% extends "experimenter/base.html" %}
{% block title %}
{{ experiment.experiment_metadata }} #{{ experiment.pk }}
{% endblock %}
{% block page %}
{{block.super}}
<h3>{{experiment}}</h3>
<div class='row-fluid'>
    <div class='span6'>
        <div class='alert alert-white' data-bind='visible: isActive'>
            <h4>ROUND MANAGEMENT</h4>
            <div class='btn-toolbar'>
                <div class='btn-group'>
                    <a class='btn btn-success' data-bind="click: confirmExperimentControllerAction.bind($data, true)" data-action='move_to_previous_round' data-content='Go back to the previous round.'><i class='icon-step-backward'></i> back</a>
                    <a class='btn btn-success' data-bind="visible: isRoundInProgress, click: confirmExperimentControllerAction.bind($data, true)" data-action='end_round' data-content='Ends the round.'><i class='icon-stop'></i> end round</a>
                    <a class='btn btn-success' data-bind="visible: ! isRoundInProgress(), click: confirmExperimentControllerAction.bind($data, true)" data-action='start_round' data-content='Starts the round.'><i class='icon-play'></i> start</a>
                    <a class='btn btn-success' data-bind='click: confirmExperimentControllerAction.bind($data, true)' data-action='advance_to_next_round' data-content='Advances to and starts the next round.'><i class='icon-step-forward'></i> next round</a>
                </div>
            </div>
            <div class='btn-toolbar'>
                <div class='btn-group'>
                    <a class='btn btn-primary' data-bind='click: updateParticipants' data-content='Updates all connected participants.' ><i class='icon-exchange'></i> update participants</a>
                    <a class='btn btn-primary' data-bind='click: refresh' data-content='Updates this page.' ><i class='icon-refresh'></i> refresh this page</a>
                </div>
            </div>
            <div class='btn-toolbar'>
                <div class='btn-group'>
                    <a class='btn btn-danger' data-bind="click: confirmExperimentControllerAction.bind($data, true)"
                        data-action='restart_round' data-content='Restart the round.  This will reset timers and perform any additional round started setup logic.'>
                        <i class='icon-repeat'></i> restart round</a>
                    <a class='btn btn-danger' data-bind="click: confirmExperimentControllerAction.bind($data, true)"
                        data-action='restart' data-content='Restart the entire experiment.  This will reset all data and start the experiment over at round 1.'>
                        <i class='icon-circle-arrow-up'></i> restart experiment</a>
                    <a class='btn btn-danger' data-bind='click: confirmExperimentControllerAction.bind($data, false)' data-action='deactivate' data-content='Deactivates this experiment.'><i class='icon-off'></i> deactivate</a>
                </div>
            </div>
        </div>
        <div data-bind='if: isArchived()'>
            <div class='alert alert-success'>
                <i class='icon-save'></i> This experiment has been archived.
            </div>
        </div>
        <div data-bind="ifnot: isActive() || isArchived()">
            <div data-bind="ifnot: hasParticipants">
                <div class='alert alert-error alert-block'>
                    <h4>No participants</h4>
                    <i class='icon-warning-sign'></i><a href='{{experiment.controller_url}}/register-email-list'>Register bulk email addresses</a> or
                    <a href='{{experiment.controller_url}}/register-test-participants'>add test participants</a>?
                </div>
            </div>
            <div data-bind="if: hasParticipants">
                <div class='alert alert-message'>
                    <h4>Inactive Experiment</h4>
                    <p>
                    There are <span data-bind='text:participantCount' class='badge badge-info'></span> registered participants.
                    Activate the experiment whenever you are ready to collect data.
                    </p>
                    <p class='text-error'>NOTE: activating an experiment <b>deletes all existing data</b>
                    </p>
                    <a data-content='Starts this experiment, assigns participants to groups, etc.'
                        class='btn btn-success' data-bind='click: confirmExperimentControllerAction.bind($data, false)' data-action='activate'><i class='icon-off'></i> activate</a>
                </div>
            </div>
        </div>
        <div class='well experimenter-round-status'>
            <h5>ROUND STATUS</h5>
            <div><b class='text-info' data-bind='text:roundSequenceLabel'></b></div>
            <div><span data-bind='text:roundStatusLabel'></span></div>
            <div>Round started on: <span data-bind='text:currentRoundStartTime'></span></div>
            <div>Time remaining: <span data-bind='text:timeRemaining'></span></div>
        </div>
        <div class='accordion-group'>
                <div class='accordion-heading'>
                    <a class='accordion-toggle' data-toggle='collapse'
                        data-parent='#registeredParticipantsAccordion' href='#registeredParticipants'>
                        Registered participants: <span id='participantCountId' data-bind='text:participantCount' class='badge badge-info'></span>
                    </a>
                </div>
                <div id='registeredParticipants' class='accordion-body collapse'>
                    <div class='accordion-inner' data-bind='foreach: groups'>
                        <table class='table table-compact table-striped table-bordered'>
                            <caption class='text-info'><b><span data-bind='text: name'></span> (PK: <span data-bind='text: pk'></span>)</b></caption>
                            <thead><tr><th>PGR PK</th><th>Participant</th><th>Email</th></tr></thead>
                            <tbody data-bind='foreach: participant_group_relationships'>
                                <tr>
                                    <td data-bind='text: pk'>
                                    <td data-bind='text: participant_number'>
                                    <td data-bind='text: email'>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <div class='alert alert-message alert-block'>
            <h4><i class='icon-download'></i> Download Data</h4>
            <ul class='inline'>
                <li><a href='download/csv'><img src='{{STATIC_URL}}images/famfamfam/page_white_text.png' alt='csv' />csv</a></li>
                <li><a href='download/xls'><img src='{{STATIC_URL}}images/famfamfam/page_white_excel.png' alt='xls'/>xls</a></li>
            </ul>
            <h4><i class='icon-download-alt'></i>Download Configuration Files</h4>
            <ul class='inline'>
                <li><a href='export/configuration.xml'><i class='icon-cog'></i>xml</a></li>
                <li><a href='export/configuration.json'><i class='icon-pencil'></i>json</a></li>
            </ul>
            <a class='btn btn-danger' data-bind='css: { disabled: isArchived}, click: confirmExperimentControllerAction.bind($data, false)' data-action='complete' data-content='Mark this experiment as completed and archive it.'><i class='icon-save'></i> archive</a>
        </div>
    </div>
    <div class='span6'>
        <div style='padding-right: 8px;' class='alert alert-messages'>
            <h4>EXPERIMENT LOG</h4>
            <div  id='experiment-messages' data-bind='foreach: messages'>
                <div>
                    <span data-bind='text: $data'></span>
                </div>
            </div>
        </div>
        {% comment %}
        FIXME: might want to put this functionality into each round data object
        {% endcomment %}
        <h4>Experimenter Notes (<span data-bind='text: roundSequenceLabel'></span>)</h4>
        <form id="experimenterNotesForm" class='form-inline'>
            <div class='controls'>
                <textarea class='input-block-level' id='experimenterNotesText' data-bind='text: experimenterNotes' placeholder="Experimenter notes to be stored with this round's data" rows="3"></textarea>
                <button id='submitExperimenterNotesButton' class='btn btn-primary' type='submit' data-bind='click: saveExperimenterNotes'>Save</button>
            </div>
        </form>
    </div>
</div>
<h3>Experiment Data</h3>
<div class='accordion' id='experiment-chat-accordion'>
    <div class='accordion-group'>
        <div class='accordion-heading'>
            <a class='accordion-toggle' data-toggle='collapse' data-parent='#experiment-chat-accordion' href='#experiment-chat-messages'>All Chat Messages</a>
        </div>
        <div id='experiment-chat-messages' class='scrollable-messages accordion-body collapse'>
            <div class='alert' data-bind='foreach: chatMessages'>
                <div>
                    <span data-bind='text: participant_number'></span>(<span data-bind='text: group'></span>): <strong data-bind='text: value'></strong>
                    <span class='pull-right' data-bind='text: short_date_created'></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='accordion' id='round-data-accordion' data-bind='foreach: allRoundData'>
    <div class='accordion-group'>
        <div class='accordion-heading'>
            <a class='accordion-toggle' data-toggle='collapse' data-parent='#round-data-accordion'
                data-bind='click: $root.loadRoundData, attr: { href: "#" + roundDataId() }'>
                <span class='label label-success' data-bind='text: roundType'></span>Round <span data-bind='text: roundNumber'></span></a>
        </div>
        <div data-bind='attr: { id: roundDataId }' class='accordion-body collapse'>
            <div class='accordion-inner'>
                <div data-bind='if: experimenterNotes'>
                    <h4>Experimenter Notes</h4>
                    <div class='alert alert-message' data-bind='text: experimenterNotes'>
                    </div>
                </div>
                <table class='table table-striped table-bordered'>
                    <caption>Group data</caption>
                    <thead>
                        <tr><th>Group</th><th>Parameter</th><th>Value</th><th>Date created</th></tr>
                    </thead>
                    <tbody data-bind='foreach: groupDataValues'>
                    <tr>
                        <td data-bind='text: group'></td>
                        <td data-bind='text: parameter_label'></td>
                        <td data-bind='text: value'></td>
                        <td data-bind='text: date_created'></td>
                    </tr>
                    </tbody>
                </table>
                <table class='table table-striped table-bordered'>
                    <caption>Participant data</caption>
                    <thead>
                        <tr><th>Participant</th><th>Parameter</th><th>Value</th><th>Date Created</th></tr>
                    </thead>
                    <tbody data-bind='foreach: participantDataValues'>
                    <tr>
                        <td><span data-bind='text: participant_name'></span> (<span data-bind='text: participant_email'></span>)</td>
                        <td data-bind='text: parameter_label'></td>
                        <td data-bind='text: value'></td>
                        <td data-bind='text: date_created'></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id='progress-modal' class='modal hide fade'>
    <div class='modal-header'>
        <h3>Updating experiment data</h3>
    </div>
    <div class='modal-body'>
        <div class='progress progress-striped active'>
            <div id='progress-bar' class='bar' style='width: 100%'></div>
        </div>
    </div>
</div>
{% endblock page %}
{% block javascript %}
{{ block.super }}
{% include "includes/experimenter.events.html" %}
{% include "includes/sockjs.html" %}
<script type='text/javascript'>
    var experimentModelJson = $.parseJSON("{{ experimentModelJson|escapejs }}");
    $(function() {
        function ExperimentModel(experimentModelJson) {
            var self = this;
            var model = ko.mapping.fromJS(experimentModelJson);
            model.currentInterval = ko.observable();
            model.setCurrentInterval = function(intervalId) {
                model.clearCurrentInterval();
                model.currentInterval(intervalId);
            }
            model.clearCurrentInterval = function() {
                console.debug("clearing current interval: " + model.currentInterval());
                if (model.currentInterval()) {
                    clearInterval(model.currentInterval());
                    model.currentInterval(undefined);
                }
            }
            model.tick = function() {
                model.timeRemaining(model.timeRemaining() - 1);
                if (model.timeRemaining() % 10 == 0) {
                    model.checkAllParticipantsReady();
                }
                if (model.timeRemaining() < 0) {
                    model.addMessage("Round time has expired!");
                    model.clearCurrentInterval();
                }
            }
            model.saveExperimenterNotes = function(localModel, evt) {
                var notes = $('#experimenterNotesText').val();
                Dajaxice.vcweb.core.save_experimenter_notes(function(data) {
                    if (data.success) {
                        model.addMessage("Saved experimenter notes.");
                    }
                    else {
                        model.addMessage("Unable to save experimenter notes: " + data);
                    }
                },
                { experiment_id: {{ experiment.pk }}, notes: notes });
            }
            // FIXME: factor out the code duplication with this and confirmExperimentControllerAction for
            // showing the modal and invoking the ajax call if possible
            model.refresh = function() {
                console.debug("refreshing page");
                window.location.reload(true);
            };
            model.loadRoundData = function(localModel) {
                console.debug("loading round data for round data with pk: " + localModel.pk());
                console.debug(localModel);
                if (localModel.participantDataValues().length > 0 || localModel.groupDataValues() > 0) {
                    console.debug("assuming round data has already been loaded");
                    return;
                }
                Dajaxice.vcweb.core.get_round_data(function(data) {
                    localModel.groupDataValues(data.groupDataValues);
                    localModel.participantDataValues(data.participantDataValues);
                }, 
                {pk: localModel.pk()});
            };
            model.update = function(localModel, evt) {
                $('#progress-modal').modal('show');
                Dajaxice.vcweb.core.get_experiment_model(function(data) {
                    ko.mapping.fromJS(data, model);
                    console.debug("time remaining: " + model.timeRemaining());
                    model.startTimer();
                    $('#progress-modal').modal('hide');
                },
                {pk: {{experiment.pk}}});
            }
            model.startTimer = function() {
                if (model.timeRemaining() > 0) {
                    model.setCurrentInterval( setInterval( model.tick, 1000 ) );
                }
            };
            model.advanceToNextRound = function() {
                $('#progress-modal').modal('show');
                Dajaxice.vcweb.core.experiment_controller(function(data) {
                        ko.mapping.fromJS(data, model);
                        model.startTimer();
                        sendUpdateEvent();
                        $('#progress-modal').modal('hide');
                    }, {pk: {{experiment.pk}}, 'action':"advance_to_next_round"});
            }
            model.confirmExperimentControllerAction = function(shouldUpdateParticipants, localModel, evt) {
                element = evt.target;
                if ($(element).hasClass('disabled')) {
                    console.debug("aborting disabled action: " + element);
                    return false;
                }
                confirmAction(element, function(confirmed, action) {
                    $('#progress-modal').modal('show');
                    Dajaxice.vcweb.core.experiment_controller(function(data) {
                        ko.mapping.fromJS(data, model);
                        model.startTimer();
                        if (shouldUpdateParticipants) {
                            sendUpdateEvent();
                        }
                        $('#progress-modal').modal('hide');
                    }, {pk: {{experiment.pk}}, 'action':action});
                });
            }
            model.startOrStopExperimentAction = ko.computed(function() {
                    return model.isRoundInProgress() ? "stop_round" : "start_round";
                    });
            model.startOrStopExperimentActionText = ko.computed(function() {
                    return model.isRoundInProgress() ? "stop" : "start";
                    });
            model.checkAllParticipantsReady = function() {
                console.debug("checking if all participants are ready");
                $.get('/experiment/{{experiment.pk}}/check-ready-participants', function(response) {
                    if (response.all_participants_ready) {
                        model.addMessage("All participants are ready, advancing to next round");
                        model.advanceToNextRound();
                    }
                });
            }
            model.updateParticipants = function(m, evt) {
                confirmAction(evt.target, function(confirmed, action) {
                    if (confirmed) {
                        console.debug("sending update event");
                        sendUpdateEvent();
                    }
                });
            }
            model.addMessage = function(message) {
                model.messages.unshift(message);
            };
            model.hasParticipants = ko.computed(function() {
                return model.participantCount() > 0;
            });
            return model;
        }
        function confirmAction(element, callback) {
            var self = $(element);
            var description = self.attr("data-content");
            var action = self.attr("data-action");
            if (self.hasClass('disabled')) {
                console.debug("disabled action " + action + " - ignoring");
                return false;
            }
            bootbox.confirm(description + "  Continue?", function(confirmed) {
                if (confirmed && callback) {
                    callback(confirmed, action);
                }
            });
        }
        function initialize(experimentModelJson) {
            var experimentModel = new ExperimentModel(experimentModelJson);
            ko.applyBindings(experimentModel);
            // establish sockjs websocket connection
            var s = connect("/experimenter");
            s.onmessage = function(message) {
                console.log("sockjs event: " + message);
                experiment_event = $.parseJSON(message.data);
                switch (experiment_event.event_type) {
                    case 'update':
                        console.debug("FIXME: ignoring update requests, patch sockjs broadcast to not send certain messages");
                        break;
                    case 'chat':
                        experimentModel.chatMessages.unshift(experiment_event);
                        break;
                    case 'participant_ready':
                        experimentModel.checkAllParticipantsReady();
                        // explicit fall through
                    case 'info':
                    default:
                        experimentModel.addMessage(experiment_event.message);
                        break;
                }
            };
            return experimentModel;
        }
        $('[data-content]').popover({placement: 'top', trigger: 'hover'});
        // initialize experiment model JSON from experiment model
        initialize(experimentModelJson);
    });
</script>
{% endblock %}
