{% extends "experimenter/base.html" %}

{% block title %}Register participants for {{ experiment }} {% endblock %}
{% block page %}
<form id='vcweb-form' action='' method='post' class='form-horizontal'>
    {% csrf_token %}
    <h3>Register participants</h3>
    <p>Registering participants for <span style='padding:1px;' class='info'>{{experiment}}</span>.</p>
    <p><span style='padding: 3px;' class='ui-state-highlight'><b>There are currently {{experiment.participant_set.count}} registered participants.</b></span></p>
    {% include "includes/bootstrap-form.html" %}
    <div class='form-actions'>
        <button class='btn btn-primary' type='submit'>Register</button>
        <button class='btn'><a href='/dashboard'>Cancel</a></button>
    </div>
</form>
{% endblock page %}
{% block javascript %}
{{ block.super }}
{% include "includes/jquery.forms.html" %}
<script type='text/javascript'>
    $(function() {
            $('input:visible, textarea:visible').each(function(i, val) {
                var labelTitle = $(val).prev().attr("title");
                $(val).qtip({ content: labelTitle,
                    position: { corner: {target: 'topRight', tooltip: 'bottomLeft'}},
                    style: { name: 'cream', tip: 'bottomLeft'},
                    show: { when: { event: 'mouseover focus'} },
                    hide: { when: { event: 'mouseout blur' } }
                    }
                );
            });
    });
</script>
{% endblock %}

