{% extends "base.html" %}

<h3>Ostrom Lab Frequently Asked Questions</h3>

<div class='panel-group' id='accordion'>
    <div class='panel panel-default'>
        <h4 class='panel-title'>
            <a data-toggle='collapse' data-parent='#accordion' href='#q1'>
                Where is the Ostrom Lab located?
            </a>
        </h4>
    </div>
    <div id='q1' class='panel-collapse collapse in'>
        <div class='panel-body'>
            We conduct experiments in human decision making at the 
            <a href='http://www.asu.edu/map/interactive/?campus=tempe&building=COWDN'>Elinor Ostrom Multi-Methods Laboratory, Cowden 124</a>.
            You will find Cowden 124 right next to the south entrance of Cowden Hall.
        </div>
    </div>
</div>

