{% extends "base-participant.html" %}

{% block head %}
    {{ block.super }}
    {% include "includes/participant.events.html" %}
    {% include "includes/socket.io.html" %}
    <script type="text/javascript">
        $(function() {
                var s = connect(window.location.hostname, 8888);
                s.on('message', function(data) {
                    $("#chat").append($("<div/>").append(data))
                });
                //send the message when submit is clicked
                $('#chatform').submit(function (evt) {
                    var line = $('#chatText').val()
                    $('#chatText').val('')
                    console.log("sending line: " + line);
                    s.send(createMessageEvent(line));
                    return false;
                });
                $('#chatText').focus();
        });
    </script>
{% endblock %}

{% block title %}
Forestry Chat Round
{% endblock %}

{% block content %}
    <h3>Chat</h3>
    <div id="chat" class='notice ui-corner-all'>
        {% for chat_message in chat_messages %}
        {% autoescape off %}
        <div>
            {{ chat_message.date_created|date:"h:s | " }}
            <span class='ui-state-highlight ui-icon-info'>
                {{ chat_message.as_html }}
            </span>
        </div>
        {% endautoescape %}
        {% endfor %}
    </div>
    <form id="chatform">
        <input id='chatText' type="text" />
        <input type="submit" />
    </form>
{% endblock %}


