{% extends "base-participant.html" %}

{% block head %}
    {{ block.super }}
    {% include "includes/participant.events.html" %}
    {% include "includes/socket.io.html" %}
    <script type="text/javascript">
        $(function() {
                var chatDiv = document.getElementById('chat');
                var s = connect(window.location.hostname, 8888, 'chat/{{participant_group_relationship.pk}}');
                s.on('message', function(data) {
                    $("#chat").append($("<div class='ui-state-highlight' />").append(data))
                    // scroll to bottom
                    chatDiv.scrollTop = chatDiv.scrollHeight;
                });
                //send the message when submit is clicked
                $('#chatform').submit(function (evt) {
                    var line = $('#chatText').val()
                    $('#chatText').val('')
                    console.log("sending line: " + line);
                    s.send(createMessageEvent(line));
                    return false;
                });
                $('#chatText').focus();
                chatDiv.scrollTop = chatDiv.scrollHeight;
        });
    </script>
{% endblock %}

{% block title %}
Forestry Chat Round
{% endblock %}

{% block content %}
    <h3>Chat</h3>
    <div id="chat" class='notice ui-corner-all'>
        {% for chat_message in chat_messages %}
        <div class='ui-state-highlight'>
            {% autoescape off %}
            {{ chat_message.as_html }}
            {% endautoescape %}
        </div>
        {% endfor %}
    </div>
    <form id="chatform">
        <input id='chatText' type="text" />
        <input type="submit" value='Send' />
    </form>
{% endblock %}


