{% extends "participant/base.html" %}
{% block head %}
{{ block.super }}
<script type="text/javascript">
    $(function() {
        var chatDiv = document.getElementById('chat-div');
        // var s = connect(window.location.hostname, 8888, 'participant/{{participant_experiment_relationship.pk}}');
        var s = getCachedSocket();
        s.on('message', function(json_string) {
            var json = jQuery.parseJSON(json_string);
            switch (json.message_type) {
            case 'chat':
                addChatMessage('chat-div', json);
                /*
                $("#chat-div").append(
                    $("<div class='ui-state-highlight' />")
                        .append($("<a />").attr("name", "" + json.pk)
                            .text("" + json.date_created))
                        .append(" | ")
                        .append(json.message));
                // scroll to bottom
                scrollToBottom(chatDiv);
                */
                break;
            case 'refresh':
                location.reload(true);
                break;
            case 'goto':
                location.href = json.url;
                break;
            }
        });
        //send the message when submit is clicked
        $('#chatform').submit(function (evt) {
            var line = $('#chatText').val()
            if (line) {
                $('#chatText').val('')
                s.send(createMessageEvent(line));
            }
            return false;
        });
        $('#chatText').focus();
        chatDiv.scrollTop = chatDiv.scrollHeight;
    });
</script>
{% endblock %}
{% block title %}
Forestry Chat Round
{% endblock %}

{% block page %}
<h3>Chat</h3>
    <div class='info ui-corner-all'>
        <span class='icon-left ui-icon ui-icon-info'></span>
        <b>
            Hello, {{participant.full_name}}.
            You are participant {{ participant_group_relationship.participant_number }} in {{participant_group_relationship.group}}.
        </b>
    </div>
    <div id='chat-div' class='chat notice ui-corner-all'>
        {% for chat_message in chat_messages %}
        <div class='ui-state-highlight'>
            <a class='dark-yellow-highlight' name='{{chat_message.pk}}'>{{chat_message.date_created|date:"G:i:s"}}</a> | {{chat_message}}
        </div>
        {% endfor %}
    </div>
    <form id="chatform">
        <input id='chatText' type="text" />
        <div>
            <button type='submit'>Send</button>
        </div>
    </form>
{% endblock %}


