{% extends "participant/base.html" %}
{% block title %}Forestry Instructions{% endblock %}
{% block content %}
<h3>Forestry</h3>
<p>
Welcome.  Thank you for participating in this experiment. The following
exercise is a way to actively participate in a project about individual
decisions and natural resources. Imagine that you or your family must make
decisions about the use of a forest.  You and four other randomly selected
participants have been placed into a group with access to this shared forest.
</p>
<p>
You will play several rounds equivalent to years or wood harvest seasons.
Initially your group has an area of forest with 100 initial resource units.
Each round you and every other participant in your group will have to make a
decision about how many resource units you want to harvest.  At the start you
can harvest a maximum of 5 units and a minimum of 0 units from the resource.
</p>
<p>
{{ next_round_start_message|default:"The next round will start shortly." }}
</p>
{% endblock content %}

{% block sidebar %}
{% include "forestry/includes/harvest-table.html" %}
{% endblock sidebar %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
$(function() {
    var s = connect();
    s.onmessage = function(json_string) {
        var json = jQuery.parseJSON(json_string);
        console.log("received json string: " + json_string);
        switch (json.message_type) {
            case 'refresh':
                console.log("refreshing..");
            window.location.reload(true);
            break;
            case 'goto':
                console.log("goto " + json.url);
            window.location.href = json.url;
            break;
            default:
                console.log("unhandled json message type: " + json.message_type + ":" + json.message);
            break;
        }
    };
});
    </script>
    {% endblock %}

