{% extends "base-participant.html" %}

{% block title %}Forestry{% endblock %}

{% block header %}
{% include "includes/participant-nav-menu.inc" %}
{% endblock header %}

{% block page %}
<div class='info'>
    Welcome back, {{ user.participant }}.
</div>
<h3>{{experiment.namespace|title}} Experiments</h3>
<div class='notice'>
    {% for experiment_status, experiments in experiment_dict.items %}
    <h3> {{ experiment_status|title }} </h3>
    <div class='info'>
        <ul>
            {% for experiment in experiments %}
            <li> <a href='{{ experiment.participant_url }}'>{{ experiment.status_line }}</a></li>
            {% empty %}
            <li class='alert'> No {{ experiment_status }} experiments </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}

