{% extends "base-participant.html" %}

{% block title %}Forestry{% endblock %}

{% block header %}
{% include "includes/participant-nav-menu.inc" %}
{% endblock header %}

{% block content %}
<div id='post'>
    <h2 class='title'>Forestry Experiment</h2>
    <div class='entry'>
        <p>
            Welcome back, {{ user.participant }}.
        </p>

        <fieldset>
            <legend>Active experiments</legend>
            <div class='info'>
                {% if user.participant.active_experiments %}
                <ul>
                    {% for experiment_relationship in user.participant.active_experiments %}
                    <li> <a href='{{ experiment_relationship.experiment.participant_url }}'>{{ experiment_relationship.experiment }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                No active experiments.
                {% endif %}
            </div>
        </fieldset>
        <fieldset>
            <legend>Other experiments</legend>
            <div class='info'>
                {% if user.participant.inactive_experiments %}
                <ul>
                    {% for experiment_relationship in user.participant.inactive_experiments %}
                    <li> <a href='{{ experiment_relationship.experiment.participant_url }}'>{{ experiment_relationship.experiment }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                No other experiments.
                {% endif %}
            </div>
        </fieldset>
    </div>
</div>
{% endblock content %}

