{% extends "base-participant.html" %}
{% block head %}
{{ block.super }}
{% include "includes/participant.events.html" %}
{% include "includes/socket.io.html" %}
<script type="text/javascript">
    $(function() {
        $("#forestryForm").validate({
                rules: {
                    harvest_decision: {
                        required: true,
                        range: [0, {{max_harvest_decision}}]
                    }
                },
                messages: {
                    harvest_decision: {
                        required: "Please enter a harvest decision",
                        range: "Please enter a number between 0 and {{ max_harvest_decision }}"
                    }
                },
        });
        $('#harvestDecisionId').focus(function() {
            this.select();
        });
        $('#harvestDecisionId').focus();
        var s = connect(window.location.hostname, 8888, 'participant/{{participant_group_relationship.pk}}');
        s.on('message', function(json_string) {
            var json = jQuery.parseJSON(json_string);
            switch (json.message_type) {
            case 'goto':
                console.log("going to " + json.url);
                window.location.href = json.url;
                break;
            }
        });
    });
</script>
{% endblock %}
{% block title %}
Participating in {{experiment.status_line}}
{% endblock %}
{% block content %}
<h3>Forestry round number {{ experiment.current_round.round_number }}</h3>
{% for i in number_of_resource_divs %}
<div style="background: url('/static/images/forestry/pine-tree.png') repeat-x; width:600px; height: 79px;">
    &nbsp;
</div>
{% endfor %}
{% if resource_width > 0 %}
<div style="background: url('/static/images/forestry/pine-tree.png') repeat-x; width:{{resource_width}}px; height: 79px;">
    &nbsp;
</div>
{% endif %}
<div class='ui-state-highlight'>
    <span class='icon-left ui-icon ui-icon-info'></span>
    There are <b>{{ resource_level.value }}</b> trees left.
</div>
    <div class='ui-state-error'>
        <span class='icon-left ui-icon ui-icon-info'></span>
        Your current harvest decision is <b>{{ harvest_decision.value }}</b>
    </div>
{% if max_harvest_decision > 0 %}
<form id='forestryForm' action='' method='post'>
    <div class='field'>
        <br/>
        <label for='harvestDecisionId'>How many trees will you harvest this round? <br/><small><b>Choose a number between 0 and {{ max_harvest_decision }}</small></b>:</label>
        <input id='harvestDecisionId' type="text" name='harvest_decision' class='required digits two-digits' maxlength='1'/>
    </div>
    <div class='field'>
        <input type='submit' value='Submit' />
    </div>
</form>
{% else %}
<div class='alert ui-corner-all'>
    <span class='ui-icon ui-icon-alert'></span>
    There aren't enough resources to harvest.
</div>
{% endif %}
{% endblock content %}
