{% extends "base-participant.html" %}
{% block head %}
{{ block.super }}
<script type="text/javascript">
$(function() {
        $('#forestryForm').validate({ 
                rules: {
                    harvestDecisionId: {
                        required: true,
                        range: [0, {{ max_harvest_decision }}]
                    }
                },
                messages: {
                    harvestDecisionId: {
                        required: "Please enter a harvest decision",
                        range: "Please enter a harvest decision between ",
                    }
                }
            });
        });
</script>
{% endblock %}
{% block title %}
Participating in {{ experiment }} {{experiment.status_line}}
{% endblock %}

{% block content %}
<h3>Forestry round number {{ experiment.current_round.round_number }}</h3>
<div class='forestry-resource'>
    <img src='/static/images/forestry/pine-tree.jpg' alt='tree' />
</div>
<p>
The resource size is <b>{{ resource_level.value }}</b>.
</p>
<form id='forestryForm' action='submit-harvest-decision' method='post'>

    <div class='input'>
        <label for='harvestDecisionId'>Enter a number between <b>0 and {{ max_harvest_decision }}</b>:</label>
        <input id='harvestDecisionId' type="text" name='harvestDecision' class='required digits' />
    </div>
    <div class='input'>
        <input type='submit' value='Submit' />
    </div>
</form>
{% endblock content %}
