{% extends "base-participant.html" %}
{% block head %}
{{ block.super }}
{% include "includes/participant.events.html" %}
{% include "includes/socket.io.html" %}
<script type="text/javascript">
    $(function() {
        // var s = connect(window.location.hostname, 8888, 'participant/{{participant_experiment_relationship.pk}}');
        var s = getCachedSocket();
        s.on('message', function(json_string) {
            var json = jQuery.parseJSON(json_string);
            switch (json.message_type) {
            case 'goto':
                console.log("going to " + json.url);
                window.location.href = json.url;
                break;
            case 'refresh':
                window.location.reload(true);
                break;
            }
        });
    });
</script>
{% endblock %}
{% block title %}
Forestry Experiment Round {{ experiment.current_round.round_number }}
{% endblock %}

{% block page %}
<h3>Waiting for the next round to start</h3>
<p>
The facilitator will start the next round when every participant is ready.
<span class='ui-state-highlight ui-corner-all'>
    <small><a class='contactIcon' href="#">send a private message to the facilitator</a></small>
</span>
</p>

<h3>History</h3>
<div id='group-history'>
    {% if all_harvest_round_data %}
    <table class='debriefing'>
        <thead>
            <tr><th>Round</th><th>Original number of trees</th><th>Your harvest decisions</th><th>Your group's total harvest decisions</th><th>Regrowth</th><th>Number of trees left</th></tr>
        </thead>
        <tbody>
            {% for harvest_round_data in all_harvest_round_data %}
            <tr>
                <td>{{harvest_round_data.round_configuration}}</td>
                <td>{{harvest_round_data.original_number_of_trees}}</td>
                <td>{% if harvest_round_data.individual_harvest %}
                    {{harvest_round_data.individual_harvest.value}}
                    {% else %}
                    0
                    {%endif%}
                </td>
                <td>{{harvest_round_data.group_harvest.value}}</td>
                <td>{{harvest_round_data.regrowth.value}}</td>
                <td>{{harvest_round_data.final_number_of_trees}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
</div>
<h3>Instructions</h3>
<div class='info ui-corner-all'>
    Please wait until the next round begins.
    {% comment%}
    add ajax spinner and polling
    {% endcomment %}
</div>
{% endblock %}
