{% extends "base-participant.html" %}
{% block head %}
{{ block.super }}
{% include "includes/participant.events.html" %}
{% include "includes/socket.io.html" %}
<script type="text/javascript">
    $(function() {
        var s = connect(window.location.hostname, 8888, 'participant/{{participant_group_relationship.pk}}');
        s.on('message', function(json_string) {
            var json = jQuery.parseJSON(json_string);
            switch (json.message_type) {
            case 'goto':
                console.log("going to " + json.url);
                window.location.href = json.url;
                break;
            }
        });
    });
</script>
{% endblock %}
{% block title %}
Forestry Experiment Round {{ experiment.current_round.round_number }}
{% endblock %}

{% block page %}
<h3>Waiting for the next round to start</h3>
The facilitator will start the next round when every participant is ready.
<span class='ui-state-highlight ui-corner-all'>
    <small><a class='contactIcon' href="#">send a private message to the facilitator</a></small>
</span>

<h3>Instructions</h3>
<div class='info ui-corner-all'>
    Please wait until the next round begins.
    {% comment%}
    add ajax spinner and polling
    {% endcomment %}
</div>
{% endblock %}
