{% extends "participant/base.html" %}
{% block head %}
{{ block.super }}
{% include "includes/socket.io.html" %}
{% include "includes/participant.events.html" %}
{% include "includes/tablesorter.html" %}
<script type="text/javascript">
    $(function() {
            $('#participant-history').tablesorter({widgets: ['zebra'],
                headers: { 0: {sorter: false}, 1: {sorter: false} }
            });
        $('[title]').qtip({position: { corner: {target: 'topMiddle', tooltip: 'bottomMiddle'}}, style: { name: 'green', tip: 'bottomMiddle'} });
        var s = getCachedSocket();
        s.on('message', function(json_string) {
            var json = jQuery.parseJSON(json_string);
            switch (json.message_type) {
            case 'update':
                console.log("updating data");
                break;
            case 'goto':
                console.log("going to " + json.url);
                window.location.href = json.url;
                break;
            case 'refresh':
                window.location.reload(true);
                break;
            }
        });
    });
</script>
{% endblock %}
{% block title %}
Forestry Experiment Round {{ experiment.current_round.round_number }}
{% endblock %}

{% block page %}
<h3>Waiting for the next round to start</h3>
<p>
The facilitator will start the next round when every participant is ready.
<br/>
<div class='ui-state-highlight ui-corner-all'>
    <small><span class='float-left vcweb-ui-icon ui-icon ui-icon-circle-arrow-w'></span><a href='participate'>return to participation page</a></small>
</div>
<br/>
</p>

<h3>Participant History</h3>
<div id='group-history'>
    {% if participant_history %}
    <table id='participant-history' class='tablesorter'>
        <thead>
            <tr>
                <th style='width:9em;'>Round</th>
                <th style='width:9em;' class='tooltip' title='The number of trees available to your group at the start of the round.'>Initial # trees (A)</th>
                <th style='width:8em;' class='tooltip' title='The number of trees you harvested in this round.'>Your harvest decisions</th>
                <th style='width:12em;' class='tooltip' title='The total number of trees harvested by your group in this round.'>
                    Total group harvest decisions (B)
                </th>
                <th class='tooltip' title='The trees that regrew during this round (C = (A - B) * 0.10)'>Trees regrown (C)</th>
                <th class='tooltip' title='The number of trees available at the end of the round (A - B + C = D).'>Final # trees (D)</th></tr>
        </thead>
        <tbody>
            {% for harvest_round_data in participant_history %}
            <tr>
                <td>
                    {% if harvest_round_data.round_in_progress %}
                    <div id='round-in-progress' style='line-height: 0.9em;' class='alert alertIcon ui-corner-all tooltip' title='This round is still in progress so only your harvest decision for this round is being shown.'>
                        <span style='font-size: 0.8em;'>Round in progress</span>
                    </div>
                    {% endif %}
                    {{harvest_round_data.round_configuration.display_label}}
                    <br/><small>{{harvest_round_data.round_configuration.sequence_label}}</small></td>
                <td>{{harvest_round_data.original_number_of_trees}}</td>
                <td>{% if harvest_round_data.individual_harvest %}
                    {{harvest_round_data.individual_harvest.value}}
                    {% else %}
                    0
                    {%endif%}
                </td>
                {% with sequence_number=harvest_round_data.round_configuration.sequence_number %}
                <td id='group_harvest_{{sequence_number}}'>{{harvest_round_data.group_harvest.value}}</td>
                <td id='group_regrowth_{{sequence_number}}'>{{harvest_round_data.group_regrowth.value}}</td>
                <td id='final_number_of_trees_{{sequence_number}}'>{{harvest_round_data.final_number_of_trees}}</td>
                {% endwith %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
</div>
<h3>Instructions</h3>
<div class='info ui-corner-all'>
    Please wait until the next round begins.
    {% comment%}
    add ajax spinner and polling
    {% endcomment %}
</div>
{% endblock %}
