.chat-sidebar {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    height: 520px;
}
.chat-messages {
    padding: 5px;
}
#chat-div {
    overflow: auto;
    height: inherit;
}
#chatMessage {
    width: auto;
}
.boundaries-status-dashboard p {
    padding-top: 15px;
    font-size: 2em;
}
.boundaries-status-dashboard h4 {
    border-bottom: 1px solid #ccc;
}
.boundaries-status-dashboard {
    height: 100px;
    min-width: 80px;
    margin-right: 0px;
    padding: 8px 8px 8px 8px;
}
