{% extends "base.html" %}

{% block title %} Unsubscribed ~ Virtual Commons Web{% endblock %}

{% block page %}
    <div>
        <h1>Unsubscribe Successful</h1>
        <p>
            We are sorry to see you go, but it's your decision and we respect that.
        </p>
        <p>
            That's why you won't receive any future emails from us to participate in Experiment Sessions.
        </p>
        <p>
            Did you unsubscribe from this email by accident? If so then Resubscribe by enabling can receive Invitations in your account settings page.
        </p>
    </div>
{% endblock page %}