{% extends "forms/base.html" %}

{% block title %}Virtual Commons Web Login{% endblock %}
{% block page %}
<div class="row">
    <div class="col-md-8">
        <h3>Returning User</h3>
            <p>Don&#39;t have an account or a first-time user?  Please <a href='{% url "core:register" %}'>register first</a>.</p>
            <p>If you've forgotten your password, you can <a href='{% url "password_reset" %}'>request a new one</a>.</p>
        <form id='vcweb-form' method='post' class='form-horizontal'>
            {% csrf_token %}
            {% include "includes/bootstrap-form.html" %}
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <button type='submit' class='btn btn-primary'><i class='fa fa-user'></i> Login</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="cas-login">
            <p>
                {% load staticfiles %}
                <img src=" {% static "images/ASU/ASU_logo.jpg" %}" alt="ASU Logo" width="50%">
            </p>
            <p>
                Login via ASURITE 
            </p>
            <div id="login_submit">
                <a href="{% url 'cas.views.login' %}" class='submit'>Sign In</a>
            </div>
        </div>
    </div>
</div>
{% endblock page %}

{% block javascript %}
{{ block.super }}
<script type='text/javascript'>
$(function() {
    $(':input').addClass('required');
    $('#vcweb-form').validate();
    $('#id_email').focus();
});
</script>
{% endblock %}

