{% extends "forms/base.html" %}
{% load bootstrap3 %}
{% block title %}Virtual Commons Web Login{% endblock %}
{% block page %}
<div class="row">
    <div class="col-md-6">
        <h3>Returning User</h3>
        <p>If you've forgotten your password, you can <a href='{% url "password_reset" %}'>request a new one</a>.</p>
        <form id='vcweb-form' role="form" class="form-horizontal" method="post">
            {% csrf_token %}
            {%  bootstrap_form form layout="horizontal" field_class="col-md-6"%}
            {% buttons layout='horizontal'%}
                <button type="submit" class="btn btn-primary">
                    <i class='fa fa-user'></i> Sign In
                </button>
            {% endbuttons %}
        </form>
    </div>
    <div class="col-md-6">
        <div class="cas-login">
            <p>
                {% load staticfiles %}
                <img src=" {% static "images/ASU/ASU_logo.jpg" %}" alt="ASU Logo" width="50%">
            </p>
            <p>
            <a class='external' target='_blank' href='https://getprotected.asu.edu/services/auth'>CAS authentication</a> for ASU students
            </p>
            <div id="login_submit">
                <a href="{% url 'cas.views.login' %}" class='submit'>Sign In</a>
            </div>
        </div>
    </div>
</div>
{% endblock page %}

{% block javascript %}
{{ block.super }}
<script type='text/javascript'>
$(function() {
    $('#vcweb-form').validate();
    $('#id_email').focus();
});
</script>
{% endblock %}

