{% extends "forms/base.html" %}
{% block title %}Password Reset{% endblock %}
{% block form-title %}
<h3>Reset your password</h3>
<p>
    Please enter your email address below and we'll send you instructions for setting a new password.
</p>
{% endblock form-title %}
{% block form %}
{% include "includes/bootstrap-form.html" %}
    <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type='submit' class='btn btn-primary'>Submit</button>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{{block.super}}
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js'></script>
<script>
$(function() {
    var url = $.url();
    var email = $.url().param('email');
    if (email) {
        $('#id_email').val(email);
    }
});
</script>

{% endblock %}
