<h3>Lighter Footprints Summary for {{ summary_date }}</h3>
<p>
{% if experiment_completed %}
The experiment is now over. Thank you for participating.
{% else %}
You are a member of {{ group_name }}. To participate in this experiment, visit <a href='https://vcweb.asu.edu{{experiment.participant_url}}'>https://vcweb.asu.edu{{experiment.participant_url}}</a>.
{% endif %}
</p>
<ul>
    <li>You earned {{ individual_points }} points while the average in your group was {{ average_points }} point(s).</li>
    <li>{{ number_of_chat_messages }} chat messages were posted by your group.</li>
    {% if show_rankings %}
    <li>Your group was ranked {{ group_rank}} out of {{ number_of_groups }}</li>
    {% endif %}
</ul>
<hr>
<p>
{% if completed %}
Congratulations! Your group met the goal of {{ threshold }} average points per person.
{% endif %}
</p>
{% if not experiment_completed %}
<p>
Remember, your group's point totals reset each day at midnight so your group must still earn {{ threshold }} average points per person to increase your chances of winning a prize today.
</p>
{% endif %}
